extends ../layout 
block content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js")
    include ../navbar
    

    style 
        include gallery.css
    .wrapper
        .plx-container
            br
            h1.title  Fanart
            h3.subtitle 
            hr.plx-divider-small
            p 
                | Artwork made with love by our community members, users, and friends! Send your artworks using either 
                a(href="#form"): b this form 
                | or tweeting them to 
                a(href="https://twitter.com/maidpollux"): b @maidPollux
                |!
                br
                | This gallery contains artwork not only from Pollux but from her friends. Event mascots that seasonally appear from time to time~


            hr.plx-divider-icon 
        
        script var galhearts = !{JSON.stringify( gallery.map(a=> ({id:a.id,hearts:a.hearts||0}) ) ) }
        .gallery.plx-flex.plx-flex-wrap#fana
            - const shuffle = function shuffle(r){for(var f,n,o=r.length;0!==o;)n=Math.floor(Math.random()*o),f=r[o-=1],r[o]=r[n],r[n]=f;return r}
            each art in shuffle(gallery).filter(a=>a.author_ID != "88120564400553984").sort((a,b)=> a.extras.rank-b.extras.rank )
                        
                .container: .gal-entry(data-tilt-glare=true data-tilt-max=5 data-tilt-scale=1.1 data-tilt-max-glare="0.4" data-tilt )
                    .art(plx-lightbox)
                        a( href=art.src)
                            .image(plx-img data-src=art.src.replace('artwork','artwork/thumbs'))
                        //.image-bg(plx-img data-src=art.src.replace('artwork','artwork/thumbs') )
                    if userdata
                        a.heart-this(@click="heartit('"+art.id+"')" v-bind:class="isHearted('"+art.id+"') ? 'hearted' : '' ")
                            i: .fas.fa-heart
                            .content {{heartsOf('#{art.id}')}}
                    else
                        a.heart-this(v-bind:class="isHearted('"+art.id+"') ? 'hearted' : '' ")
                            i: .fas.fa-heart
                            .content {{heartsOf('#{art.id}')}}
                    .artist.plx-flex.plx-flex-column
                        .title #{art.title}
                        .desc #{art.description}
                        .spacer
                        .attribution                        
                            .author
                                .brush: i: .fas.fa-paint-brush
                                a(href="/profile/"+art.author_ID target="blank").truncate
                                    span.username #{art.author.split('#')[0]}
                                    span.hash #
                                    span.discrimin #{art.author.split('#')[1]}
                            .social
                                if (art.artistTwit)
                                    a(href="https://twitter.com/"+art.artistTwit target="blank"): .fab.fa-twitter
                                if (art.artistlink && art.artistlink.includes('http'))
                                    a(href=art.artistlink target="blank")
                                        if  art.artistlink.includes('instagram')
                                            .fab.fa-instagram
                                        else if  art.artistlink.includes('deviantart')
                                            .fab.fa-deviantart
                                        else if  art.artistlink.includes('artstation')
                                            .fab.fa-artstation
                                        else if  art.artistlink.includes('tumblr')
                                            .fab.fa-tumblr
                                        else if  art.artistlink.includes('facebook')
                                            .fab.fa-facebook
                                        else
                                            .fas.fa-globe

    br
    hr.plx-divider-icon
    #form
        link(rel='stylesheet',type="text/css" href='/css/file.css')
        .plx-container
            h2.title Submit Art
            h4.subtitle Have a cute drawing of Pollux from your own? Send it here!
            br
            form(action="/sendform?type=fanart&from=Fanart+Submission" enctype="multipart/form-data" method="post" target="_blank")
                .columns
                    .column
                        if userinfo && userinfo.id == "88120564400553984"
                            .field
                                label.label IN BEHALF OF 
                                .control: input.input(type="text" name="behalf" )#beh
                        .field
                            label.label Fanart Title
                            .control: input.input(type="text" name="title" )#name

                        .field
                            label.label Your Twitter (if any)
                            .control: input.input(type="text" name="twitter" )#twitter

                        .field
                            label.label Your Artist Page (Deviantart/Tumblr/Website/Facebook)
                            .control: input.input(type="text" name="page" )#page

                        .field
                            label.label Description
                            .control: textarea.textarea(type="textarea" name="description" )#name
                        br

                        //.column
                        .file.has-name.iis-fullwidth.is-dark.is-small
                            label.file-label
                                input.file-input(type='file', name='file')#file
                                span.file-cta
                                    span.file-icon
                                        i.fas.fa-upload
                                    span.file-label
                                        | Choose a file…
                                span.file-name#filename
                                    | NO FILE SELECTED
                        br
                        
                        input(type="submit" value="Upload").magic-outline.plx-button.plx-margin-left.plx-margin-bottom#send
                        
                    script.
                        var file = document.getElementById("file");
                        file.onchange = function(){
                            if(file.files.length > 0)
                            {
                            console.log(file.files[0])
                            document.getElementById('filename').innerHTML = 					file.files[0].name;
                            }
                        };

            hr.plx-divider-icon
            br
            br
            br




block scripts
    script(src="/js/sweetalert.js")
    
    script.
        const FANA = new Vue({
            el: "#fana",
            data: {
                hearts: ((userdata.counters||{}).hearts || []),
                galhearts
            },
            methods:{
                heartit(item){
                    let action = this.hearts.includes(item) ? "remove" : "add";

                    if(action == "remove"){
                        this.hearts = this.hearts.filter(a=>a!==item);
                        this.galhearts.find(i=>i.id===item).hearts--
                    }
                    else{
                        this.hearts.push(item);
                        this.galhearts.find(i=>i.id===item).hearts++
                    }

                    
                    fetch("/api/user/fanart-hearts/"+(action)+"/"+item, {
                        method: "POST",
                        headers: { "Content-Type": "application/json; charset=utf-8" }
                    }).then(async res => {
                        if (res.ok == true)
                            PLX.notify("Heart added!")
                        else 
                            PLX.notify("ERROR")
                    });
                },
                isHearted(item){
                    return this.hearts.includes(item);
                },
                heartsOf(item){
                    return (this.galhearts.find(i=>i.id===item)||{}).hearts || 0
                }
            }
        })
    script
            include tilt.js