style.
    .server-cover {
        display: flex;
            position: relative;
        flex-direction: column;
        }
        .server-cover .back{
        -webkit-mask-image: linear-gradient(black 50%, transparent 95%);
        }
        .server-cover .fore{
        border-radius: 100%;
        position: absolute;
        margin: 20% 35%;
        width: 30%;
        
        }
    .server-cover .plx-flex{
        flex-direction: column;
        text-align:center;
    }
    .server-cover .serverName{
        font-weight: 900;
        margin-top:10px
    }
    .server-cover .serverID{
        font-family: "Share Tech Mono";
        letter-spacing: .125rem;
        opacity: .5
    }

.server-cover
    img.back(src=serverInfo.splash?`https://cdn.discordapp.com/splashes/${serverInfo.id}/${serverInfo.splash}.png?size=512`:`${HOST}/backdrops/5zhr3HWlQB4OmyCBFyHbFuoIhxrZY6l6.png`)
    if serverInfo.icon
        img.fore(src=`https://cdn.discordapp.com/icons/${serverInfo.id}/${serverInfo.icon}.${serverInfo.icon.startsWith("a_")?'gif':'png'}?size=256`)
    else
        img.fore(src=`https://vignette.wikia.nocookie.net/phoenixs-survivor/images/9/9f/DiavlonovDisc.png/revision/latest?cb=20190315221503`)

    .plx-flex
        .serverName= serverInfo.name
        .serverID= serverInfo.id
    hr.plx-divider-icon.plx-padding-remove

sidebar.dash_side.plx-padding
    ul.plx-nav.plx-nav-default.plx-nav-parent-icon-x(x-plx-nav='multiple:true' plx-scrollspy-nav="closest: li; scroll: true; offset: 120")
        li.plx-nav-header Basic Settings
        li.plx-parent: a(href="#general") General Options
            ul.plx-nav-sub
                li: a(href="#prefix") Prefix
                li: a(href="#language") Language
                li: a(href="#levelupmsgs") Level Up Messages
                li: a(href="#drops") Lootbox Drops
                li: a(href="#notices") Update Notices
        li.plx-parent: a(href="#housekeeping") Housekeeping
            ul.plx-nav-sub
                li: a(href="#modroles") Moderation Roles
                li: a(href="#welcome") Welcome & Farewell Messages
                li: a(href="#switches") Global Command Switch
        li.plx-parent: a(href="#smartroles") Smart Roles
            ul.plx-nav-sub
                li: a(href="#reactionroles") Reaction Roles
                li: a(href="#levelroles") Level Roles
                li: a(href="#selfroles") Command Roles
                


        li.plx-nav-header Advanced Settings
        //li: a Housekeeping
        li: a Channel Options
        li: a Server Logs Setup
        li: a Local Economy
        li.plx-nav-header Social
        li: a Leaderboards

        li.plx-nav-header Content Creators
        li: a Twitch Alerts
        li: a YouTube Alerts
        li: a RSS Feeds
        li.plx-nav-header Misc
        li.plx-nav-header Premium & Partners
        li: a Customise Partner Card
        li: a Local BG Shop
        li: a Local Medal Shop
        li: a Rewards Management

        li.plx-active: a Item
        li.plx-parent: a Parent
            ul.plx-nav-sub
                li: a Sub
                li: a Sub
        