mixin iconButton(i)
  -i = i || {}
  div.poisk
    a.button.has-addons(href=i.href class=i.theme id=i.id disabled=i.disabled)
      span.icon.is-pulled-left
        i(class=i.classes)
      span.divider  &#x2000
      div( style="border-left:1px solid "+i.colA+";border-right:1px solid "+i.colB+" ;height:20px;opacity:.3")
      span.divider  &#x2001
      span.is-pulled-right= i.caption



mixin svgBadge(c)
  .badge(class=c)
    svg.svg-inline--fa.fa-badge.fa-w-16(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='badge', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
      path(fill='currentColor', d='M512,256c0-37.7-23.7-69.9-57.1-82.4c14.7-32.4,8.8-71.9-17.9-98.6c-26.7-26.7-66.2-32.6-98.6-17.9\
      C325.9,23.7,293.7,0,256,0s-69.9,23.7-82.4,57.1c-32.4-14.7-72-8.8-98.6,17.9c-26.7,26.7-32.6,66.2-17.9,98.6\
      C23.7,186.1,0,218.3,0,256s23.7,69.9,57.1,82.4c-14.7,32.4-8.8,72,17.9,98.6c26.6,26.6,66.1,32.7,98.6,17.9\
      c12.5,33.3,44.7,57.1,82.4,57.1s69.9-23.7,82.4-57.1c32.6,14.8,72,8.7,98.6-17.9c26.7-26.7,32.6-66.2,17.9-98.6\
      C488.3,325.9,512,293.7,512,256z')
    .label
      block


mixin checkLine1(condition,onoffid,helptex,hlclass,inverse)
  .level.is-mobile
        .level-left
          label.switch
            -let fullfilled = inverse? !condition : condition
            input(type="checkbox" checked=(fullfilled) id=onoffid+'_o' data-target=onoffid).switches_o
            span.slider.lite
        .level-left: p(id="c_"+onoffid)!= "&#x2003 "+(fullfilled?"ON":"OFF")
        .level-item
        p.help(class = hlclass )= helptex





mixin rolelist(id,whatcheck,namecond,helptex,hlclass)        
  div.control.level-left: .select: select(id=id)
    option= "--NONE--"
    if svroles
      each role in svroles
        if role.id == whatcheck || role.name == namecond
          option(id=role.id selected)= role.name
        else
          option(id=role.id style="color:"+role.color): b= role.name    
  .help(class = hlclass )= helptex



mixin featurebox(title,img,a)
  .featurebox
    ppp yea
  .divs

-
    var groupBy = function(xs, key) {
    return xs.reduce(function(rv, x) {
    (rv[x[key]] = rv[x[key]] || []).push(x);
    return rv;
    }, {});
    };
    
    function miliarize(numstring,strict,symbol){
      let sym = symbol||"." 
      if (!numstring)return 0 ;
        if (typeof numstring == "number"){
            numstring = numstring.toString()
        }
        if(numstring.length < 4)return numstring;

        var stashe = numstring.replace(/\B(?=(\d{3})+(?!\d))/g, sym).toString();

        if(strict==="ultra"){
            return stashe;
        }
        
        if(strict){
            var stash = stashe.split(sym)
        switch(stash.length){
            case 1:
                return stash;
            case 2:
                if(stash[1]!="000") break;
                return stash[0]+"K";
            case 3:
                if(stash[2]!="000") break;
                return stash[0]+sym+stash[1][0]+stash[1][1]+"Mi";
            case 4:
                if(stash[3]!="000") break;
                return stash[0]+sym+stash[1][0]+stash[1][1]+"Bi";
             }

            return stashe;
        }        

        stash = stashe.split(sym)
        switch(stash.length){
            case 1:
                return stash.join(" ");
            case 2:
                if(stash[0].length<=1) break;
                return stash[0]+"K";
            case 3:
                return stash[0]+"Mi";
            case 4:
                return stash[0]+"Bi";
             }
         return stashe;
      }


mixin rotated-sidebar(list)
  ul#side-rotation-nav.plx-subnav.plx-subnav-pill(plx-scrollspy-nav="closest: li; scroll: true; offset: 180; " )
    each item in list.reverse()
      if item
        li
          a(href= item.href || item[0])= item.item || item[1]
mixin pinkInput(id,label,typee,value,placeholder)
  .plx-magic-input
    if label
      .plx-flex   
          .plx-flex-start  
            .plx-pink-input
              input(type=typee id=id value=value placeholder=placeholder  name=id)
              label(for=id)
          .plx-flex-end   
            span!= label
    else 
      .plx-pink-input
        input(type=typee id=id value=value placeholder=placeholder  name=id)
        


mixin pinkSwitch(id,label,onoff)
  .plx-magic-input
    if label || block
      .plx-flex
          .plx-flex-start  
            .plx-pink-check
              input(type="checkbox" id=id name=id checked=onoff||false )
              label(for=id)
          .plx-flex-end   
            if block
                block
            else
                span!= label
    else 
      .plx-pink-check
        input(type="checkbox" id=id name=id  checked=onoff||false)
        label(for=id)

mixin channelSelect(id,channels,defaulte)
  .plx-pink-input
      select(id=id name=id)
          each chn in channels
            if chn.id === defaulte
              option(value=chn.id id=chn.id selected)= (chn.type==0?"#":"🕪 ")+chn.name
            else
              option(value=chn.id id=chn.id)= (chn.type==0?"#":"🕪 ")+chn.name

mixin roleSelect(id,roles,defaulte)
  .plx-pink-input
      select(id=id name=id)
          each rol in roles.filter(r=>r.name!="@everyone").sort((a,b)=>a.position-b.position)
            if rol.id === defaulte
              option(style="color: #"+rol.color.toString(16) value=rol.id id=rol.id selected)= rol.name
            else
              option(style="color: #"+rol.color.toString(16) value=rol.id id=rol.id)= rol.name
              
mixin share(link,title,opts)
    if opts && opts.copy
      input.entrycopy(id="copy-"+opts.id value=link)
    .plx-flex
        button.plx-button.plx-button-small.plx-button-default.copyLink(data-target=opts.id) COPY

        //a.sharebutton(href='https://www.addtoany.com/add_to/copy_link?linkurl='+link+'&linkname='+title, target='_blank')
            img(src='https://static.addtoany.com/buttons/link.svg', style='background-color:royalblue', width='32', height='32')
        a.sharebutton(href='https://www.addtoany.com/add_to/twitter?linkurl='+link+'&linkname='+title, target='_blank')
            img(src='https://static.addtoany.com/buttons/twitter.svg', style='background-color:rgb(85, 172, 238)', width='32', height='32')
        a.sharebutton(href='https://www.addtoany.com/add_to/reddit?linkurl='+link+'&linkname='+title, target='_blank')
            img(src='https://static.addtoany.com/buttons/reddit.svg', style='background-color:rgb(255, 69, 0)', width='32', height='32')
        a.sharebutton(href='https://www.addtoany.com/add_to/whatsapp?linkurl='+link+'&linkname='+title, target='_blank')
            img(src='https://static.addtoany.com/buttons/whatsapp.svg', style='background-color:rgb(18, 175, 10)', width='32', height='32')


-
  
      function hexToHSL(H) {
          let r = 0, g = 0, b = 0;
          if (H.length == 4) {
            r = "0x" + H[1] + H[1];
            g = "0x" + H[2] + H[2];
            b = "0x" + H[3] + H[3];
          } else if (H.length == 7) {
            r = "0x" + H[1] + H[2];
            g = "0x" + H[3] + H[4];
            b = "0x" + H[5] + H[6];
          }
          r /= 255;
          g /= 255;
          b /= 255;
          let cmin = Math.min(r,g,b),
              cmax = Math.max(r,g,b),
              delta = cmax - cmin,
              h = 0,
              s = 0,
              l = 0;

          if (delta == 0)
            h = 0;
          else if (cmax == r)
            h = ((g - b) / delta) % 6;
          else if (cmax == g)
            h = (b - r) / delta + 2;
          else
            h = (r - g) / delta + 4;

          h = Math.round(h * 60);

          if (h < 0)
            h += 360;

          l = (cmax + cmin) / 2;
          s = delta == 0 ? 0 : delta / (1 - Math.abs(2 * l - 1));
          s = +(s * 100).toFixed(1);
          l = +(l * 100).toFixed(1);

          return {h,s,l}
    }

    function HSLToHex(h,s,l) {
        s /= 100;
        l /= 100;

        let c = (1 - Math.abs(2 * l - 1)) * s,
            x = c * (1 - Math.abs((h / 60) % 2 - 1)),
            m = l - c/2,
            r = 0,
            g = 0,
            b = 0;

        if (0 <= h && h < 60) {
          r = c; g = x; b = 0;
        } else if (60 <= h && h < 120) {
          r = x; g = c; b = 0;
        } else if (120 <= h && h < 180) {
          r = 0; g = c; b = x;
        } else if (180 <= h && h < 240) {
          r = 0; g = x; b = c;
        } else if (240 <= h && h < 300) {
          r = x; g = 0; b = c;
        } else if (300 <= h && h < 360) {
          r = c; g = 0; b = x;
        }

        r = Math.round((r + m) * 255).toString(16);
        g = Math.round((g + m) * 255).toString(16);
        b = Math.round((b + m) * 255).toString(16);

        if (r.length == 1)
          r = "0" + r;
        if (g.length == 1)
          g = "0" + g;
        if (b.length == 1)
          b = "0" + b;

        return "#" + r + g + b;
      }