.level.is-marginless
  .level
    .level-item.level-right
      a#resetmedals.button.is-small.is-danger RESET
      div &#x2000
      a#previewmedals.button.is-small.is-light PREVIEW
      div &#x2000
      a#savemedals.button.is-info.is-small CHANGE
br
.columns
  .column
      h1: b Equipped Medals
      ul.box.level
          -var it = 0;
          - if(user.modules.medals.length < 9)user.modules.medals.push(0);
          .columns.is-multiline#equipped
              -let base = JSON.parse(MEDALBASE)
              while it < 9
                if user.modules.medals[it] != undefined
                  -var medal_icon = user.modules.medals[it]
                  -var findMedal = base.filter(m=> m.icon == user.modules.medals[it])[0]
                  -var medal_name = findMedal ?findMedal.name :0
                else
                  -var medal_icon = 0
                  -var medal_name = 0
                .column.is-4
                    if medal_icon!=0 && user.modules.medals[it]!=[0,0] && user.modules.medals[it]!=0
                      li.drop.ui-droppable.medalSlot(data-pos = it)
                        .medallien(data-medal=medal_icon data-medname=medal_name).ui-draggable.drag.ui-sortable-handle.ui-draggable-handle
                              .med-rare
                                
                                -let filter = base.filter(med=>med.icon==medal_icon)
                                if filter[0] != undefined
                                  img.this_rare_med(src="/images/tiers/"+filter[0].rarity+".png")

                              .med-pic
                                img(src="/medals/"+medal_icon+".png")

                              .med-name
                                p.tinyFonto= medal_name

                    else
                      li.drop.ui-droppable.medalSlot
                -it++
 
      //---
      #receivar(style="visibility:hidden")

  .column
      p: b Medal Inventory
      .nano.inv_box
          .nano-content
            ul.cardPile.sortable.dropB.ui-sortable.ui-droppable
              
              if  user.modules.medalInventory
                for i in user.modules.medalInventory
                  -var findMedal = base.filter(m=> m.icon == i)[0]
                  -var ina = findMedal ?findMedal.name :0
                  if user.modules.medals.includes(i)

                  else
                    li.medallien(data-medal=i data-medname=ina).ui-draggable.drag
                        .med-rare
                            -let filter = base.filter(med=>med.icon==i)[0]
                            if filter
                              img.this_rare_med(src=i==0?"":"/images/tiers/"+filter.rarity+".png")
                        .med-pic
                            img(src="/medals/"+i+".png")
                        .med-name
                            p.tinyFonto= ina
