include ../tools/mixins

style
    include imgallery.css

- boorucollection = boorucollection || []
.plx-container
    .section#main    
        h2 Booru Save Gallery
        h4.subtitle Never lose that awesome pic you saw ever again.
        p 
            | Here you will find every image you saved from imageboard commands 
            | (such as <code class='mistyblue'>+safebooru</code> <code class='mistyblue'>+maid</code> <code class='mistyblue'>+lewd</code> ).
            br
            | To avoid overload and ensure everyone can have a good experience. We limit the gallery size to 25 slots as a default.
            br
            | You can increase this limit with Sapphires, Donating, or Leveling Up (+1 slot per level). 
            br
            | If you don't feel like using this feature, you can sell your slots and <b>receive 2 Sapphires</b> for every 10 of them!

        .plx-flex.plx-flex-center.plx-flex-wrap(style="align-items:center")
            -let BSLOTS = -1 + userdata.modules.level + ((userdata.switches||{booruSlots:25}).booruSlots + 1 || 26 )
            span.plx-margin-bottom Your Collection: (#{boorucollection.length}/<span id='booruslots'>#{ BSLOTS }</span>)
            span &#x2003
            span.plx-text-center
                
                a.magic-outline.blue.plx-button.plx-margin-left.plx-margin-bottom(type='button')#buyslots
                    .plx-sapphire.icon32(style="transform:scale(.7)")
                    .plx-sapphire.icon32(style="transform:scale(.7)")
                    .plx-sapphire.icon32(style="transform:scale(.7)")
                    span &#x2002
                    span Expand (10)

                a.magic-outline.red.plx-button.plx-margin-left.plx-margin-bottom(type='button')#sellslots
                    .plx-sapphire.icon32(style="transform:scale(.7)")
                    .plx-sapphire.icon32(style="transform:scale(.7)")
                    span &#x2002
                    span Sell Slots (10)

                div(style="display: inline-flex;")
                    +pinkSwitch("make-booru-public","Make Gallery Public",(userdata.switches||{booruPublic:false}).booruPublic)

    hr.plx-divider-icon
    br

.plx-container.plx-container-large
        if boorucollection.length === 0
            p You don't have any Imageboard searches saved.
        //.plx-grid-small.plx-grid-width-medium.plx-flex-center(plx-grid="masonry: true; parallax: 50; gutter: 20" )
        .plx-grid.plx-flex-top.plx-flex-wrap-top(class="plx-child-width-1-2@s plx-child-width-1-3@m plx-child-width-1-4@l" plx-grid="masonry: true; parallax: 200; ")
            each itm,i in boorucollection.reverse().slice(0,BSLOTS)

            
                .item-card-container(id=itm.saved): .plx-itmcard.plx-grid-margin( plx-scrollspy="cls:plx-animation-slide-top-small; delay: "+(i*300+2000))
                    .plx-inline
                        img(plx-img data-src=itm.url class=(itm.nsfw?'img-nsfw':'') )
                        if(itm.nsfw)
                            .plx-overlay.plx-position-center
                                .nsfw-label
                                    i.fas.fa-heartbeat
                                    span &#x2001 NSFW
                    .plx-flex.plx-flex-around(plx-lightbox)
                        a.plx-button.plx-button-primary(type='button' href=itm.url ) 
                            i.fas.fa-search                            
                        .plx-button.plx-button-secondary(type='button') 
                            i.fas.fa-tags
                        .supertag(plx-dropdown='mode:click; boundary: .plx-itemcard; boundary-align: true; pos: top-center; offset: 80')
                                .plx-flex.plx-flex-wrap.plx-flex-center.tags

                                    each tag in itm.tags.slice(1).split(/ +/)
                                        .plx-label(style="margin:2px")
                                            small= tag


                        .delete.plx-button.plx-button-danger(type='button' data-saved=itm.saved) 
                            i.fas.fa-trash
                            
hr
 

script.
    $(".delete").click(function(){
        Swal.fire({
            title: 'Hey, are you sure?',
            text: "All those deleted bookmarks will be lost in time like tears in rain!\n\n\u200b",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#AA66FF',
            cancelButtonColor: '#FC5065',
            confirmButtonText: 'Yes, time to die!',
            showLoaderOnConfirm: true,
            preConfirm: (login) => {
                return fetch(`/dash/imgbookmarks/${$(this).data('saved')}`,{method:"DELETE"})
                .then(response => {
                    console.log(response)
                    if (!response.ok) {
                        console.log(response)
                    throw new Error(response.status)
                    }
                    return response
                })
                .catch(error => {
                    console.log(error)
                    Swal.showValidationMessage(
                    `Oopsie Woopsie: ${error}`
                    )
                })
            },
            allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
            if (result.value) {

                    Swal.fire({
                        title:'Deleted!',
                        text:'This bookmark is no more!',
                        type:'success',
                        confirmButtonText:'Poof!'
                    })
                    $(`#${$(this).data('saved')}`).remove()

            }
        })
        
    })


    $("#buyslots").click(function(){
        Swal.fire({
            title: 'Expand Gallery?',
            text: "This will expand your gallery by 10 slots for the expense of 3 sapphires!\n\n\u200b",
            type: 'info',
            showCancelButton: true,
            confirmButtonColor: '#AA66FF',
            cancelButtonColor: '#FC5065',
            confirmButtonText: 'Yes pls expand!',
            showLoaderOnConfirm: true,
            preConfirm: (login) => {
                return fetch(`/dash/imgbookmarks/expand`,{method:"POST"})
                .then(async response => {
                    console.log(response)
                    if (!response.ok) {
                        console.log(response)
                        let res = await response.text();
                        throw new Error(res)
                    }
                    return response
                })
                .catch(error => {
                    console.log(error)
                    Swal.showValidationMessage(
                    `Oopsie Woopsie: ${error }`
                    )
                })
            },
            allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
            if (result.value) {

                    Swal.fire({
                        title:'Gallery Expanded!',
                        text:'You can now store 10 more images in your bookmars!',
                        type:'success',
                        confirmButtonText:'Poof!'
                    })
                    TOPBAR.SPH-= 3
                    $("#booruslots").html( Number($("#booruslots").html() )+10);

            }
        })
        
    })

    $("#sellslots").click(function(){
        Swal.fire({
            title: 'Shrink Gallery?',
            text: "This will shrink your gallery by 10 slots and award you 2 sapphires!\n\n\u200b",
            type: 'info',
            showCancelButton: true,
            confirmButtonColor: '#AA66FF',
            cancelButtonColor: '#FC5065',
            confirmButtonText: 'Yes pls!',
            showLoaderOnConfirm: true,
            preConfirm: (login) => {
                return fetch(`/dash/imgbookmarks/shrink`,{method:"POST"})
                .then(async response => {
                    console.log(response)
                    if (!response.ok) {
                        console.log(response)
                        let res = await response.text();
                        throw new Error(res)
                    }
                    return response
                })
                .catch(error => {
                    console.log(error)
                    Swal.showValidationMessage(
                    `Oopsie Woopsie: ${ error }`
                    )
                })
            },
            allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
            if (result.value) {

                    Swal.fire({
                        title:'Gallery Shrunk!',
                        text:'You can now store 10 less images in your bookmars. But now you have +2 Sapphires in your pockets!',
                        type:'success',
                        confirmButtonText:'Yay!'
                    })
                    TOPBAR.SPH+= 2
                    $("#booruslots").html( Number($("#booruslots").html() )-10);

            }
        })
        
    })
    $('#make-booru-public').change(function(){
        let isPublic = $('#make-booru-public').prop('checked');
        return fetch(`/dash/imgbookmarks/makepublic`,{
            headers: { "Content-Type": "application/json; charset=utf-8" },
            body: JSON.stringify({set: isPublic }),
            method:"PATCH"
        })
            .then(res => {                 
                Swal.fire({
                        title:res.ok ? isPublic ? 'Nothing to hide!' : 'Top Secret!' : 'Ouch...',
                        text: res.ok ? isPublic ? 'Your bookmarks are now public!' : 'Your bookmarks are now private!' : 'Something wrong happened! :c',
                        type: res.ok ? 'success' : 'error',
                        confirmButtonText: res.ok ? 'Poof!' : 'Oof!'
                    })
            })
    })

