extends ../layout 
block content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.common.dev.min.js")
    include ../navbar
    

    style 
        include gallery.css
    .wrapper
        .plx-container
            br
            h1.title  Fanart
            h3.subtitle 
            hr.plx-divider-small
            p 
                | Artwork made with love by our community members, users, and friends! Send your artworks using either 
                a(href="#form"): b this form 
                | or tweeting them to 
                a(href="https://twitter.com/maidpollux"): b @maidPollux
                |!
                br
                | This gallery contains artwork not only from Pollux but from her friends. Event mascots that seasonally appear from time to time~


            hr.plx-divider-icon 
        
        script var galhearts = !{JSON.stringify( gallery.map(a=> ({id:a.id,hearts:a.hearts||0}) ) ) }
        .gallery.plx-flex.plx-flex-wrap#fana
            - const shuffle = function shuffle(r){for(var f,n,o=r.length;0!==o;)n=Math.floor(Math.random()*o),f=r[o-=1],r[o]=r[n],r[n]=f;return r}
            each art in shuffle(gallery).filter(a=>a.author_ID != "88120564400553984").sort((a,b)=> a.extras.rank-b.extras.rank )
                        
                .container: .gal-entry(data-tilt-glare=true data-tilt-max=5 data-tilt-scale=1.1 data-tilt-max-glare="0.4" data-tilt )
                    .art(plx-lightbox)
                        a( href=art.src)
                            .image(plx-img data-src=art.src.replace('artwork','artwork/thumbs'))
                        //.image-bg(plx-img data-src=art.src.replace('artwork','artwork/thumbs') )
                    if userdata
                        a.heart-this(@click="heartit('"+art.id+"')" v-bind:class="isHearted('"+art.id+"') ? 'hearted' : '' " plx-tooltip="Heart this!")
                            i: .fas.fa-heart
                            .content {{heartsOf('#{art.id}')}}
                    else
                        a.heart-this(v-bind:class="isHearted('"+art.id+"') ? 'hearted' : '' " plx-tooltip="Login to heart this!")
                            i: .fas.fa-heart
                            .content {{heartsOf('#{art.id}')}}
                    .artist.plx-flex.plx-flex-column
                        .title #{art.title}
                        .desc #{art.description}
                        .spacer
                        .attribution                        
                            .author
                                .brush: i: .fas.fa-paint-brush
                                a(href="/profile/"+art.author_ID target="blank").truncate
                                    span.username #{art.author.split('#')[0]}
                                    span.hash #
                                    span.discrimin #{art.author.split('#')[1]}
                            .social
                                if (art.artistTwit)
                                    a(href="https://twitter.com/"+art.artistTwit target="blank"): .fab.fa-twitter
                                if (art.artistlink && art.artistlink.includes('http'))
                                    a(href=art.artistlink target="blank")
                                        if  art.artistlink.includes('instagram')
                                            .fab.fa-instagram
                                        else if  art.artistlink.includes('deviantart')
                                            .fab.fa-deviantart
                                        else if  art.artistlink.includes('artstation')
                                            .fab.fa-artstation
                                        else if  art.artistlink.includes('tumblr')
                                            .fab.fa-tumblr
                                        else if  art.artistlink.includes('facebook')
                                            .fab.fa-facebook
                                        else
                                            .fas.fa-globe

    br
    hr.plx-divider-icon
    #form
        link(rel='stylesheet',type="text/css" href='/css/file.css')
        .plx-container
            h2.title Submit Art
            h4.subtitle Have a cute drawing of Pollux or one of the mascots from your own? Send it here!
            if !userinfo
                p Please log-in before you can submit stuff here.
            else
                hr
                p
                    | This is a place to send any kind of visual arts that <b>you have drawn</b>. 
                    | Please do not misuse this form by sending unrelated files or "tests". 
                    | Otherwise you might be permanently penalised.
                p 
                    | If you need any references of Pollux or any of the mascots, feel free to ask at our discord server~!

                form(action="/sendform?type=fanart&from=Fanart+Submission" enctype="multipart/form-data" method="post" target="_blank")
                    .columns.plx-flex.plx-flex-wrap
                        .column.plx-width-1-1(class="plx-width-1-2@s" style="padding: 0 3rem;")
                            if userinfo && userinfo.id == "88120564400553984"
                                .field
                                    label.label IN BEHALF OF 
                                    .control: input.input(type="text" name="behalf" )#beh
                                hr
                            
                            .control
                                label.label Fanart Title
                                input.input(type="text" name="title" )#name
                                br

                            
                            .control
                                label.label Your Twitter (if any)
                                input.input(type="text" name="twitter" )#twitter
                                br

                            
                            .control
                                label.label Your Artist Page (Deviantart/Tumblr/Website/Facebook)
                                input.input(type="text" name="page" )#page
                                br

                        .column.plx-width-1-1(class="plx-width-1-2@s" style="padding: 0 3rem;")
                            .control.txt
                                label.label Description
                                textarea.textarea(type="textarea" name="description" )#name                                

                            br
                            .file.has-name.iis-fullwidth.is-dark.is-small(style="text-align: right")
                                label.file-label
                                    input.file-input(type='file', name='file')#file
                                    span.file-cta
                                        span.file-icon
                                            i.fas.fa-upload
                                        span.file-label
                                            | Choose a file…
                                    span.file-name#filename
                                        | NO FILE SELECTED
                            br
                            
                            input(type="submit" value="Upload").magic-outline.plx-button.plx-margin-left.plx-margin-bottom#send
                            
                        script.
                            var file = document.getElementById("file");
                            file.onchange = function(){
                                if(file.files.length > 0)
                                {
                                console.log(file.files[0])
                                document.getElementById('filename').innerHTML = 					file.files[0].name;
                                }
                            };

                hr.plx-divider-icon
                br
                br
                br




block scripts
    script(src="/js/sweetalert.js")
    script
        include fanart.js
    script
        include tilt.js