
//script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js')


script(  src='https://cdnjs.cloudflare.com/ajax/libs/vue-color/2.2.3/vue-color.js')
script(  src="https://unpkg.com/hooper@0.3.4/dist/hooper.min.js")

script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js')
link(rel='stylesheet' href='/css/hooper.css')
link(rel='stylesheet' href='/css/loader.css')
link(rel='stylesheet' href='/css/profile.css')
#postloader(style="position: fixed;bottom: 50px;left: 50px;transform: scale(.5); display:none; z-index: 5000")
	.whirly-loader Doing Things...


mixin wifeBox
	#wifebox.plx-container.plx-flex.plx-flex-wrap
		.plx-width-1-1
			.dash-pill#wife-bar(v-bind:style="{'border-color':favcolor.hex}" style="height:auto")
				//.background-slot(style="background-image:url('/backdrops/"+userdata.modules.bgID+".png');"   )
				.backblur 
				.plx-flex
					.wifevatar
					.wifename
					.wifesince
				.plx-flex-column     
					ul.menuzinho.plx-subnav.plx-subnav-pill
						span SORT
						.li(v-bind:class="{'plx-active': sortWife=='date'}"): a(@click="toggleWifeOrder('date')") DATE
						.li(v-bind:class="{'plx-active': sortWife=='ring'}"): a(@click="toggleWifeOrder('ring')") RING
						.li(v-bind:class="{'plx-active': sortWife=='lovp'}"): a(@click="toggleWifeOrder('lovp')") LOVEPOINTS


					div(v-if="RSHP.loading !== true"): div(v-for="rel in RSHP" )

						.wife-block.plx-flex( v-bind:class="rel.id == featuredMarriage?'is-featured':''" v-if='rel.wife')

							.avatar: img(:src="`https://cdn.discordapp.com/avatars/${rel.wife.id}/${rel.wife.avatar}.${rel.wife.avatar.startsWith('a_')?'gif':'png'}?size=64`")
							.detail
								.feats
									div(v-if="rel.id == rel.wife.featuredMarriage" plx-tooltip="This person features you in their profile! <3")  
										i.fas.fa-star 
									div(v-else  plx-tooltip="This person does not display you in their profile. &lt;/3")  
										i.far.fa-star(style="opacity:.6")
								.init
									div(v-if=`'${userdata.id}' == rel.initiative` plx-tooltip="You proposed to this person!") 
										i.far.fa-heart(style="opacity:.6")
									div(v-else   plx-tooltip="This person proposed to you!")
										i.fas.fa-heart
							.username
								span.name {{rel.wife.username}}
								span.discrimin(class="-plx-visible@m") # {{rel.wife.discriminator}} 
							.since.mome(class="-plx-visible@m") {{since(rel.since)}}
							.ring: img(:src="`/build/items/ring_${rel.ring}.png`")

						div(plx-drop='mode:click; animation:plx-animation-slide-top-small' style="width:auto"): .wife-actions(:id="rel.id")
							.plx-button.plx-button-secondary(@click="changeFeatMarriage(rel.id)", :data-for="rel.id") 
								i.fas.fa-star
								| FEATURE
							.plx-button.plx-button-warn(:data-for="rel.id" @click="Swal.fire('','To upgrade your ring, craft a higher-quality ring and re-propose to your current spouse.','info' )") 
								i.fas.fa-ring
								| UPGRADE
							.plx-button.plx-button-danger(:data-for="rel.id" @click="Swal.fire('','To divorce someone, use <code>p!divorce [USER ID]</code>.','info' )") 
								i.fas.fa-heart-broken
								| DIVORCE

					.wife-block.empty
						i.fas.fa-unlock
						span &#x2000 UNLOCK SLOTS



div#dash( ).plx-position-relative.plx-flex.plx-flex-wrap

	// NOTE Sidebar
	.profile-editor-sidebar.plx-width-1-1(class="plx-width-1-3@m" v-bind:style="{'--favcolor-dim':favcolor.hex+'56','--favcolor':favcolor.hex}"  )
		.c(style="position: fixed; bottom: 20px; right: 20px; z-index: 10")
			a(@click='saveAll()').plx-button.plx-button-secondary.plx-margin-right.plx-margin-bottom(type='button'  style="margin-top:100px")
				i.fas.fa-save              
				span &#x2002 Save All

		// NOTE --Name, Tag, About
		.main-profile.plx-flex(style="align-items: center; max-width:1250px; margin:auto " plx-scrollspy="cls:plx-animation-slide-top-small; delay: 600 ").plx-margin
			.avicontainer     
				.avatar
					img(src=userdata.meta.avatar||userinfo.pic width='512px' ).hexagon
				#frame( plx-toggle="target: #frame img; cls: disengaged" )
					if(userdata.switches && userdata.donator)
						img(src=`/build/profile/frames/${userdata.donator}.png` class=userdata.switches.profileFrame?'':'disengaged' @click="frame=!frame; AUTOSAVE('FRAME')")
			.info.plx-width-1-1

				.name.title
					.flair-container
						#flairSelect
							hooper(  :settings="hooperSettings" style='height:400px !important' ref='flairs' @slide="saveFlair" )
								slide(v-for="(FLAIR, idx) in flairsAvailable" :key="idx" :index="idx" ) 
									img.flair( :src='`/build/flairs/top/${FLAIR}.png`' v-on:click="gotoFlair(idx);" )

					//.avatar(class='plx-hidden@s').plx-inline
						img(src=userdata.meta.avatar ).hexagon
					span= userdata.meta.username
					span.discrimin="#"+ userdata.meta.discriminator

				input.tagline(v-model="tagline" @change="AUTOSAVE('TGL')" placeholder="Write something sorta cool here...")
				.help Tagline: 
					small(style="opacity:.8;font-style: italic") A one-liner that best describe you
				textarea.about(rows="4" cols="50" v-model='persotext' @change="AUTOSAVE('PTX')" placeholder="Write something extra flamboyantly cool here...") 
				.help Personal Text: 
					small(style="opacity:.8;font-style: italic") Up to 4 lines of anything you want to tell the world
			.level.numeric-large(class='plx-visible@m')
				.num= userdata.modules.level
				.name LEVEL 


		// NOTE --Custom BG Loader
		br
		br
		br
		
		#custom-bg-loader
			.plx-container
				h3.title Custom Background
				h5.subtitle(v-if="userIsPremium")
					| Your 
					b Prime subscription
					| allows a custom background to be uploaded!*
					
				h5.subtitle(v-else)
					a(href="https://patreon.com/join/pollux" target="blank") Upgrade to Prime 
					span and upload custom background!
				small.help(v-if="userIsPremium" style="opacity:.5")
					| (*) Images must be SFW. If the image is deemed inappropriate we reserve the right to reset it. Abusing this perk may result in a ban or suspension

			.bg-load-container(v-if=`userIsPremium && backgroundsAvailable.find(x=>x.code=='${userdata.id}')`)
				.bg-insertion(style="transform:scale(.8)").plx-position-relative
					.slider
						.plx-slider
							hr
							label(for="op")
								b Frame Opacity: 
								| {{ ~~(frameOpacity*100) }}%
							br
							input#op(v-model='frameOpacity' type='range' min=.1 max=1 step=.01 style="width: 200px")


					.canvas-container
						canvas#bg-canvas(width="720" height="380" )
					img.bg-frame(src="/images/demo/profile_dummy.png" :style="{'pointer-events':'none', 'opacity': frameOpacity}" )
				.load-button
					input#file-upload(type="file", accept="image/*", hidden, ref="custombgHolder", @change="setFile()")
					a(@click='chooseFiles()').magic-outline.plx-button.plx-margin-bottom(type='button' )
						i.fas.fa-upload
						span &#x2002 Select Custom Background
					div &#x2003
					a(@click='sendFile()').magic-outline.plx-button.plx-margin-bottom(type='button' )
						i.fas.fa-plane
						span &#x2002 UPLOAD!

			.padlock(v-else).plx-position-relative
				img.fake-frame(src="/images/demo/profile_dummy.png")
				a.can-enable(v-if="userIsPremium", @click="createNewCustomBg()")
					i.fas.fa-unlock
					span &#x2000 Create Custom BG now!
						
				.cannot-enable.can-enable(v-else)
					i.fas.fa-lock
					span &#x2000 Reserved for Prime Users
			
			br
			br
			


		// NOTE --Wifebox I (1400+)
		div(v-if="window.width > 1400")
			.plx-container
				h3.title Marriage Manager
				h5.subtitle
					|  In case of divorce disputes call 1-800-NUKE-MY-WIFE 
			+wifeBox


	// NOTE Main Container
	#main-content.plx-container.plx-flex.plx-flex-wrap.plx-width-1-1(class="plx-width-2-3@m")

		// NOTE --COLORPICKER
		#colorpicker.dash-pill(v-bind:style="{'border-color':favcolor.hex}").plx-width-1-1
			.background-slot( v-bind:style='{ "background": favcolor.hex , opacity: 0.1}')
			.info.plx-flex.plx-flex-between
				.c1.plx-width-2-3
					.title Accent Color
			div.plx-flex
				#colorname.plx-width-1-1(class="plx-width-1-3@m")
				.expandable(v-on:mouseover="isColorpickerOpen=true" v-on:mouseleave="isColorpickerOpen=false")
					.picker-container: .picker
						transition(name="pop" )
							chrome-picker(v-show='isColorpickerOpen', v-model='favcolor' )
								.plx-invisible  {{fuckThis()}}
						.swatch(v-on:click='', v-bind:style='{ background: favcolor.hex }') 
					.suggestions
						.info.plx-flex.plx-flex-between.plx-width-1-1
							.c1.plx-width-2-3
								.title Color Suggestions
						a.colorPick(v-for="color in favcolorOptions" :plx-tooltip="color.name" @click="setFavColor(color.hex)" :style="`background-color: ${color.hex}`")


		// NOTE --BG PICKER
		.plx-width-1-1(class="plx-width-3-5@l")
			.dash-pill#background-bar(v-bind:style="{'border-color':favcolor.hex}")
				.background-slot(style="background-image:url('/backdrops/"+userdata.modules.bgID+".png');"   )
				.backblur
				.info.plx-flex.plx-flex-between
					.c1.plx-width-2-3
						.title Background
						.name.sel {{selectBackground.name}}
						.bgcode
							code.mistyblue= userdata.modules.bgID
					.c2.plx-width-1-3(class="plx-visible@m")
						.background-thumb(style="background-image:url('/backdrops/"+userdata.modules.bgID+".png')" )

				.bottom.test
					#select-bg         
						v-select(
							@input="onChange",
							v-model="selectBackground"
							:options= "backgroundsAvailable",
							:filter= "bgFiltering",
							:close-on-select= "false",
							:clearable= "false",
							:value= `backgroundsAvailable.find(x=>x.code=='${userdata.modules.bgID}')`,
							label='name'
						)    
							template(slot='selected-option', slot-scope='option')
								span(style='transform:translateY(-5px)')
									.plx-rarity-icon(:class='option.rarity') 
									| {{option.name}}
							template(slot='option', slot-scope='option')
								.bg-sel-opt(:plx-tooltip='option.name')
									.bgface(:style='`background-image:url("${option.img}");`')
									div(:class='`plx-rarity ${option.rarity}`')

		// NOTE --STICKER PICKER
		.plx-width-1-1(class="plx-width-2-5@l")
			.dash-pill#sticker-bar(v-bind:style="{'border-color':favcolor.hex}")
				.background-slot(v-bind:style="`background-image:url('/build/boosters/showcase/${selectBooster.icon}.png'); background-size: 200%;`" )
				.backblur
				.info.plx-flex.plx-flex-between
					.c1.plx-width-1-1 
						.title Featured Sticker
						br
						br

						#select-sticker   
							.help Pack    
							v-select(
								@input="onChangeStickerPack",
								v-model="selectBooster"
								:options= "boostersAvailable.filter(x=>!!stickerAvailable.find(y=>y.series_id == x.icon))",
								:filter= "stkFiltering",
								:clearable= "false",
								:value= "boostersAvailable.find(x=> x.id ==  selectBooster.id) || {name:'none'}",
								label='name'
							)    
								template(slot='selected-option', slot-scope='option')
									span(style='transform:translateY(-5px)')
										.plx-rarity-icon(:class='option.rarity') 
										span.sticker-sel-span &#x2000 {{option.name}}

								template(slot='option', slot-scope='option')
									.stick-sel-opt
										.stickerpack-icon(:style="`background-image:url('/build/boosters/showcase/${option.icon}.png')`"  class="plx-visible@m")
										span(style='transform:translateY(-5px)')
											.plx-rarity-icon(:class='option.rarity')
											| {{option.name}} 


							div(v-show="selectBooster && selectBooster != 'none'")
								.help Sticker
								v-select(                  
									@input="onChangeSticker",
									v-model="selectSticker"
									:options= "stickerAvailable.filter(x=>x.series_id == selectBooster.icon )", 
									:filter= "stkFiltering",
									:close-on-select= "false",
									:clearable= "false",
									:value= `stickerAvailable.find(x=>x.id=='${userdata.modules.sticker}')`,
									label='name'
								)    
									template(slot='selected-option', slot-scope='option')
										span(style='transform:translateY(-5px)')
											.plx-rarity-icon(:class='option.rarity') 
											span.sticker-sel-span &#x2000 {{option.name}}


									template(slot='option', slot-scope='option')
										.stick-sel-opt
											.sticker-icon(:style="`background-image:url('/stickers/${option.id}.png')`"  class="plx-visible@m")
											span(style='transform:translateY(-5px)')
												.plx-rarity-icon(:class='option.rarity')
												| {{option.name}} 

					.c2.plx-width-1-3

						.sticker-pack(v-show="selectBooster && selectBooster != 'none'" :style="`background-image:url('/build/boosters/showcase/${selectBooster.icon}.png')`" )
						.pakInfo(plx-drop="offset: -80").plx-card
							.title 
								.plx-rarity-icon(:class='selectBooster.rarity')
								span &#x2000  {{selectBooster.name}}
							.size Pack Size: {{selectBooster.size}} 
							.droppable Found on Lootboxes? {{selectBooster.droppable}} 

						.sticker-thumb(v-show="selectSticker && selectSticker != 'none'" :style="`background-image:url('/stickers/${selectSticker.id}.png')`" )

				.bottom.test

		// NOTE --MEDAL PICKER
		mixin Medal (medal)
			.medal-chip.ui-draggable.drag(plx-tooltip=medal.name, data-medal = medal.id || medal.icon data-cat=medal.category.toLowerCase() data-search=medal.name+' '+medal.category data-rarity=medal.rarity)
				.face(style="background-image: url('/medals/"+medal.icon+".png');")
				.rarity: .plx-rarity-icon(class= medal.rarity, style="z-index:5")
		#medals.plx-width-1-1
			#equipped.plx-flex-wrap.plx-flex.plx-flex-column.plx-width-1-1(class="plx-width-2-5@m")
				//(class="plx-width-1-3@m")
				-while (userdata.modules.medals.length < 9) userdata.modules.medals.push(0);
				.eq-container
					each medal in userdata.modules.medals.map(md=> MDINFO.find(m=> (m.icon||m.id) == md) )
						.drop.ui-droppable.medalSlot(data-pos = it)
							if medal
								+Medal(medal)

			br
			#plx-filter.plx-width-1-1(class="plx-width-3-5@m")
				//.selector
					input(type='text', v-model='search' @keyup="filterMeds()")
				div(plx-filter='target: #inventory')
					#inventory.ui-sortable.ui-droppable
						-const INVENTORY = MDINFO.filter(md=> userdata.modules.medalInventory.includes(md.icon || md.id) )
						each medal in INVENTORY.filter(md=> !userdata.modules.medals.includes(md.icon))
							+Medal(medal)
					.controls
						.equipped-panel
							a.random(@click="medalrandom")
								i.fas.fa-dice
								span &#x2000 RANDOM &#x2003
								i.fas.fa-cog.fa-spin.loading-icon

							a.danger(@click="medalreset")
								i.fas.fa-fire-alt
								span &#x2000 RESET &#x2003
								i.fas.fa-cog.fa-spin.loading-icon         

						#filter(plx-filter-control="group:rarity")
							.search
								input(type='text', v-model='search' @keyup="filterMeds()")
							.tier
								a(plx-filter-control="" style="height: 32px; width: 32px; background: url('/images/tiers/all.png') ; background-size: contain;" plx-tooltip="ALL").plx-rarity-icon.plx-hover-glow
								a(plx-filter-control="filter:[data-cat='achievements']; group:cat" style="height: 32px; width: 32px; background: url('/images/tiers/achiev.png') ; background-size: contain;" plx-tooltip="Achievements").plx-rarity-icon.plx-hover-glow
								span |
								each rar in ['C','U','R','SR','UR','XR']
									a(plx-filter-control="filter:[data-rarity='"+rar+"']; group:rarity" class=rar style="height: 32px; width: 32px").plx-rarity-icon.plx-hover-glow
							br
			br

		// NOTE --Wifebox II 
		div(v-if="window.width < 1400").plx-width-1-1
			+wifeBox            


hr.plx-divider-icon


script(defer)
	include profile_edit.js
