.sidebar.plx-flex.plx-flex-wrap.plx-flex-center
    if userprofile.donator && userprofile.switches.donateStreak
        .donoblock
            h3 #{userprofile.donator} Supporter
            img(src=`/images/donate/${userprofile.donator}.png`)
            -let donRank = donoranks.filter((v,i,a)=> v.donoScore > a.find(u=>u.id ===userprofile.id).donoScore )
            h4 #{userprofile.switches.donateStreak[userprofile.donator]} MONTHS
            -let others = userprofile.switches.donateStreak.total - userprofile.switches.donateStreak[userprofile.donator]
            if others
                p #{others} months in other tiers
                p ##{donRank.length||0} Top All-Time 
    else
        .ad-space(v-html="AS2")
        
        
    .badges
        if (userprofile.switches && userprofile.switches.badges)
            include profile_pieces/badge_template.pug
            each badge in userprofile.switches.badges
                +drawBadge(badge)


    .completionist.plx-padding-small
        h4  Completionist Status
        +progressBar(userprofile.modules.stickerInventory.length , stickersSize    ,"Stickers",0)
        +progressBar(userprofile.modules.bgInventory.length      , backgroundsSize ,"Backgrounds",0)
        +progressBar(userprofile.modules.medalInventory.length   , medalsSize      ,"Medals",0)
        +progressBar(userprofile.modules.achievements.length          , 100      ,"Achievements",0)

    if userprofile.donator && userprofile.switches.donateStreak
        .ad-space(v-html="AS2")