.uwu-bar.plx-flex.plx-flex-between
    .full.small.plx-flex.plx-flex-between(:href="`/profile/${wifeData.id}`",  v-if="relationships.loading")
        p
            i.fas.fa-cog.fa-spin.favc-color
            | &#x2003 LOADING
    .full.small.plx-flex.plx-flex-between(:href="`/profile/${wifeData.id}`",  v-if="!relationships.loading && relationships.length && !userprofile.featuredMarriage")
        p 
            i.fas.fa-heart-broken.favc-color
            | &#x2003 #{userprofile.meta.username} doesn't feature none of their spouses. :(
    .full.small.plx-flex.plx-flex-between(:href="`/profile/${wifeData.id}`",  v-else-if="!relationships.loading && !wifeData.id")
        p 
            i.fas.fa-heart-broken.favc-color
            | &#x2003 #{userprofile.meta.username} is Single
    a.userblock.small.de-link.wife(:href="`/profile/${wifeData.id}`",  v-if="!relationships.loading && wifeData.id")
       
        .avatar
            img( :src="`https://cdn.discordapp.com/avatars/${wifeData.id}/${wifeData.avatar}.${wifeData.avatar.startsWith('a_')?'gif':'png'}?size=64`").hexagon
            .profile-frame.uwu-person.avatar-frame
                img(src="/build/web-profile/plain_hex.svg" plx-svg).back-svg-frame
                img(src="/build/web-profile/plain_hex.svg" plx-svg).svg-shine
        .info.plx-flex.plx-flex-column
            .username.plx-flex.plx-flex-start
                span.name {{wifeData.username}}
                span.discrimin {{wifeData.discriminator}}
                .badge
            .tagline {{wifeData.tagline}}
            .ringsbar.plx-flex.plx-flex-between
                //-rings = [0,0,0,0,0,0,0,0,0,0,0]
                .ring(v-for="ring in wifeData.ringCollection||[]")
                    img(  :src="`/build/items/${ring}.png`"  width=24 )
                .plus
                    span
                        | {{(wifeData.ringCollection||[1]).length>6 ? (wifeData.ringCollection||[1]).length - 6 :""}}

    .uwu-status.plx-flex.plx-flex-between(v-if="!relationships.loading && wifeData.id")
        .info
            .since.moment {{ wifeData.since[0] }} ({{ wifeData.since[1] }})
            .tier-name ---
            .lvp {{wifeData.lovepoints}} LVP
        .ring
            img(  :src="`/build/items/${wifeData.ring}.png`" width=64 )