html
  body


     - //var locale = Document.getElementById("locale").innerHTML


     - function sanitise(a){
     -    a = a || "none"
     -    return a.replace(/{{prefix}}/g , "p!").replace(/{{goods}}|{{GOODS}}/g , "Rubines").replace(/{{good}}|{{GOOD}}/g , "Rubine").replace(/\*\*(.*)\*\*/g , "<b>$1</b>").replace(/\*(.*)\*/g , "<i>$1</i>").replace(/`(.*?)`/g , "<code>$1</code>").replace(/(@[A-z]*)/g , " <code>$1</code>").replace(/__(.*?)__/g , " <u>$1</u>").replace(/\:warning\:/g , "⚠").replace(/\\n|\n/g , "<br>").replace("http://pollux.fun/bgshop" , "<a href='http://pollux.fun/bgshop'><b>THIS LINK</b></a>")
     - }

     div

      .box


        each v, i in commands.tree
          if i == "!event"
            -y = "🎃 EVENT"
          if i == "moderation"
            -y = "mod"
          if i == "utility"
            -y = "util"
          if i == "games"
            -y = "game"
          if i == "frenes"
            -y = "memes"
          if i == "sound"
            -y = "Sound FX"
          if i == "forFun"
            -y = "forfun"
          if i == "music"
            -y= "music"
            
            
          -var type = {nsfw:"is-danger", moderation: "is-info", "!event":"is-purple" }
          -var cls = type[i] || "is-primary"

          .message.is-small(class=`${cls}`)
            .message-header(id = i ): b=translation.modules[i] ||translation.modules[y] || y || i
            .message-body
              if i=="!event"
                
                .level
                  img(src="/build/event/halloween18/logo.png" width="200px").level-left
                  #cdw.level-item(style="text-align:center;font-size:42px")
              table.table.is-striped.is-size-7
                thead.is-size-7
                  th.is-narrow= translation.website.command ||  "Command"
                  th.is-hidden-mobile(width="33%")= translation.website.description || "Description"
                  th(width="35%")= translation.dict.usage || "Usage"
                  th(width="22%").is-hidden-mobile= translation.website.aliases || "Command Aliases"
                tbody
                  each va in commands.tree[i]
                      tr
                        td: b= ""+va
                        td.is-hidden-mobile!= sanitise(jason.help[va]) || "NONE"
                        td!= sanitise(jason.usage[va]) || sanitise(jasonDev.help[va]) ||"NONE"
                        td.is-hidden-mobile
                          for items, key in alias
                            if (items==va.toLowerCase())
                              .tag.is-small.is-dark(style="margin:2px")= "+"+key

  //pre=JSON.stringify(commands.tree)
  script(src="/js/cdwn.js")
  script.
  
      $(".nano").nanoScroller();
