extends layout
mixin rarity(r,RR)
      .level
        .level-right
          figure.image.is-48x48
            img(src="/images/tiers/"+RR+".png")
          .title: b!= "&#x2003 "+r.toUpperCase()



block content
  style.
    .icon{
    align-items: initial;
    display: initial;
    justify-content: initial;
    height: initial;
    width: initial;
    }
    .tier{
    position:absolute;
    top:-10px;
    left:-15px;
    height:42px;
    z-index:100
    }
    .box{
    position:relative;

    }
    .b-head{
    font-size: smaller;
    top:0px;
    left:0px;
    width:100%;
    border-radius:0 5px 0 0 ;
    position:absolute;
    background:#d94690;
    color:#ffffff;
    text-align:right;
    padding: 4px 8px 4px 16px ;
    } 
    .b-foot{ 
    bottom:0px;
    left:0px;
    width:100%;
    border-radius:0 0 5px 5px ;
    position:absolute;
    background:#32323a;
    text-align:right;
    z-index:160;
    padding: 4px 8px 4px 16px ;
    box-shadow:0px 3px 5px rgba(50, 50, 58, 0.38)
    }
    .i64{
    margin:16px 8px;
    height:84px;
    display:flex;
    align-items:center;
    }
    img.SR,img.UR{
    animation:glow_b 3s both infinite;
    }
    img.U,img.R{
    animation:glow_b 5s both infinite;
    }
    .i64 img{
    height:80px;
    z-index:12
    }
    .b-body{
    position:relative;
    z-index:150
    }
    .b-tags{
    position:absolute;
    left:0px;
    top:100%;
    background: whitesmoke;
    z-index:160;
    width:100%;
    padding:8px;
    display:flex;
    border-radius:0 0 5px 5px ;
    align-items:center;
    text-align:center;
    box-shadow:0px 3px 5px rgba(50, 50, 58, 0.38);
    transition: all 500ms ease;
    transform: scale(1,0);
    transform-origin: top;
    }
    .b-tags.open{
    animation: opn .51s both;
    }
    .shine-container{
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    left:0;
    top:0
    }

    .shine{
    width:150px;
    height:150px;
    margin:auto;
    background-position:cover;
    z-index:0;
    }

    .spinShine{animation: spin 15s linear infinite;}
    .shine.UR{background-image:url('/images/shine-ur.png'); opacity:.6}
    .shine.SR{background-image:url('/images/shine-sr.png'); opacity:.3}
    .shine.R{background-image:url('/images/shine-r.png'); opacity:.3}
    //.shine.U{background-image:url('/images/shine.png'); opacity:.01}

    @keyframes spin{
    0%{transform:rotate(0deg)scale(1.9);}
    50%{transform:rotate(180deg)scale(1.9);   opacity:.1;}
    100%{transform:rotate(360deg)scale(1.9);}
    }
    @keyframes glow_b{

    50%{filter:drop-shadow(0 0 13px rgba(190, 223, 255, 0.2))}
    }
    @keyframes opn{
    0%  {
    transform: scale(1,0) translateY(-100%);
    }
    100%{
    transform: scale(1,1)  translateY(00%);
    }
    }
    .tag{
    position:relative;
    margin:2px
    } 
    .categ{
    position:relative;
    bottom:20px;
    left:-30px;
    transform:scale(.6);
    }
    .swal2-image{
    transform:scale(.6)
    }
    .openiv{transition:all 200ms linear}
    .openiv:hover{
      cursor:pointer;
      transform:scale(1.2)
    }
    @media screen and (max-width:800px){
      .spinShine{
        display:none;
      }
    }
    
  -
    var groupBy = function(xs, key) {
    return xs.reduce(function(rv, x) {
    (rv[x[key]] = rv[x[key]] || []).push(x);
    return rv;
    }, {});
    };
    
  link(rel='stylesheet',type="text/css" href='/css/pace.css')
      
      
  .hero.is-primary.is-bold
        include navbas


  .nano
    .container.preloder
        style
          include hearty 


          div.grid-big
            - for (i=0; i<25; i++)
              div.cell-1
        br
        br
        p.title LOADING
        //div.loadere
          div.bare
            div.bareb
    .nano-content.division.prelod: .container.fullheight

        br
        .level-item

        .level-left
            div
              p.title: b Medal Catalog
        .level-item
            p.subtitle Decorate your profilecard with a pic that match your likes.
        br
        p Choose as many as you want from the #{MEDALBASE.filter(f=>!f.event).length} medals available in stock!
        hr

        ul.menu-list.level

            li.level-left:   a.is-active.itm.super-filter-button(data-filter="all") All
            li.level-left:   a.itm.super-filter-button(data-filter="flags") Flags
            li.level-left:   a.itm.super-filter-button(data-filter="brands") Brands 
            li.level-left:   a.itm.super-filter-button(data-filter="games") Games 
            li.level-left:   a.itm.super-filter-button(data-filter="anime") Anime 
            .level-item
        -const t = translation.website
        -const r = translation.rarity || {r:"Rare",ur:"Ultra Rare", sr:"Super Rare",c:"Common", u:"Uncommon"}
        
        .container.is-fluid.division2(style="height: 100%")


          .columns.is-multiline.is-mobile
            -MEDALBASE.shift()
            -MEDALBASE.reverse()
            -ALLBASE = MEDALBASE
            -const pricechart = {C:950,U:1590,R:2750,SR:6500,UR:15400};
            -let rarmult = {UR:280,SR:140,R:80,U:50,C:25}
            -MEDALBASE=MEDALBASE.filter(m=>!m.event||m.event==ongoingEvent)
    
            
            
            each medal in MEDALBASE
              -let p1 = !medal.event ?  ( medal.price || pricechart[medal.rarity]) :false
              -let p2 =  Math.floor(p1 * 18.874) || false;
              -let p3 = Math.ceil(p1 / 3500 || false)|| false;
              -let p4 = medal.event ? Math.ceil(rarmult[medal.rarity] / 2) : false
              -let R=medal.rarity
              -let C=medal.icon
              -let U=`/medals/${medal.icon}.png`    
              
              -let SWI =  medal.buyable==true||medal.event
              .column.is-2-desktop.is-half-mobile.super-filter(class=medal.category+" filter "+medal.tags): .box(PR=p1 PJ=p2 PS=p3 PE=p4 code=C namae=val.name uri=U class=R tags=medal.tags class=SWI?"openiv":"")
                img(src=`/images/tiers/${R}.png`).tier

                .level.is-marginless
                  .level-item: .i64
                    img(src=U class=R)
                  .shine-container
                    .shine(class=R).spinShine
                    // img.shine(src=`/images/shine.png`)
                .b-head
                  p= medal.name
                  
                p.b500.categ= medal.category
                .b-foot.level
                  -let PRICEY = p1
                  -let but = SWI ? ["purple purchase",translation.website.buy||"BUY"] : ["info howto",translation.website.howtoget||"HOW TO GET"]
                  
                  
                  //BUYBUT
                  
                  //p: .button.is-small(class="is-"+but[0] data-t=medal.name data-modal=!SWI?medal.howto:undefined data-med=medal.icon, data-price=PRICEY)= but[1]
                  p.b500
                    if SWI
                      //SWI ? PRICEY : "---"
                      if medal.event
                        span: .image.is-16x16: img(src="/images/eventToken.png")
                        span= gear.miliarize(p4)+" Event Tokens"
                      else
                        span: .image.is-16x16: img(src="/images/rubine.png")
                        small: span= gear.miliarize(p1)
                        span.is-hidden-mobile: .image.is-16x16: img(src="/images/jade.png")
                        small.is-hidden-mobile: span= gear.miliarize(p2)
                        span.is-hidden-mobile: .image.is-16x16: img(src="/images/sapphire.png")
                        small.is-hidden-mobile: span= gear.miliarize(p3)
                    else
                      p: .button.is-small(class="is-"+but[0] data-t=medal.name data-modal=!SWI?medal.howto:undefined data-med=medal.icon, data-price=PRICEY)= but[1]

    
  .sidepanel-bg.hidden.backbut
  .sidepanel.sidepanel-medals
    .titlebox
      a.backbut: span.fa.fa-arrow-left
      span.title.is-marginless.level-right(style="display:inline;float: right;") Purchase Medal &#x2003
    .level
      #eve
      .pix.level-item: div
        img(src="/backdrops/5zhr3HWlQB4OmyCBFyHbFuoIhxrZY6l6.png")#bgpic
      .code 
      .level-item
      .prices.level-item: div
        .r.level.row
          span.level-left Rubines: &#x2003
          .level-item
          span.level-right.rubinePrice.countup
          //(data-start=0 data-count=0)= 0 
          img(src="/images/rubine.png").currIcon.level-right
          .buythis.rubinePrice(currency="rubines").button.level-right.is-small BUY

        .j.level.row
          span.level-left Jades: &#x2003
          .level-item
          span.level-right.jadePrice.countup
          //(data-start=0 data-count=0)= 0 
          img(src="/images/jade.png").currIcon.level-right
          .buythis.jadePrice(currency="jades").button.level-right.is-small BUY

        .s.level.row
          span.level-left Sapphires: &#x2003
          .level-item
          span.level-right.sapphirePrice.countup
          //(data-start=0 data-count=0)= 0 
          img(src="/images/sapphire.png").currIcon.level-right
          .buythis.sapphirePrice(currency="sapphires").button.level-right.is-small BUY


        .e.level.row#yesevent.is-hidden
            span.level-left Event Currency: &#x2003
            .level-item
              .p-title
                b
                  .level-right.eventPrice.title.b.countup
                  .b500.small Event Tokens

            //(data-start=0 data-count=0)= 0 
            img(src="/images/eventToken").currIcon-large.level-right
            .buythis.eventPrice(currency="event").button.level-right.is-small BUY

        if userinfo
          p Your Funds:
          #usinfo.box
              .level-item
                img(src="/images/rubine.png").currIcon.level-left
                p &#x2000;&#x2715;&#x2000
                p.b900#rfunds.countup(data-start=0 data-count=(userdata.modules.rubines||0))=0
              .level-item
                img(src="/images/jade.png").currIcon.level-left
                p &#x2000;&#x2715;&#x2000
                p.b900#jfunds.countup(data-start=0 data-count=(userdata.modules.jades||0))=0
              .level-item
                img(src="/images/sapphire.png").currIcon.level-left
                p  &#x2000; &#x2715 &#x2000;
                p.b900#sfunds.countup(data-start=0 data-count=(userdata.modules.sapphires||0))=0
              if ongoingEvent
                .level-item
                  img(src="/images/eventToken").currIcon.level-left
                  p &#x2000;&#x2715;&#x2000
                  p.b900#efunds.countup(data-start=0 data-count=(userdata.eventGoodie))=0

        else
          p.retex Please LOGIN to check your funds and buy this BG.
          div.navbar-item.level-right
              a(onclick="javascript:login()").navbar-right.button.is-primary.has-addons.is-small
                  span.icon.is-pulled-left
                    i.fa.fa-sign-in-alt
                  //span.divider  &#x2004
                  div( style="border-left:1px solid #844;border-right:1px solid #eee; opacity:.15;height:28px")
                  span.divider  &#x2000
                  span.is-pulled-right=translation.website.login || "Login"


block scripts
  script(src='/js/pace.js')
  script(src="/js/countUp.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-touch-events/1.0.5/jquery.mobile-events.js")
  script(src="/js/medal_store_buttons.js")

