extends layout
mixin rarity(r,RR)
      .level
        .level-right
          figure.image.is-48x48
            img(src="/images/tiers/"+RR+".png")
          .title: b!= "&#x2003 "+r.toUpperCase()

block content
  style.
    .google-auto-placed {display:none}
  -
    var groupBy = function(xs, key) {
      return xs.reduce(function(rv, x) {
      (rv[x[key]] = rv[x[key]] || []).push(x);
      return rv;
      }, {});
    };
    
  link(rel='stylesheet',type="text/css" href='/css/medalshop.css')
  link(rel='stylesheet',type="text/css" href='/css/pace.css')  
      
  .hero.is-primary.is-bold
        include navbas

  .nano
    .container.preloder
        style
          include hearty 
          div.grid-big 
            - for (i=0; i<25; i++)
              div.cell-1
        br
        br
        p.title LOADING

    .nano-content.division.prelod: .container.fullheight
        br
        .level-item

        .level-left
            div
              p.title: b Medal Catalog
        .level-item
            p.subtitle Decorate your profilecard with a pic that match your likes.
        br
        p Choose as many as you want from the #{MEDALBASE.filter(f=>!f.event).length} medals available in stock!
        hr
        
        //include bundles
        include eventblock_medal
        
        p.b500 Pre defined Tag Filters
        ul.menu-list.level.is-hidden-mobile

            li.level-left:   a.is-active.itm.super-filter-button(data-filter="all") All
            li.level-left:   a.itm.super-filter-button(data-filter="icons") Icons 
            li.level-left:   a.itm.super-filter-button(data-filter="flags") Flags
            li.level-left:   a.itm.super-filter-button(data-filter="brands") Brands 
            li.level-left:   a.itm.super-filter-button(data-filter="software") Software 
            li.level-left:   a.itm.super-filter-button(data-filter="games") Games 
            li.level-left:   a.itm.super-filter-button(data-filter="anime") Anime 
            li.level-left:   a.itm.super-filter-button(data-filter="cartoon") Cartoon 
            li.level-left:   a.itm.super-filter-button(data-filter="food") Food
            li.level-left:   a.itm.super-filter-button(data-filter="pins") Pins 
            li.level-left:   a.itm.super-filter-button(data-filter="misc") Misc 
            //li.level-left:   a.itm.super-filter-button(data-filter="pokemon") Pokemon 
            .level-item
        -const t = translation.website
        -const r = translation.rarity || {r:"Rare",ur:"Ultra Rare", sr:"Super Rare",c:"Common", u:"Uncommon"}
        -gear.miliarize(12)
        
        .container.is-fluid.division2(style="height: 100%")
          #list           
            .level
              .level-item
                .level
                  p: b Rarity &#x2003
                  div.control.level-left: .select.is-small: select#filter-rar
                          each i in ["","C","U","R","SR","UR"]
                              option()= i
              .level-item
                .level
                  p: b Tags &#x2003
                  input(type=text placeholder="tags")#filter-tag
                
              .level-item
                .level
                  p: b Results per page &#x2003
                  div.control.level-left: .select.is-small: select#filter-max
                          each i in [30,60,120,240]
                              option()= i
              a(index=1).button.pgi GO
            -var price = {C:950,U:1590,R:2750,SR:6500,UR:15400};
            #mdfilt









            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
  .sidepanel-bg.hidden.backbut
  .sidepanel.sidepanel-medals
    .titlebox
      a.backbut: span.fa.fa-arrow-left
      span.title.is-marginless.level-right(style="display:inline;float: right;") Purchase Medal &#x2003
    .level
      #eve
      .pix.level-item: div
        img(src="/backdrops/5zhr3HWlQB4OmyCBFyHbFuoIhxrZY6l6.png")#bgpic
      .code 
      .level-item
      .prices.level-item: div
        .r.level.row
          span.level-left Rubines: &#x2003
          .level-item
          span.level-right.rubinePrice.countup
          img(src="/images/rubine.png").currIcon.level-right
          .buythis.rubinePrice(currency="rubines").button.level-right.is-small BUY

        .j.level.row
          span.level-left Jades: &#x2003
          .level-item
          span.level-right.jadePrice.countup
          img(src="/images/jade.png").currIcon.level-right
          .buythis.jadePrice(currency="jades").button.level-right.is-small BUY

        .s.level.row
          span.level-left Sapphires: &#x2003
          .level-item
          span.level-right.sapphirePrice.countup
          img(src="/images/sapphire.png").currIcon.level-right
          .buythis.sapphirePrice(currency="sapphires").button.level-right.is-small BUY

        .e.level.row#yesevent.is-hidden
            span.level-left Event Currency: &#x2003
            .level-item
              .p-title
                b
                  .level-right.eventPrice.title.b.countup
                  .b500.small Event Tokens

            img(src="/images/eventToken.png").currIcon-large.level-right
            .buythis.eventPrice(currency="event").button.level-right.is-small BUY

        if userinfo
          p Your Funds:
          #usinfo.box
              .level-item
                img(src="/images/rubine.png").currIcon.level-left
                p &#x2000;&#x2715;&#x2000
                p.b900#rfunds.countup(data-start=0 data-count=(userdata.modules.rubines||0))=0
              .level-item
                img(src="/images/jade.png").currIcon.level-left
                p &#x2000;&#x2715;&#x2000
                p.b900#jfunds.countup(data-start=0 data-count=(userdata.modules.jades||0))=0
              .level-item
                img(src="/images/sapphire.png").currIcon.level-left
                p  &#x2000; &#x2715 &#x2000;
                p.b900#sfunds.countup(data-start=0 data-count=(userdata.modules.sapphires||0))=0
              if ongoingEvent
                .level-item
                  img(src="/images/eventToken").currIcon.level-left
                  p &#x2000;&#x2715;&#x2000
                  p.b900#efunds.countup(data-start=0 data-count=(userdata.modules.EVT))=0
                  
        else
          p.retex Please LOGIN to check your funds and buy this BG.
          div.navbar-item.level-right
              a(onclick="javascript:login()").navbar-right.button.is-primary.has-addons.is-small
                  span.icon.is-pulled-left
                    i.fa.fa-sign-in-alt
                  div( style="border-left:1px solid #844;border-right:1px solid #eee; opacity:.15;height:28px")
                  span.divider  &#x2000
                  span.is-pulled-right=translation.website.login || "Login"
            


block scripts
  script(src='/js/pace.js')
  
  script(src='/js/bundles.js')
  script(src="/js/countUp.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-touch-events/1.0.5/jquery.mobile-events.js")
  script.
        $(document).ready(() => {
          $.get(`/medals_page/1`, function (data) {
            $('#mdfilt').html(data);
          })
        })
