extends layout
block head
  style.
      .atabcontainer{
        position:absolute;
        bottom:16px;
        top:16px;
      }
block content
  -let OM = sv.members.filter(m=>m.presence.status=="offline").size
  -let online = (sv.members.size)-OM
  -let svroles = sv.roles.map(r=>[r.name,r.id,r.hexColor])
  -let schans = sv.channels.filter(c=>c.type=="text").map(c=>{return {id:c.id,name:c.name,position:c.position}})
  - svchans= schans.sort((a,b)=>a.position-b.position)
  -let modrole; try{modrole = sv.roles.get(server.modules.MODROLE).name || "NONE";}catch(e){ modrole="NONE"}


  .hero.is-primary.is-bold

      include navbas

      .level.is-hidden-mobile
            .level-left
              //img(src=userinfo.pix).image(height="128px")
              div.hexagon(style="opacity:0")
                div.hexTop
                div.hexBottom
            div &#x2003
            div &#x2003
            div &#x2003
            div &#x2003
            .level-left
                div
                  p.title: b= sv.name
                  p.subtitle!= "<b>ID </b>"+sv.id

            .level-item
                div
                  p
                    span= online
                    span /
                    span=sv.members.size
                    span|  Members
            //.level-item
            .level-right: div: img(src=server.avi).image.is-round.bitdown.floatnglow
            .level-item


      div
        .tabs.is-centered.is-boxed.striped.is-hidden-mobile

          ul
            li#a1.tab(data-target="tabA").is-active: a(href="#/general")=translation.website.genSets || "General Settings"
            
            li#a2.tab(data-target="tabB"): a(href="#/channels")=translation.website.chanSets || "Channel Settings"


  .nano: .container.is-fluid.nano-content.division
    .container.nano-content.division
      .notification.is-danger.is-hidden-desktop(style="margin:10px;text-align:center")
        p ONLY BASIC SETTINGS CAN BE CONFIGURED FROM MOBILE DEVICES </3

      .container.columns.is-fluid.gaps#tabB.tabcontainer.division2(style="height: 100% ;display:none").is-hidden.is-hidden-mobile
        .column.is-3: .box.chandiv.nano#list: .nano-content
          each chan in svchans

            div.channel
              a.asbutton(data-channel=chan.id data-server=server.id).level
                span.level-left= "#"+ chan.name
                //pre= JSON.stringify(chan)
                if bot.channels.get(chan.id).nsfw
                  span.icon.is-small.level-right
                    i.fa.fa-exclamation-triangle

        .column.is-auto: .message.is-small.chandiv#felist.fullheight
          //b: .message-header#chaname(style="z-index:9")=translation.website.chanSets || "Channel Settings"
          .message-body.nano: #results.container.is-fluid.nano-content
        .column.is-4: .box
          #contraresults

      .container(style="height:100% ;display:none").columns.is-fluid.gaps#tabA.tabcontainer.division2.force-over-mob
         .column.is-3.is-hidden-mobile

            .menu-label=translation.website.genSets || "General Settings"
            ul.menu-list
              li: a.is-active.itm(data-target="basic")=translation.website.basic || "Basic Options"
              li: a.itm(data-target="advanced")=translation.website.advanced || "Advanced Options"
              .generally-disabled
                li: a.itm(data-target="logs")=translation.website.logs || "Activity Logs"

            .menu-label=translation.website.rubines || "Goodies"
            .generally-disabled
              ul.menu-list
                li: a.itm(data-target="leader")=translation.website.svLead || "Server Leaderboards"
                li: a.itm(data-target="prodil")=translation.website.svProfile || "Server Profile"
                li: a.itm(data-target="loot")=translation.website.loots || "Loots & Drops"
                li: a.itm(data-target="bank")=translation.website.svBank || "Server Bank"

            .generally-disabled
              .menu-label=translation.website.premium || "Premium"
              ul.menu-list
                li: .itm(data-target="advanced")=translation.website.svColle || "Server Collectibles"
                br
                li: .itm(data-target="advanced")=translation.website.cherrymods || "Cherry-Modules"


         #basic.column.is-9.pgs
          include guild/settings/basic
         #advanced.column.is-9.pgs.hidden
          include guild/settings/advanced
         #logs.column.is-9.pgs.hidden
          include guild/settings/logs


      br
block scripts
  script.

        var def = {
          act: {
            userJoin: true,
            userLeave: true,
            messDel: false,
            messEdit: false
          },
          mod: {
            usrBan: true,
            usrKick: true,
            usrMute: true,
            usrUnmute: true
          },
          adv: {
            newChan: false,
            newRole: false,
            permsEdit: false,
            revokeBan: true,
            uptRole: false,
            delChan: false,
            usrNick: true,
            usrPhoto: false,
            usrRoles: false
          }
        };

                   var slogs;
          slogs = !{JSON.stringify(server.logs) || false}
         slogs ? slogs = slogs : slogs = def;
         
         
     $("#savebasic").click(function () {
      var payload = {}
      payload.hi = $("#hi_check").is(':checked');
      payload.bye = $("#bye_check").is(':checked');
      payload.prefix = $("#prefix_select").val()
      payload.modrole = $("#mod_role").children(":selected").attr("id")
      payload.muterole = $("#mute_role").children(":selected").attr("id")
      payload.lang = $("#lang").children(":selected").attr("id")
      payload.welcome_message = $("#welc").val()
      payload.welcome_chan = $("#WCC").children(":selected").attr("id")
      payload.welcome_timer = $("#greethidel").val()
      payload.bye_message = $("#byem").val()
      payload.bye_chan = $("#BYC").children(":selected").attr("id")
      payload.bye_timer = $("#fwehidel").val()
      payload.guild = "!{sv.id}"
      //return console.log(payload);
      var postage = $.post("/GBPay", {
        payload: payload
      })

      postage.done(function (res) {

        response(res)
        //$("html").html("<pre>"+JSON.stringify(res,null,4)+"</pre>")

      })
      // postage.done(function(res){response(res)})


    })
     
         
            function save() {

      //if(!serverlogs) var serverlogs= !{JSON.stringify(server.logs)};
      var postage = $.post("/paramsave", {
        action: "superDef",
        scope: "server",
        target: "!{server.id}",
        param: "logs",
        value: getChecks()

      })
      console.log(getChecks())
      postage.done(function (res) {
        response(res)
      })

    }
    $('#saveLogs').click(function(){
      var payload = {}
      payload.logs = $("#checklf").is(':checked');
      payload.split = $("#splitchk").is(':checked');
      payload.allCH = $("#logcha").children(":selected").attr("id")
      payload.advCH = $("#logchaAD").children(":selected").attr("id")
      payload.actCH = $("#logchaAC").children(":selected").attr("id")
      payload.modCH = $("#logchaMD").children(":selected").attr("id")
         payload.guild = "!{sv.id}"
            var postage = $.post("/advancedPy", {
        payload: payload
      })

      postage.done(function (res) {

        response(res)

      })
      
    })

  script(src="/js/guilds.js")