table.ranktable(id="updated")
    thead.rhead(style="display:none")
      th(class="anim:position") #
      th(class="anim:constant")
      th(class="anim:id") Username
      th(class="anim:constant")
      th(class="anim:update anim:constant") EXP
      th(class="anim:constant") Rubine
    tbody
      each guy, i in rank
          -if (i == 100)break;
          -let rk = 0
          -
              switch (i){
                case 0:
                  rk= 1;
                  break;
                case 1:
                  rk= 2;
                  break;
                case 2:
                  rk= 3; 
                  break;
                default: 
                  rk= 0;
                  break;
                }

          if userinfo
            -var thatsMe = userinfo.id
          else 
            -var thatsMe = null
          -let ka
          -thatsMe == guy.id ? ka="kali" : ka="";  
          tr(class="num"+rk+" "+(ka) id="gee"+(i+1))
            td.b900.position= i+1

            td: div.l100
              .hexagon(style="background-image:url('"+guy.avi+"');")
                .hexTop
                .hexBottom
            td.nae
              a(href='/profile/'+guy.id)
                //!{guy}
                span: b= guy.name.split("#")[0] || guy.name
                span.discr= "#"+(guy.name.split("#")[1]||"?")

            td.lvl
              .attop
                span.b500 Level 
                span= guy.lv

            td.exp
              p
                span.countup=guy.exp
                span.b500= "exp" 
            td.rubine.is-hidden-mobile
              p
                span &#x2003
                span= guy.rubine
                span &#x2003
                span: img(src='/images/rubine.png' width="16px")

