extends layout

block content
  h1.title Shards
  #shardHolster
block scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js')
    script.
      var socket = io.connect('/');
        var shards = ["Almond"
          ,"Biscuit"
          ,"Cookie"
          ,"Daifuku"
          ,"Eclair"
          ,"Flan"
          ,"Gummybear"
          ,"Hazelnut"
          ,"Ice Cream"
          ,"Jelly"
          ,"Kuzumochi"
          ,"Lemondrop"
          ,"Melonpan"
          ,"Namagashi"
          ,"Okoshi"]
      socket.on('ping', function(payload) {
      console.log(payload)
      
      
      let shardtab = shards.map((shf,i)=>{
          return `
          <div class="shardContainer"> 
            <div id="shard${i+1}" class="sname">
              <b> ${shf[i]} </b>
            </div>
            <div class="status">
              ${payload.find(x=>x.SHARD==i+1).ping}
            </div>
            <div class="status">
              ${payload.find(x=>x.SHARD==i+1).database}
            </div>
          </div>
       `
      
      
      }).join("\n")
      
      
        $('#shardHolster').html(`
          ${shardtab}
        
        `)
        
      })
