extends layout 

block head
    link(rel='stylesheet', type='text/css', href='/css/griddy.css')
    script(src='/js/modernizr.js')
block content
  
  .hero.is-pink.is-bold
      include navbas2
  .is-fullwidth.nano: .nano-content
    br
    .container

      .title.is-2: b Sticker Boosters
      .subtitle.is-4 Profile Stickers can be obtained from special Boosterpacks that are dropped from Lootboxes. Check here all Stickers available in each series.
      hr
      .section
        //JSON.stringify(userinfo.servers,null,2)
          
          
        ul#og-grid.og-grid.columns.is-multiline
          -BOOSTERS = BOOSTERS.filter(x=>x.display !== false && !x.name.includes("(SPH)"))
          each item in BOOSTERS
            if item.exclusive
              if userinfo 
                if !((userinfo.servers.find(sv=>sv.id==item.exclusive)||{}).id==item.exclusive)
                  -continue
              else
                -continue
                
            li.column.is-3(data-other=STICKERBASE.filter(x=>x.series_id==item.icon).length*120 / 6 + 85)
              a(href='#'+item.id, 
              data-largesrc='/build/boosters/showcase/'+item.icon+'.png',
              data-title="<img class='h3rar' src='/images/tiers/new/"+item.rarity+".png'>"+item.name
              data-height=800
              data-target='#'+item.id)
                img(src='/build/boosters/showcase/'+item.icon+'.png', alt=item.icon)
                p.stickerTitle= item.name

    
  .hidden
    -let rarval = {XR:0,UR: 1,SR:2 ,R: 3,U:4 ,C:5}
    each item in BOOSTERS
      -let STICKERSCAT = STICKERBASE.filter(x=>x.series_id==item.icon).sort((a,b)=>{ return rarval[a.rarity]-rarval[b.rarity] })
      div(id=item.id): .columns.is-multiline
        each sticker in STICKERSCAT
          .column.is-2
            .stickerinfo
              img(src= "/build/stickers/"+sticker.id + ".png",  width = "80px")
              img(src= "/images/tiers/"+sticker.rarity + ".png",  width = "24px").rarity
              p= sticker.name

block scripts    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='/js/grid.js')
    script.
      $(function() {
      Grid.init();
      });
