extends ../../layout 
block content
    .wrapper
        -currentPage = 'market'
        include ../../navbar
        - let r = Math.floor(Math.random() * (1 - 0 + 1) + 0);
        .plx-background-cover(plx-parallax="bgy: 100,400" style='background-image: url(/images/heads/shop'+r+'.png)').pictoheader.dark
            .plx-container
                br
                h1.title Sticker Collection
                h3.subtitle Add extra charm to your Profilecard with stickers! Over #{collection.length} to collect.
                hr.plx-divider-small

                p 
                    | Profile Stickers can be obtained from special Boosterpacks that are dropped from Lootboxes. Check here all Stickers available in each series.
                    br
                    | If you're looking for <b>physical</b> stickers, check the <a href="/merch">Merch Shop</a>!

        hr.plx-divider-icon-fill
        .plx-container
            .section#main    
                h2.title
                h4.subtitle 
                p

                .packagier.plx-box-shadow-large
                    .packDisplay
                        div.shine.imgTainer
                            #backdrop       
                            img#in
                    .package-listing                            
                        #manyPacks
                            each s in stickers.filter((v,i,a)=>a.map(x=>x.id).indexOf(v.id)===i)
                                -let thisCollection = collection.filter(st=>st.series_id===s.id.replace("_booster",""))
                                -var imglink =  "/build/boosters/showcase/"+s.id.replace("_booster","")+".png"
                                .aPack(data-in=imglink data-rarity=s.rarity plx-toggle="target: .imgTainer; mode: hover; animation: plx-animation-slide-right-medium, none,plx-animation-fade-reverse; queued: true; cls: revealed")
                                    div(style="width:100%;height:100%")
                                        img(src=imglink)
                                        .overlay(class=s.rarity=="UR"?"supershine":s.rarity=="SR"?"shine":"")
                                    .stickOverview(plx-drop="mode: click; boundary: .package-listing; boundary-align: 1; pos: center ;offset:0;animation: plx-animation-slide-left-small plx-animation-fade" )
                                        button.plx-drop-close.plx-position-top-right.plx-position-small(type="button" plx-close)
                                        p.title
                                            -let obtained = userdata?` (${thisCollection.filter(cc=> userdata.modules.stickerInventory.includes(cc.id)).length}/${thisCollection.length})`:''
                                            img(data-src="/images/tiers/new/"+s.rarity+".png" plx-img)
                                            span &#x2002
                                            span= s.name + obtained
                                            span &#x2003
                                            button(plx-toggle=userdata?"target: .faded":false).plx-button.plx-button-small.plx-button-secondary Toggle Owned
                                        .in-wrapper 
                                            each stk in thisCollection
                                                -let hasit = userdata? userdata.modules.stickerInventory.includes(stk.id)?true : false: 'not-logged-in'

                                                .stickerItem(class=(userdata?hasit?'has-it':'faded':'')+(userdata?userdata.modules.sticker===stk.id?'equipped':'':'') )
                                                    div 
                                                        img(data-src="/build/stickers/"+stk.id+".png" plx-img ).stickerfig
                                                        p(class=hasit?"":"plx-text-muted")= stk.name
                                            .lastMaxDisplay     
                                                p COMPLETION REWARD


block scripts
    script.
        
        $('.aPack').mouseover(function(){  
            $("#in").attr('src',$(this).data("in"))
            $("#backdrop").attr('class',$(this).data('rarity'))
        })
        $('.stickerfig').click(function(){  
            
            newImg =  $(this).attr('src') 
            console.log(newImg)
            $("#in").attr('src',newImg)
            //$("#backdrop").attr('class',$(this).data('rarity'))
        })
    style 
            include stickers.css    