extends ../../layout 

mixin craftSlot(item)
  .item-container.filled(v-if=item @click="removeFromPot("+item+")", :class=item+".rarity", @contextmenu.prevent="removeFromPot("+item+",true)") 
    .item-img(:style="`background:url(/build/items/${("+item+"||{}).icon||("+item+"||{}).id}.png)`")
    .item-name {{#{item}.id}}
    .count-badge {{#{item}.count}}
  .item-container.empty(v-else)
    .item-img
    .item-name ---
    .count-badge 0

block head
  script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js")
  link(rel='stylesheet' href="/css/supersplash.css")
block content

  include ../../navbar
  style 
    include workshop.css
  script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js")

  .plx-container.central-container.plx-flex
    .plx-width-1-2.main-info
        h1.title.stfront STOREFRONT
        h3.subtitle Your new hub for Pollux Collectibles
        p 
            | Check here what's new in all shops and the marketplace. The current Background rotation, new item arrivals, recent Marketplace listings, Bundles, and some more!
        br
        br
        .plx-flex.icons-row
            a.plx-width-1-3.icon-container(href="/shop/bgshop")
                .icon: img(src="https://via.placeholder.com/120x120")
                .title BGshop Classic
            a.plx-width-1-3.icon-container(href="/shop/medalshop")
                .icon: img(src="https://via.placeholder.com/120x120")
                .title Medalshop Classic
            a.plx-width-1-3.icon-container(href="/shop/marketplace")
                .icon: img(src="https://via.placeholder.com/120x120")
                .title Player Marketplace
        .plx-flex.main-button
            a.magic-outline.plx-button.plx-margin-left.plx-margin-bottom(type='button' href="#storetop" plx-scroll)
                span See Store Listings
        .plx-flex.minifooter
            .icon 1
            .icon 2
            .icon 3
            .icon 4

    .plx-width-1-2.bigpic-container
        .bigpic: img(src="/images/pollux/plx_craft_800x600.png")

  .bottom-board
      p board stuff goes here



  .plx-flex
    i


  h1.title Discovery Crafting
  h2.subtitle wawa wawa wa wawa

  #crafting.plx-flex.plx-position-relative
    .crafting-zone
      .crafting-happening
        svg.energy-bar(:class='craftingNow?"animating-craft":"" ')
          circle(cy="50%" cx="50%" r=250).trail
          circle(cy="50%" cx="50%" r=250 v-bind:class = "potLevel()" )
      
        .crafting-table.spinCW(:class='craftingNow?"animating-craft":"" ')
          .table-contents.plx-flex.plx-flex-around
            .slot1: .spinCCW(:class='craftingNow?"animating-craft":"" ')
              +craftSlot("pot[0]")
            .slot2: .spinCCW(:class='craftingNow?"animating-craft":"" ')
              +craftSlot("pot[1]")
            .slot3: .spinCCW(:class='craftingNow?"animating-craft":"" ')
              +craftSlot("pot[2]")
          .gemcraft(v-if="discovery.discovery && discovery.discovery.gemcraft")
            .gem.rubines( 
              v-bind:style="{opacity: Math.max(.5,discovery.discovery.gemcraft.rubines ||0)}",
              :class="cantRBN?'cannotPay':''"
            ): .spinCCW(:class='craftingNow?"animating-craft":"" ')
              .icon
              .cost {{discovery.discovery.gemcraft.rubines}}

            .gem.jades(  
              v-bind:style="{opacity: Math.max(.5,discovery.discovery.gemcraft.jades ||0)}",
              :class="cantJDE?'cannotPay':''"
            ): .spinCCW(:class='craftingNow?"animating-craft":"" ')
              .icon
              .cost {{discovery.discovery.gemcraft.jades}}

            .gem.sapphires( 
              v-bind:style="{opacity: Math.max(.5,discovery.discovery.gemcraft.sapphires ||0)}",
              :class="cantSPH?'cannotPay':''"
            ): .spinCCW(:class='craftingNow?"animating-craft":"" ')
              .icon
              .cost {{discovery.discovery.gemcraft.sapphires}}


      .discovery 
        div(v-if="discovery.loading")
          p LOADING...
        div(v-if="discovery.loading === false || !pot.length")
          p add items to the table
        .discovery-item(v-else)
          p(v-if="discovery.possible") {{ discovery.possible }} possible items. 
            span(v-if="discovery.noMoreTable") You just need more of what you already have.
            span(v-else) Add more items to the table!

          p(v-if="discovery.possible === 0") No items can be made out of this, try removing some items or try different items.
          .discovery-item(v-if="discovery.discovery")
            .item-container(:class="discovery.discovery.rarity")
              .item-img(
                :style="`background:url(/build/items/${discovery.discovery.icon}.png)`",
                :class="discovery.isDiscovery ? '' : 'revealed'"
              )
              .item-name(v-if="discovery.isDiscovery") {{ discovery.discovery.name.replace(/[A-z,0-9]/g, '?') }}
              .item-name(v-else) {{ discovery.discovery.name }}
            p(v-if="discovery.canCraftNow") Can be crafted now!
              button.craft-me(@click="craft()" :disabled="!canCraft()") CRAFT

    .inventory
      div(v-if="inventory.loading")
        p LOADING....
      .items-list(v-else)
        p Inv Size: {{ inventory.length }}
        ul.items
          li.inv-item(v-for="item in inventory")
            .item-container(
              @click="addToPot(item)",
              @contextmenu.prevent="addToPot(item, true)",
              :class="[(item.meta||{}).rarity, item.count === 0 ? 'nomore' : '', item.new ? 'isnew' : '']"
            )
              .item-img(
                :style="`background:url(/build/items/${(item.meta||{}).icon || item.id}.png)`"
              )
              .item-name {{ (item.meta||{}).name || item.id }}
              .count-badge {{ item.count }}
block scripts
  script
    include workshop.js