.pxc-bg(style=`background-image:url('${guild.partnerDetails.picture}') `)   
.pxc-avatar(plx-slider-parallax="x: -200,200;  opacity: -1,1,-1")
  img(src=guild.meta.icon||"http://i.imgur.com/PHCigiW.png") 
.pxc-stopper    
.pxc-subcard(plx-slider-parallax="x: 300,-300")
  .pxc-title= guild.meta.name
  .pxc-sub= guild.partnerDetails.description
    
  .pxc-feats
    each feat in guild.partnerDetails.feats.split(',')
      span= feat
  .pxc-tags(plx-slider-parallax="x: 200,-200; opacity: 1,1,-1")
    each tag in guild.partnerDetails.tags.split(',')
      div= tag
  .bottom-row  
    .pxc-info
      .flags
          each lang in guild.partnerDetails.langs.split(',')
            span
              img(src="/images/flags/"+(lang.split('-')[1]||lang||"EN").toUpperCase().trim().slice(0,2)+".png")
      .region= guild.partnerDetails.region
        
    .links
      a.site(plx-tooltip="WEBSITE")
          i.fas.fa-globe-americas 
      a.link(plx-tooltip="DISCORD SERVER").discordLink
          i.fab.fa-discord
      a.shop(plx-tooltip="EXCLUSIVE POLLUX SHOP") 
          i.fas.fa-shopping-bag 
          
          
          