script.
    const Channels = channelInfo.filter(chn=>chn.type === 0).map(chn => {return {id: chn.id, name: chn.name} } )
    const channelSelects = {}

    Object.defineProperty(
        channelSelects,
        'all', {
            get: function() {
                return Object.keys(this)
                    .map(ky => {
                        return {
                            id: ky,
                            val: this[ky].tags.map(x => x.id).filter(x => x)
                        }
                    })
            }
        }
    ) 
    const maketag = (x)=>{return {id: x.id,text: '# ' + x.name}};

    function ChannelTagInput(id,preChannels=[]) {
        let tags = preChannels.map(chn=> Channels.find(c=>chn===c.id) ).filter(x=>!!x).map(maketag); 
        console.log(tags)
        return {
            el: '#' + id,
            data() {
                return {
                    tag: '',
                    tags,
                    autocompleteItems: Channels.map(maketag),
                    validation: [{
                        classes: 'no-channel',
                        rule: tag => !Channels.map(x => x.id).includes(tag.id)
                    }]
                }

            },
            methods:{
               tagChange: newTags => {
                    tags = newTags;
                    $('#'+id +'   .tagsloading').html("SAVING...");
                    fetch("/admin/savechannelist", {
                        method: "PUT",
                        headers: { "Content-Type": "application/json; charset=utf-8" },
                        body: JSON.stringify({ data:{channels: newTags.map(t=>t.id), param: id },validator, serverid, noDM: true })
                    }).then(async res => {
                        if(res.ok){
                            PLX.notification('<div class="plx-flex plx-flex-between"> <span style="align-text:left; flex-shrink: 0"> Updated </span><span style="align-text:right"> </span>"' );
                            $('#'+id +'   .tagsloading').html("");
                        }
                        else{
                            PLX.notification('<div class="plx-flex plx-flex-between"> <span style="align-text:left; flex-shrink: 0"> Error! </span><span style="align-text:right">  </span>"' );
                            $('#'+id +'   .tagsloading').html("Error!");
                        }
                    });
                    return tags;

                }
            },
            computed: {
                taglistItems: function() {
                    return this.autocompleteItems.filter(i => {
                        return i.text.toLowerCase().indexOf(this.tag.toLowerCase()) !== -1;
                    });
                },
            }
        }
    } 

mixin channelInput(title="",id,fafa,prechans=[])
  .plx-tags-input(id=id).plx-flex.plx-flex-column
    .headline
        h4
            i: div(class=fafa || "fas fa-circle" ) &#x2002
            span!= title
        p
            block

    vue-tags-input.tags-input(
            name='tag',
            v-model='tag',
            :tags='tags',
            :add-only-from-autocomplete='true',
            :placeholder='"Pick Channels"',
            :validation="validation"
            :autocomplete-items="taglistItems",
            :allow-edit-tags='false',
            @tags-changed="tagChange",)
    .tagsloading
             
  script(defer)  channelSelects.#{id}=  new Vue( ChannelTagInput( "#{id}", !{ JSON.stringify(prechans) }) )
         