-unicat = ""
-
    function sanitize(a){
        if (!a )return false;
        return a.replace(/{{prefix}}/g , "+")
        .replace(/{{goods}}|{{GOODS}}/g , "Rubines")
        .replace(/{{good}}|{{GOOD}}/g , "Rubine")
        .replace(/<(.*?)>/g , " <<span class='second'>$1</span>>")
        .replace(/\*\*(.*)\*\*/g , "<b>$1</b>")
        .replace(/\*(.*)\*/g , "<i>$1</i>")
        .replace(/`(.*?)`/g , "<code>$1</code>")
        .replace(/\[(.*?)\]/g , " <code class='bracket'>[$1]</code>")
        .replace(/\[(.*?)\((.*?)\)(.*?)\]/g , " $1(<span class='optional'>$2</span>)$3")
        .replace(/\[(.*?)\]/g , "$1")
        .replace(/(@[A-z]*)/g , "<code class='bracket'>$1</code>")
        .replace(/(#[A-z]*)/g , "<code class='bracket'>$1</code>")
        .replace(/__(.*?)__/g , " <u>$1</u>")
        .replace(/\:warning\:/g , "⚠").replace(/\\n|\n/g , "<br>")
        .replace("http://pollux.gg/bgshop" , "<a href='http://pollux.gg/bgshop'><b>THIS LINK</b></a>")
    }
each cat in cm.CATS
    .section(id=cat.consolidated class="filter-"+cat.consolidated)
        h2.title= cat.name
        h4.subtitle= cat.description
        style .hidden{background:#C005}
        each cmd in cm.CMS.collection
            if  !cmd.hidden && cmd.cat== cat.consolidated
                div(class=("filter-"+cmd.cat)+(cmd.hidden?" hidden":"") data-id=cmd.cat==unicat?'':cmd.cat ).commandCard 
                    //-unicat = cmd.cat
                    .cmCard-head.plx-flex
                        span.plx-flex-start= "+"+cmd.name+"" 
                        //("+cmd.filename+")"
                        span.plx-flex-end( class="c-outline "+cat.consolidated)= cmd.catName
                    .cmCard-body.plx-flex
                        .plx-width-3-4
                            p.description!= sanitize(cmd.desc) || 'No information about this command'
                            p.usage!= sanitize(cmd.use) || ''
                        //span ALIASES
                        .aliases.plx-width-1-4
                            each alias in cmd.aliases||[]
                                span= "+"+alias                                             

                    .cmCard-foot.plx-flex
                            span PERMISSIONS REQUIRED
                            each perm in (cmd.perms||[] ).filter(x=>x!="attachFiles"&&x!="embedLinks")
                                span= perm.replace(/([A-Z])/g," $1").toUpperCase()

        script(async='', src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
        ins.adsbygoogle(style='display:block', data-ad-format='fluid', data-ad-layout-key='-go-3+1f-3d+2z', data-ad-client='ca-pub-6458250766331979', data-ad-slot='3291580116')
        script (adsbygoogle = window.adsbygoogle || []).push({});
        

