-res = intersection.slice((C-1)*max,C*max)



-let Apages = []
-
    if(L>=9){

      if(C<5)         /*1 2 3 4 5 - 9*/ Apages=[F,F+1,F+2,F+3,F+4,"E",L];
      if(C>4&&L>=9)   /*1 - 4 5 6 - 9*/ Apages=[F,"E",P,  C,  N,  "E",L];
      if(C>L-5)       /*1 - 5 6 7 8 9*/ Apages=[F,"E",L-4,L-3,L-2,L-1,L];

    }else{
      for(i=0;i<L;i++){
        Apages.push(i+1)
        }
      }
      

mixin paging()
  .level
    div
      if P>0
        a(index=P).pagination-previous.button.is-primary.pgi
          i.fa.fa-arrow-circle-left
          |  
      else
        a.pagination-previous.button.is-primary.pgi(disabled)
          i.fa.fa-arrow-circle-left
          |  
    .pagination.well-sm#pagination
      ul.pagination-list
      
        each i in Apages
          if i == "E"
            li: span.pagination-ellipsis &hellip;
          else if i == C
                a.pagination-link.is-current(index=i).pgi= i
          else
                a.pagination-link(index=i).pgi= i
    div
      if N<=L
        a(index=N).pagination-previous.button.is-primary.pgi
          i.fa.fa-arrow-circle-right
          |  
      else
        a.pagination-previous.button.is-primary.pgi(disabled)
          i.fa.fa-arrow-circle-right
          |  


-var pricechart = {C:950,U:1590,R:2750,SR:6500,UR:15400};
-var rarmult = {UR:250,SR:100,R:50,U:25,C:10,}
+paging
.box.has-text-centered.columns.is-multiline.is-mobile
  each medal in res
    -let p1 = !medal.event ?  ( medal.price || pricechart[medal.rarity]) :false
    -let p2 = Math.floor(p1 * 18.874) || false;
    -let p3 = Math.ceil(p1 / 3000 || false)|| false;
    -let p4 = medal.event ? Math.ceil(rarmult[medal.rarity] / 2) : false
    -let R=medal.rarity
    -let C=medal.icon
    -let U=`/medals/${medal.icon}.png`    

    -let SWI =  medal.buyable==true||medal.event
    .column.is-2-desktop.is-half-mobile.super-filter(class=medal.category+" filter "+medal.tags): .box(PR=p1 PJ=p2 PS=p3 PE=p4 code=C namae=medal.name uri=U class=R tags=medal.tags class=SWI?"openiv":"")
      img(src=`/images/tiers/${R}.png`).tier

      .level.is-marginless
        .level-item: .i64
          img(src=U class=R)
        if ["UR","SR"].includes(R) && R !="R"
          .shine-container
            .shine(class=R).spinShine
            // img.shine(src=`/images/shine.png`)
      .b-head
        p= medal.name

      p.b500.categ= medal.category
      .b-foot.level
        -let PRICEY = p1
        -let but = SWI ? ["purple purchase",translation.website.buy||"BUY"] : ["info howto",translation.website.howtoget||"HOW TO GET"]
        
        p.b500
          if SWI
            //SWI ? PRICEY : "---"
            if medal.event
              span: .image.is-16x16: img(src="/images/eventToken.png")
              span= gear.miliarize(p4)+" Event Tokens"
            else
              span: .image.is-16x16: img(src="/images/rubine.png")
              small: span= gear.miliarize(p1)
              span.is-hidden-mobile: .image.is-16x16: img(src="/images/jade.png")
              small.is-hidden-mobile: span= gear.miliarize(p2)
              span.is-hidden-mobile: .image.is-16x16: img(src="/images/sapphire.png")
              small.is-hidden-mobile: span= gear.miliarize(p3)
          else
            p: .button.is-small(class="is-"+but[0] data-t=medal.name data-modal=!SWI?medal.howto:undefined data-med=medal.icon, data-price=PRICEY)= but[1]

+paging

//script(src='/js/lightbox.js')
script.  
  ;$(".pgi").click(function(){
    var rarity = ($("#filter-rar").find(":selected").text())
    var tags = ($("#filter-tag").val()).replace(/ +/g,'+')
    var max = Number($("#filter-max").find(":selected").text())
    var event
    //var event = ($("#filter-event").is(":checked"))
    
    let query =JSON.parse('!{JSON.stringify(query)}');
    let inquery ="!{fullquery}";
          query = `?${"tags="+tags||query.tags||""}${"&rarity="+rarity||query.rarity||""}${"&event="+"&"||event||query.event||""}${"&max="+max||query.max||""}`
    let index =$(this).attr('index')
        console.log(query)
    $.get(`/medals_page/${index}${query}`,function (data) {
      $('#mdfilt').html(data);
    })
  })

script(src="/js/medal_store_buttons.js")