extends ../layout 

mixin colorfit(NAME,hex,pan,cmyk)
    -CM=["C","M","Y","K"]
    
    .colorfit.plx-box-shadow-small.plx-border-rounded
        p.name= NAME
        br
        .bg(style="background-color:"+hex)
        .desc
            if hex
                p 
                    if pan
                        span: b Web: 
                    else
                        span: b Hex: 
                    span= hex                
            if pan
                p 
                    span: b PANTONE: 
                    span= pan
            if cmyk
                -cm=cmyk.split(" ")
                p 
                    each c,i in cm
                        span: b= CM[i]+":"
                        span= c+" "

block content
    .wrapper
        include ../navbar

        style.
                    body{
                    background: #F2F2FF
                    }
                    .colorfit{
                    padding: 20px;
                    width: 150px;
                    margin: 14px;
                    padding: 12px 20px 25px 20px;
                    }
                    .colorfit .name{
                    font-weight: 800 !important;
                    font-size: 18px
                    }
                    .colorfit .bg{
                    height: 130px;
                    width: 130px;
                    margin: 0 auto 20px;


                    border-radius: 5px
                    }
                    .colorfit p {margin: 0}

                    @media screen and (max-width:920px){
                    .colorfit{
                    display: flex;
                    width: 300px;
                    flex-wrap: wrap;
                    margin: 10px 0; 


                    }
                    .colorfit .name{
                    width: 100%;
                    margin-bottom: 10px;
                    }
                    .colorfit .bg{
                    height: 100px;
                    width: 100px;
                    margin: 0 20px 20px 0;


                    border-radius: 5px
                    }
                    }


        .paperback


            br
            br
            br

            .section#main    
                h1.title  Design Reference and Branding
                h3.subtitle  All of our shapes and colors are documented here!                
                hr
                br
                .plx-container
                    p The consistency of our presentation is taken very seriously. We believe a strong visual presence is key for a more intimate relationship with our users and community members, as well as our own team.
                    p This branding sheet is designed to both display our commitment with such visual presence and back up the creative minds from our community with official material they can reference to when creating special posts, internal events, fanworks and whatnot, bearing Pollux's theme.

                    hr.plx-divider-icon

                    p  
                .plx-container
                    h2#theme Theme
                    p Pollux's keywords are <b>fancy</b> and <b>modern</b>, we believe it is possible to be both bold and delicate, as well as modern yet not giving up aesthetics to favor sheer praticality.
                    p These contrasting elements are represented in our colors and iconography by the <b>hexagon</b> and the <b>heart</b> shapes, and with shades of <b>bright reddish pink</b> to a <b>soft lilac-ish black</b>
                    hr.plx-divider-icon
                    h2#colors Color Scheme

                    h4: b Core Colors
                    br
                    .plx-flex.plx-flex-between.plx-flex-wrap
                        +colorfit("Bubblegum Pink",'#FF5599','1915 C','0 75 21 0')
                        +colorfit("Plastic Grape",'#AA66FF','265 C','52 66 0 0')
                        +colorfit("Stardust Lilac",'#CC55FF','252 C','27 67 0 0')
                        +colorfit("Candy Yellow",'#F8B95F','121 C','0 8 70 0')
                        +colorfit("Red Riding Hood",'#FC5065','1785 C','0 76 54 0')
                    h4: b Auxiliary Shades
                    br
                    .plx-flex.plx-flex-between.plx-flex-wrap
                        //+colorfit("Sour Apple",'#90E050','7487 C','42 0 62 0')

                        +colorfit("Exosphere Blue",'#5A90F5','2718 C','65 45 0 0')
                        +colorfit("Platinum Cyan",'#50CCFF','2985 C','60 0 5 0')
                        +colorfit("Lithium White",'#EDEDFF','656 C','10 4 0 0')
                        +colorfit("Metro Midnight",'#2B2B3B','533 C','95 72 15 67')
                        +colorfit("Vitorian Black",'#1B1B2B','7547 C','99 74 31 84')
                   
                    
                    h4: b Character Colors (New)
                    br
                    .plx-flex.plx-flex-between.plx-flex-wrap
                        +colorfit("Hair Matte",'#4585FC')
                        +colorfit("Hair Tips",'#5E38BD')
                        +colorfit("Inner Hair",'#EA6F8C')
                        +colorfit("Skin",'#F1D8C8')
                        +colorfit("Eyes",'#2BE0AF')
                        +colorfit("Glasses",'#F73A5D')
                        +colorfit("Crystals",'#FF70CC')
                        +colorfit("Soft Whites",'#DAE0FB')
                        +colorfit("Soft Blacks",'#3A3A55')
                        +colorfit("Deep Blacks",'#2B2B3F')

                    ul(plx-accordion='collapsible: true')
                        li
                            a.plx-container(href="#" style="border-bottom:none").plx-accordion-title
                                h4: b Character Colors (Old)
                            .plx-uncontainer.plx-accordion-content
                                br

                                .plx-flex.plx-flex-between.plx-flex-wrap
                                    +colorfit("Dress",'#2A2A3F')
                                    +colorfit("Hair Matte",'#1E2A51')
                                    +colorfit("Hair Tips",'#14ACB7')
                                    +colorfit("Eyes",'#90E050')
                                    +colorfit("Glasses",'#E73A5D')
                                    +colorfit("Crystals",'#FF5599')
                    br    
                    hr.plx-divider-icon
                    h2#colors Typefaces


                    h1.title Display: Panton SemiBold
                    h2.subtitle Subtitles: Panton Light
                    p(style="font-family: Panton;")
                        span(style="font-family: Panton; font-weight: 900; font-style: italic; font-size:28pt") 012345 
                        span(style="font-family: Panton; font-weight: 300; font-style: italic; font-size:26pt") 012345
                        br 
                        b Numbers: 
                        | Panton Black Italic
                    p(style="font-family: Panton;font-weight: 400; ") Panton is our all-around display typeface. Used mainly to display important numbers and titles. Panton is slightly geometric and with a strong presence, the sophisticated and modern look fits with Pollux's bold conceptual nature as well as her personality, at the same time providing good contrast with our body typeface Quicksand which is in charge of conveying the softness aspect. And as a bonus, the slight similarity of Panton Caps with Uni Sans hints to our relationship with the Discord platform.

                    h4: b Body Titles: Panton Regular
                    br
                    p 
                        b
                            | Body: Quicksand
                        br
                        | Quicksand was chosen as our main body typeface for its rounded stems and noticeably geometric nature. Quicksand translates the soft and amicable nature of Pollux while keeping the modern feel. As well as providing the ideal visual contrast to Panton as a Title+Body pair. Together both fonts form a balance of strong and sophisticated with friendly and approachable.
                    p(style="font-family: Nunito")
                        b
                            | Body-alt: Nunito
                        br
                        | Nunito is our secondary body typeface, mostly used in more "serious sam" contexts. Nunito also bears round terminals and soft geometric shapes which keeps the same wavelength as Quicksand, though it is better suited for longer bodies of text due to its smaller visual footprint and more condensed kerning. Used mainly in fine-print like our Terms of Service and some smaller text that would otherwise be harder to read with the slim stems of Quicksand.

                    .plx-flex
                        div(style="border: solid 1px var(--dark);border-radius:5px").plx-button.plx-button-default.plx-button-info Buttons: Proxima Nova Soft
                        div
                    p(style="font-family: Proxima Soft")
                        | Proxima Nova Soft was originally to be used as body font. Just like Nunito and Quicksand, it has proeminent rounded stems and it is noticeably geometric. Although Proxima was deemed "way too sober" even for our serious-sam standards, its neutral yet noticeably rounded capitals were the perfect fit for our buttons as it is considerably less organic and much thicker than our other body typefaces. Proxima Nova is there to keep the mood but break a bit of the monotony by standing out wherever it is placed.

                    br    
                    br    
                    br    
                    




block scripts
        