extends ../../layout

mixin shopcard() 
    .header
      .s-title.truncate(:plx-tooltip="item.name") {{item.name}}
      .icon
        i.far.fas(:class="`fa-star`")
      .subheader
        .text.truncate {{ (item.category||item.series||item.BUNDLE||"").toUpperCase() }}
    .rartag
    .body
      .img(v-if='item.type == "background"').background
        .bg-image( v-bind:style="{backgroundImage: `url('/backdrops/${item.code}.png')`}")
        .artist-tag(v-if="item.artistName")
          i.fas.fa-paint-brush
          a(:href="item.artistLink" target="blank") {{item.artistName}}
      .img(v-if='item.type == "medal"').medal
        img(plx-img :src="`/medals/${item.icon}.png`")
      .img(v-if='item.type == "sticker"').sticker
        img(plx-img :src="`/stickers/${item.id}.png`")
      .img(v-if='item.type == "boosterpack"').sticker
        img(plx-img :src="`/build/boosters/showcase/${item.icon}.png`")
      .img(v-if='item.type == "item"').item
        img(plx-img :src="`/build/items/${item.id}.png`")
      .img(v-if='item.type == "skin"').skin
        //assuming it is always DECK for now
        // PLEASE CHANGE THIS
        .container
          img(plx-img :src="`/build/cards/${item.id.split('_').join('/')}/${item.id.startsWith('tarot')? 'star':'HQ'}.png`")
          img(plx-img :src="`/build/cards/${item.id.split('_').join('/')}/backface.png`")
    .footer.plx-flex.plx-flex-wrap
        .button(v-if='item.type == "sticker"').sticker
          i: .fas.fa-info-circle
          .price PACK INFO
            
        .button(v-else style="padding:0 5px")
          i: .plx-rubine.icon24.curr_icon_3
          .price
            span.face() 35.250
          //.button(style="padding:0 5px")
          i: .plx-sapphire.icon24.curr_icon_3
          .price
            span.face() 18

block head
  script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js')

  
block content

    -currentPage = 'market'
    include ../../navbar

    style   
        include store.css
    style   
        include hooper.css
    style   
        include ../rarityboxes.css



    h1.title.stfront STOREFRONT
    h3.subtitle Your new hub for Pollux Collectibles
    hr.plx-divider-small
    br
    #storefront
        if userdata
            .wealth.plx-flex.plx-flex-around
                .rubines
                    span.plx-rubine.icon64.curr_icon_3
                    span= miliarize(userdata.modules.rubines) || 0
                .sapphires
                    span.plx-sapphire.icon64.curr_icon_3
                    span= miliarize(userdata.modules.rubines) || 0
                .jades
                    span.plx-jade.icon64.curr_icon_3
                    span= miliarize(userdata.modules.rubines) || 0
                .tokens
                    span.plx-token.icon64.curr_icon_3
                    span= miliarize(userdata.eventGoodie) || 0
    
    
       
        .plx-flex.plx-width-1-1
            ul.storeside.store-sidebar.store-nav.plx-subnav(plx-switcher="connect:.store-tab-content; animation: plx-animation-slide-left-small, plx-animation-slide-left-small; active: 0")
                li.megastroke.menuitem(plx-filter-control="filter: *").plx-active
                    a.plx-button 
                        i: .fas.fa-star
                        label  Arrivals
                li.megastroke.menuitem(plx-filter-control="filter: .background ; group: type")
                    a.plx-button 
                        i: .fas.fa-image
                        label  Bundles
                li.megastroke.menuitem(plx-filter-control="filter: .medal ; group: type")
                    a.plx-button 
                        i: .fas.fa-map-marker
                        label  Backgrounds
                li.megastroke.menuitem(plx-filter-control="filter: .sticker ; group: type")
                    a.plx-button 
                        i: .fas.fa-clone
                        label  Medals
                li.megastroke.menuitem(plx-filter-control="filter: .item ; group: type")
                    a.plx-button 
                        i: .fas.fa-vial
                        label  Marketplace
              
            ul.store-main.plx-width-1-1.store-tab-content.plx-switcher
                
                    li#arrivals
                        
                        include pages/arrivals
                    li#bundles
                        p mega wiwi
                        //include pages/bundles
                    li#backgrounds
                        //include pages/backgrounds
                    li#medals
                        //include pages/medals        
                    li#marketplace
                        //include pages/marketplace
                
block scripts

  script
    include storefront.js