link(rel="stylesheet" href="/css/index-desktop.css")
link(rel="stylesheet" href="/css/servercard.css")

mixin magicPatreon(price,icon,tierid)
   a(href=`https://www.patreon.com/join/pollux/checkout?rid=${tierid}` target="blank").plx-button.button
        i
            .tier-icon
                img(src="/images/donate/icony/"+icon+"-small.png")
        span &#x2002 
            block

.halftones
        

section#splash

    .pollux-img(plx-parallax="y:800;opacity:1,1,.5")
        .plx-animation-slide-bottom-medium(style="animation-delay:.8s")
            .yet-another-dummy-container
                img(src="/images/pollux/polluxv8.png")
    .firstView__link
        img(src="/images/index/ornate.png")
    .square-container-1.plx-animation-slide-left-medium(style="animation-delay:1s")
        .big-fucking-square-1
    .square-container-2.plx-animation-slide-right-medium(style="animation-delay:1s")
        .big-fucking-square-2
    .big-damn-polly
        .image
    .info
        .plx-logo-sp(plx-parallax="opacity: 1,0;y:200")
            img(src="/images/logo.png" style="animation-delay:1.1s"  ).plx-animation-slide-bottom-medium
        h1.title.supershadow-title.plx-animation-slide-left-medium(style="animation-delay:1.2s" plx-parallax="y:-500") Your new favorite assistant 
        p.infobox.supershadow-text.plx-animation-slide-left-medium(style="animation-delay:1.3s"  plx-parallax="y:-500")
            | A feature-rich assistant focused on entertainment and social activities. Equipped with a variety of cool functionalities and minigames with unmatched depth and ellaborate visuals.
            br
            | Count on her to keep the activity around your community always blooming. 
    

    .buttons

        a(href="/#features" plx-scroll).plx-button.learnmore.supershadow-tools.supershadow-text
            i.fas.fa-arrow-down
            span &#x2002 CHECK IT OUT!
        div
        div(style="margin: auto")
        a(href="#" style="margin: 10px" onclick="install()").magic-outline.blue.plx-button.invite-button
            i.fab.fa-discord
            span &#x2002 INSTALL
        a(href="#" style="margin: 10px" onclick="login()" ).magic-outline.plx-button.login-main
            i.fas.fa-sign-in-alt
            span &#x2002 LOGIN
        div



section#feats-b
    .block.plx-double-border.supershadow-tools
        .block-top

        .block-body
            h2.title
                span.normal SOCIAL AND FUN:  
                    span.yellow REACTION  ROLES
                    |, 
                    span.pinku LEVELS  & RANKING
                    |, 
                    span.normal AND MORE ! 
            .content.plx-flex
                .left
                    img(src="/images/showcase/lead_dks.png")
                .center
                    | Still the prettiest ones around to this day! With the widest range of customizability. You can be conservative, kitschy, exotic... Anything that fits your style!
                    br
                    br
                    | Rank your members activity with our custom ranking system! Leaderboards for the most active users of your server that can be retrieved either via command or on its own dedicated page.
                .right
                    img(src="/images/showcase/profile_dsk.png")

        .block-bottom.skew1

    br
    br
    br
    br
    br
    br
    br
    .block.plx-double-border.supershadow-tools
        .block-top.skew1

        .block-body
            h2.title
                span.normal COLECTIBLES AND  DECOR !  
                    span.yellow COMPLETIONISTS  
                    |, 
                    span.pinku PARADISE  
                    |, 
                    span.normal !
            .content 
                
                .boxed
                    | OVER 
                    span.purple 2000 
                    | ITEMS TO COLLECT AND CHOOSE FROM
                    br
                    .parenthesis
                        | ( AND WE WILL NOT DELETE YOUR STUFF )
                    | BACKGROUNDS, MEDALS, FLAIRS, STICKERS, DECKS, CARDS 
                    span.purple AND MANY MORE 
                    | !
                   
                    

                

        .block-bottom.skew2



section#features

    .background(aplx-parallax="opacity: 1 ,.7;viewport: 0.5")
    //.mock-container
        .ava
            .img
        .msg
            h3 Test
            p Lorem ipsum dolor sit amet


    .feature-cards(plx-lightbox="animation: slide")
        .fcard(plx-scrollspy=" cls: plx-animation-slide-fcard-left; repeat: true")
            .co-frame.odd
            .icon
                a(href="/images/showcase/lead.png" data-caption="Rank your members activity with our custom ranking system!\nLeaderboards for the most active users of your server that can be retrieved either via command or on its own dedicated page")
                    img(src="/images/showcase/lead_dks.png")
            .details
                h3.title Ranking System
                h4.sub Make it to the top!
                p
                    | Rank your members activity with our custom ranking system!
                    br 
                    | Leaderboards for the most active users of your server that can be retrieved either via command or on its own dedicated page

        
        .fcard(plx-scrollspy=" cls: plx-animation-slide-fcard-right; repeat: true")
            .co-frame.even
            .icon
                a(href="/images/showcase/profile.png" data-caption="We've proudly rised the standards on profile customization within the bots scene, and in the latest update we're rising it again, They're still the prettiest ones around to this day, and with the widest range of customizability! You can be conservative, kitschy, exotic, thematic... anything that fits your style!")
                    img(src="/images/showcase/profile_dsk.png")
            .details
                h3.title Custom Profiles
                h4.sub Decor up to eleven!
                p 
                    | We've proudly rised the standards on profile customization within the bots scene, and in the latest update we're rising it again, They're still the prettiest ones around to this day, and with the widest range of customizability! You can be conservative, kitschy, exotic, thematic... anything that fits your style!

        
        .fcard(plx-scrollspy=" cls: plx-animation-slide-fcard-left; repeat: true")
            .co-frame.odd
            .icon
                a(href="/images/showcase/loot.png" data-caption="Collecting stuff can always be fun, the joy of completing a collection or getting that one item you want. You might not want to put effort in decorate a profile, but if you enjoy collecting stuff, we got you covered too!\nAll of our cosmetics are also collectibles. Just like everything else with Pollux. You can collect not just decor stuff, but also a whole sort of items, some of them can be even used to unlock more cool stuff!")
                    img(src="/images/showcase/loot_dsk.png")
            .details
                h3.title Collectibles
                h4.sub The joy of completionists!
                p 
                    | Collecting stuff can always be fun, the joy of completing a collection or getting that one item you want. You might not want to put effort in decorate a profile, but if you enjoy collecting stuff, we got you covered too!
                    br
                    //| All of our cosmetics are also collectibles. Just like everything else with Pollux. You can collect not just decor stuff, but also a whole sort of items, some of them can be even used to unlock more cool stuff!
    
        .fcard(plx-scrollspy=" cls: plx-animation-slide-fcard-right; repeat: true")
            .co-frame.even
            .icon
                a(href="/images/showcase/roulette.png" data-caption="Build your own virtual casino with our set of minigames, both single and multi player. We got the fanciest Blackjack, Slot Machine, and Roulette game. As well as some more fun and unusual minigames like Flag Guesser, Black Metal Band Guesser, and of course a Trivia Game too.")
                    img(src="/images/showcase/roulette_dsk.png")
            .details
                h3.title Minigames
                h4.sub The prettiest ones around! Never be bored Again.
                p 
                    |  Build your own virtual casino with our set of minigames, both single and multi player. We got the fanciest Blackjack, Slot Machine, and Roulette game. As well as some more fun and unusual minigames like Flag Guesser, Black Metal Band Guesser, and of course a Trivia Game too.
            
        
        .fcard(plx-scrollspy=" cls: plx-animation-slide-fcard-left; repeat: true")
            .co-frame.odd
            .icon
                a(href="/images/showcase/daily.png" data-caption="Our special three-currency based system was further enhanced to make sure the economy is strong and keeps the players time-investments protected.")
                    img(src="/images/showcase/daily_dsk.png")
            .details
                h3.title Solid Economy System
                h4.sub Your efforts are protected!
                p 
                    | Our special three-currency based system was further enhanced to make sure the economy is strong and keeps the players time-investments protected.

                        
    
        .fcard(plx-scrollspy=" cls: plx-animation-slide-fcard-right; repeat: true")
            .co-frame.even
            .icon
                a(href="/images/showcase/jiang_dsk.png" data-caption="Our exclusive global events introduce refreshing new features and minigames for everyone to play and obtain exclusive seasonal decor items and collectibles!")
                    img(src="/images/showcase/jiang_dsk.png")
            .details
                h3.title Seasonal Events
                h4.sub "...and now for something completelly different!"
                p 
                    | Yet another Pollux trademark. Spruce up your server with the prettiest chat minigames!
                    br
                    | Our exclusive global events introduce refreshing new features and minigames for everyone to play and obtain exclusive seasonal decor items and collectibles!

                       
        
        
section#pack
    .fcard-finale
        .halftones
        .icon
        h3.title.supershadow-title The Ultimate Community Pack
        h4.sub.supershadow-title Make your community fancy and engaging with our super pretty toolkit.
        ul.supershadow-text
            li 
                i.fas.fa-trophy.color-secondary
                | Server levels and rankings
            li 
                i.fas.fa-mouse-pointer.color-secondary
                | Reaction Roles
            li 
                i.fas.fa-money-bill-wave.color-secondary
                | Custom Currency
            li 
                i.fas.fa-gavel.color-secondary
                | Basic moderation kit
            li 
                i.fas.fa-star.color-secondary
                | And many more new stuff coming every month.


mixin fancyCard(title,main,icon,direction)
    .fancy-card(class=direction)
        .fancy-card-background.clipped-all
        .fancy-card-frame
        .fancy-card-visuals.clipped-bottom
            .main-container(plx-scrollspy="cls: plx-animation-slide-bottom; repeat: true")
                img(src=main ).main
            .icon
                img(src=icon plx-scrollspy="cls: plx-animation-scale-up; repeat: true")
        .fancy-card-container
            .fancy-card-textarea
                block
            .fancy-card-floating-title
                h3(plx-scrollspy="cls: plx-animation-slide-"+direction+"-medium; repeat: true; delay:100").supershadow-tools!= title

section#test.plx-flex-wrap
    .halftones
    div(plx-scrollspy="cls: plx-animation-slide-bottom-medium; repeat: true")
        +fancyCard("Crafting Workshop", "/images/pollux/plx_craft_640x480.png","/images/craft3.png","left")
            div(plx-scrollspy="target: *; cls: plx-animation-slide-left-medium; repeat: true;delay:100")
                h4.f-title-1.supershadow-tools Casual
                ul.supershadow-tools 
                    li Create common items with ease
                    li Pay with Rubines and Jades
                    li Simplified progression
                    li Discovery

                h4.f-title-2.supershadow-tools Advanced
                ul.supershadow-tools 
                    li Specialize in crafting for others
                    li Create exclusive items
                    li Only spend materials and recipes
                    li Sell & offer your services for Rubines
    .supershadow-tools.fc-description(plx-scrollspy="cls: plx-animation-slide-left-medium; repeat: true")
        p
            | A crafting system for the fans of mixing and throwing things together and explore what kinds of things can be done out of it. 
            br
            br
            | Crafting can be either casual, for making items you might need right now without much hassle, or advanced where you invest some time and learn the system to create more items and even have an extra source of income!

    br


    .supershadow-tools.fc-description(plx-scrollspy="cls: plx-animation-slide-right-medium; repeat: true")

        p
            | Build your own virtual casino with our set of minigames, both single and multi player. 
            br
            br

            | We got the fanciest Blackjack, Slot Machine, and Roulette game. As well as some more fun and unusual minigames like Flag Guesser, Black Metal Band Guesser, and of course a Trivia Game too.
            br
            br
            | New minigames are added in every Event!

    div(plx-scrollspy="cls: plx-animation-slide-bottom-small; repeat: true")
        +fancyCard("Activities<span class='minitext'>&</span> Minigames", "/images/pollux/cards_polluxcards.png","/images/craft1.png","right")
            div(plx-scrollspy="target: *; cls: plx-animation-slide-left-medium; repeat: true;delay:100")
                h4.f-title-1.supershadow-tools Casual
                ul.supershadow-tools
                    li Blackjack
                    li Roulette
                    li Guess the Flag
                    li Hangmaid
                    li Trivia

                h4.f-title-2.supershadow-tools Advanced
                ul.supershadow-tools
                    li Special modes for Classic Minigames:
                        | •   Time Attack, Endless, Sudden Death
                    li Adventure Islands
                    li Airliner Tycoon
                    li Cooking
   
    br



    div(plx-scrollspy="cls: plx-animation-slide-bottom-medium; repeat: true")
        +fancyCard("Community<span class='minitext'>&</span> Polluxverse", "/images/pollux/pollux_selfie.png","/images/craft2.png","left")
            div(plx-scrollspy="target: *; cls: plx-animation-slide-left-medium; repeat: true;delay:100")
                //h4.f-title-1.supershadow-tools Theme Events

                h4.f-title-1.supershadow-tools Community
                ul.supershadow-tools 
                    li Fanart Gallery
                    li Cosmetics & Decor Labs
                    li Giveaways
                    li Gaming & Watching Parties
                
                h4.f-title-2.supershadow-tools Polluxverse
                ul.supershadow-tools                     
                    li Event Mascots
                    li RPG Elements
                    li Storyline Items
                    li Original Cosmetics

    .supershadow-tools.fc-description(plx-scrollspy="cls: plx-animation-slide-left-medium; repeat: true")
        p
            | Pollux goes beyond of just bot minigames. We have a thriving family of players and other friends that gather around for gaming, music, or just chit-chat.
            br
            | Join us to participate in polls, several seasonal server-events, giveaways, and many more!




section#advanced
    .fcard-finale.supershadow-tools
        .halftones

        h3.title.supershadow-title Enjoy it in your own way! Casual or Hardcore. 
        h4.sub.supershadow-title Delve deeper and explore our never-ending paths of global progression.

        p In addition to minigames and "e-toys", Pollux also provides an elaborated social sphere with its own global progression system.

        .adv-feat(plx-lightbox).plx-flex.plx-flex-between
            - var link = "/images/showcase/craft.png" 
            a(href=link)
                img(plx-img src=link)
            .text
                .supershadow-text
                    h3.title Crafting
                    h4.sub Mix, Create, Discover!
                    p If you enjoy exploring and poking around with putting things together and see what comes out of it. Our crafting system is one of the richest you'll find. You can craft from recipes, or just experiment with stuff you have in your hands and see what comes out of it!
                    br
                a(href="/crafting#discovery" data-type="iframe" data-attrs="width: 1300; height: 700;").plx-button.plx-button-default.plx-button-secondary
                    i: .fas.fa-vial
                    span &#x2003;
                    span TRY NOW!
        br
        hr.plx-divider-icon
        .adv-feat(plx-lightbox).plx-flex.plx-flex-between
            - var link ="/images/showcase/venture.png" 
            a(href=link)
                img(plx-img src=link)
            .text.supershadow-text
                h1.title Adventure Mode
                h3.sub It is back! Better than ever
                p 
                    | You asked for it and it is back! The "Venture Forth" minigame from the Hallowinter 2019 event has been upgraded to a full minigame module!
                    br
                    | Explore different places and landscape to find and collect all sorts of stuff and unveil stories and mysteries from Pollux's universe!
        br
        hr.plx-divider-icon
        .adv-feat(plx-lightbox).plx-flex.plx-flex-between
            - var link ="/images/showcase/inventory.png" 
            a(href=link)
                img(plx-img src=link)
            .text.supershadow-text
                h1.title New Inventory
                h3.sub Know exactly what you have
                p 
                    | The inventory system was overhauled with new visuals and more specific types of items so you know exactly what's in your pockets!
        br
        br


section#premium.supershadow-tools

    .plx-container

        h1.title.supershadow-title Extra fancy perks for extra fancy people
        h3.subtitle.supershadow-title Support the project and become a PRIME player!

        p.supershadow-text We only exist because of the voluntary contributions of our community, become part of it by supporting us at any of our support tiers:


    .common-tiers
        .tier-card.raritybox.U: .inner
            .tier-icon
                img(src="/images/donate/aluminium.png")
            h4.title Aluminium
            h5.desc The most economic
            h6.price
                span.dol $
                span.number 5
            ul.perks
                li 
                    | 3 
                    span.saph Sapphires
                    | 1st Month
                li  Daily Bonus Boost
                li  
                    | 1 
                    b (random) 
                    | Pollux 
                    span.stick Profile Sticker
                li 
                    | 3 bonus 
                    span.saph  sapphires
                    | every month
                li 
                    | 5 
                    span.rar.U
                        i.plx-rarity-icon.U
                        | Uncommon
                    span.box Funboxes
                
            //.button.special.alt
                i: .fas.fa-star
                .price Special
            +magicPatreon(2,"aluminium","3326865")
                | Details

        .tier-card.best.raritybox.responses.toggle.disabledComSer.raritybox.R: .inner
            .tier-icon
                img(src="/images/donate/lithium.png")
            h4.title Lithium / Iridium
            h5.desc The most popular
            h6.price
                span.dol $
                span.number 15
            ul.perks
                li 
                    | 10 
                    span.saph Sapphires
                    | 1st Month
                li  Daily Bonus Boost
                li  
                    | 2*                    
                    | Pollux 
                    span.stick Profile Stickers
                li 
                    | 12 bonus 
                    span.saph  sapphires
                    | every month
                li 
                    | 5 
                    span.rar.SR
                        i.plx-rarity-icon.SR
                        | Super-Rare 
                    span.box Funboxes
                li A custom Profile Background

            +magicPatreon(2,"lithium","3326881")
                | Details
        .tier-card.raritybox.SR: .inner
            .tier-icon
                img(src="/images/donate/palladium.png",)
            h4.title Palladium
            h5.desc The best value
            h6.price
                span.dol $
                span.number 25
            ul.perks
                li 
                    | 15 
                    span.saph Sapphires
                    | 1st Month
                li  Daily Bonus Boost
                li  
                    | 3**                    
                    | Pollux 
                    span.stick Profile Stickers
                li 
                    | 20 bonus 
                    span.saph  sapphires
                    | every month
                li 
                    | 5 
                    span.rar.SR
                        i.plx-rarity-icon.SR
                        | Super-Rare 
                    span.box Funboxes
                li A custom Profile Background
                li A custom Profile Link



            +magicPatreon(2,"palladium",'3326882')
                | Details
        .tier-card.UR.raritybox: .inner
            .tier-icon
                img(src="/images/donate/zircon.png")
            h4.title Zirconium
            h5.desc The unique perks
            h6.price
                span.dol $
                span.number 50
            ul.perks
                li 
                    | 25 
                    span.saph Sapphires
                    | 1st Month
                li  Daily Bonus Boost
                li  
                    | 4***                    
                    | Pollux 
                    span.stick Profile Stickers
                li 
                    | 30 bonus 
                    span.saph  sapphires
                    | every month
                li 
                    | 8 
                    span.rar.UR
                        i.plx-rarity-icon.UR
                        | Super-Rare 
                    span.box Funboxes
                li A custom Profile Background
                li A custom Profile Link
                li Free Shipping on Pollux merch
                li 2 Custom Commands

            +magicPatreon(2,"zircon","3326897")
                | Details

    .explanation-box
        
        span.aster
            i.fas.fa-asterisk
        span Latest sticker announced + previous month one  
        br
        span.aster
            i.fas.fa-asterisk
            i.fas.fa-asterisk
        span Latest sticker announced + previous month one + one random
        br
        span.aster
            i.fas.fa-asterisk
            i.fas.fa-asterisk
            i.fas.fa-asterisk
        span Latest sticker announced + previous month one + two random
    .plx-container
        p.supershadow-text  We have other options with slightly different perks or directed at large communities with multiple PRIME memberships at once:

    .other-tiers
        .mini-tier-card.raritybox.C.tier-card: .inner
            .icon: img(src="/images/donate/plastic.png")
            .text
                h5 Plastic
                h6 Show some love
                ul.mini
                    li Special Flair
            .price 
                .dol $
                .number 2
            +magicPatreon(2,"plastic","3326854")
                | Details
        .mini-tier-card.raritybox.U.tier-card: .inner
            .icon: img(src="/images/donate/carbon.png")
            .text
                h5 Iron/Carbon
                h6 More perks that fit your pocket
                ul.mini
                    li Latest Pollux Sticker
            .price 
                .dol $
                .number 10
            +magicPatreon(10,"carbon","3326868")
                | Details
        .mini-tier-card.raritybox.R.tier-card: .inner
            .icon: img(src="/images/donate/uranium.png")
            .text
                h5 Uranium
                h6 For large-community owners and power-players
                ul.mini
                    li Pollux Sticker Boosters
            .price 
                .dol $
                .number 75
            +magicPatreon(75,"uranium",'3326899')
                | Details
        .mini-tier-card.raritybox.SR.tier-card: .inner
            .icon: img(src="/images/donate/astatine.png")
            .text
                h5 Astatine
                h6 The supporters elite
                ul.mini
                    li Custom Server Shops
            .price 
                .dol $
                .number 100
            +magicPatreon(100,"astatine",'2735294')
                | Details
        .mini-tier-card.raritybox.UR.tier-card: .inner
            .icon: img(src="/images/donate/antimatter.png")
            .text
                h5 Antimatter+
                h6 The ultimate sponsors
                ul.mini
                    li Additional Gift Subs
            .price 
                .dol $
                .number 500
            +magicPatreon(500,"antimatter",'3326916')
                | Details
