canvas#canvas

SCRIPT.
      var loc = "!{lang}".replace("cz", "cs")
       moment.locale(loc)
       /*
       !{ecomala[1]}      time
       !{ecomalastamp[1]} money obj
       */
       var a = [!{ecomala.map(function (asr) {return asr})}]
       var b = !{JSON.stringify(ecomalastamp)}

       a=a.map(function (asr) {return moment(asr).format("MMM Do h:mm a")})
       
       var color = Chart.helpers.color;
       var barChartData = {
         labels: a.slice(-10),
         datasets: [
           {
             label: 'Jades',
             lineTension: 0,
             backgroundColor: "#3aa69e",
             borderWidth: 1,
             data: b.map(function (grp) {return grp.jade}).slice(-10)
           },
           {
             label: 'Rubines',
             backgroundColor: "#d43c3c",
             borderWidth: 1,
             lineTension: 0,
             options: {},
             data:b.map(function (grp) {return grp.rubine}).slice(-10)
            } ,          {
             label: 'Sapphires',
             backgroundColor: "#483cd4",
             borderWidth: 1,
             lineTension: 0,
             options: {},
             data:b.map(function (grp) {return grp.sapphire}).slice(-10)
            }
          ]
       };


       window.onload = function () {
           var ctx = document.getElementById("canvas").getContext("2d");
           window.myBar = new Chart(ctx, {
             type: 'bar',
             data: barChartData,
             options: {
               scales: {
                 xAxes: [{
                   stacked: true
                  }],
                 yAxes: [{
                   stacked: false
                }]
               }
             },
             responsive: true,
             legend: {
               position: 'top',
             },
             title: {
               display: true,
               text: 'LAST 10 MINUTES'
             }
           })
           }
       