style .SOON{pointer-events:none;opacity:.4} //.SOON:after{content:'SOON';font-size:smaller;}
nav.plx-navbar.plx-nav-container.topbar(plx-navbar class=index?"home":"" plx-sticky=index?"animation: plx-animation-slide-top-medium;top: 90vh; bottom: true":"")
    .plx-navbar-left
        div(style="top: 0;position: absolute;")
            a.sidewinders.left-sw.bg-discord(class="plx-visible@s" href="#")  
                i.fab.fa-discord
                .hidden-desc Discord Server
            a.sidewinders.left-sw.bg-twitter(class="plx-visible@m" href="#")      
                i.fab.fa-twitter
                .hidden-desc @maidPollux
            if !!index       
                a.sidewinders.left-sw.bg-reddit(class="plx-visible@l " href="#")      
                    i.fab.fa-reddit
                    .hidden-desc /r/Pollux

    .plx-navbar-center(class="plx-visible@s")        
        .plx-navbar-center-left
            ul.plx-navbar-nav
                li.lv1-nav(class=currentPage==="commands"?"is-current":"")
                    i.fas.fa-cogs  
                    a(href="/commands") Commands
                li.lv1-nav(class=currentPage==="market"?"is-current":"")
                    i.fas.fa-shopping-basket
                    a(href="#").arrowlink Market
                    .plx-navbar-dropdown.ballooned.market_menu
                        div
                            .mkmenu_title Rubine Market
                            .plx-width-1-1: a(href="/shop").plx-button.plx-width-1-1.plx-button-menu
                                i.fas.fa-store-alt 
                                |&#x2000  Storefront
                            .plx-grid.fancylist
                                ul.plx-list.sideA.plx-width-1-2.market_top
                                         
                                        li.SOON(): a(href="/shop/backgrounds"): span
                                            i.fas.fa-images
                                            |&#x2000  Background Shop
                                         
                                        li(): a(href="/crafting"): span
                                            i.fas.fa-flask
                                            |&#x2000  Crafting Workshop
                                         
                                        li.SOON(): a(href="/shop/partners"): span
                                            i.fas.fa-store
                                            |&#x2000 Partner Shops

                                ul.plx-list.sideB.plx-width-1-2
                                         
                                        li.SOON(): a(href="/shop/medals"): span
                                            i.fas.fa-bullseye
                                            |&#x2000  Medal Shop
                                        
                                        li(): a(href="/stickers"): span
                                            i.fas.fa-splotch
                                            |&#x2000 Profile Stickers
                                        
                                        li.SOON(): a(href="/shop/marketplace"): span
                                            i.fas.fa-store
                                            |&#x2000  User Marketplace

                            .market_bottom
                                div
                                    .mkmenu_title Premium Market
                                    .plx-grid.fancylist
                                        ul.plx-list.sideA.plx-width-1-2
                                            li.SOON(): a(href="/shop/premium"): span
                                                i.fab.fa-cc-paypal
                                                |&#x2000 Cash Shop 
                                        ul.plx-list.sideB.plx-width-1-2
                                            li.SOON(): a(href="/shop/donators"): span                                    
                                                i.fas.fa-cube
                                                |&#x2000 Exclusive Cosmetics    

                                                
                li.lv1-nav(href="/events" class="plx-visible@l " + (currentPage==="events"?"is-current":"") )
                    i.fas.fa-star
                    a(href="#").arrowlink Events
                    .plx-navbar-dropdown.ballooned.event_menu
                        div
                            .mkmenu_title Ongoing
                            if EVENT.end 
                                div(plx-countdown="date: "+(new Date(EVENT.end)) ).smallcounter
                                    div
                                        .plx-countdown-number.plx-countdown-days
                                        .plx-countdown-label.plx-text-center.plx-margin-small D
                                    .plx-countdown-separator :
                                    div
                                        .plx-countdown-number.plx-countdown-hours
                                        .plx-countdown-label.plx-text-center.plx-margin-small H
                                    .plx-countdown-separator :
                                    div
                                        .plx-countdown-number.plx-countdown-minutes
                                        .plx-countdown-label.plx-text-center.plx-margin-small M
                                    .plx-countdown-separator :
                                    div
                                        .plx-countdown-number.plx-countdown-seconds
                                        .plx-countdown-label.plx-text-center.plx-margin-small S
                            else
                                p No events ongoing
                        .events_bottom.fancylist
                            .mkmenu_title Info
                            a(href="/events"): span
                                i.far.fa-calendar
                                |&#x2000  See all events information
        .plx-navbar-item( style="width: 0px;margin: 0;padding: 0;" class="plx-hidden@m")
        a.plx-navbar-item.plx-logo(class="plx-visible@m" href="/")
            div
                 //img(style="  height: 30px; margin-bottom:8px; " src="/images/pollux_typ.svg")
                 img(style="  height: 30px; margin-bottom:8px; transform:scale(1.8)" src="/images/logo.png")
            //  POLLUX
        .plx-navbar-center-right
            ul.plx-navbar-nav
                li.SOON.lv1-nav(class=currentPage==="donate"?"is-current":"")
                    i.fas.fa-gift(class="plx-hidden@m")
                    a(href="/donate") Donate
                    i.rtg.fas.fa-gift(class="plx-visible@m")
                li.SOON.lv1-nav(class="plx-visible@s " + (currentPage==="partners"?"is-current":"") ) 
                    i.fas.fa-heart(class="plx-hidden@m")
                    a(href="/partners") Partners
                    i.rtg.fas.fa-heart(class="plx-visible@m")
                li.lv1-nav(class="plx-visible@l " +  (currentPage==="fanart"?"is-current":"") )      
                    a(href="/fanart") Fanart
                    i.rtg.fas.fa-paint-brush
    
    .plx-navbar-right

        
    if !userinfo
        .login.plx-flex.plx-button
            .bg-purple 
            span.logon(onclick="login()" class="plx-visible@s" style="font-size:1.2rem")
                span  LOGIN 
                i.fas.fa-sign-in-alt
            span(style="font-size:1.2rem" type="button" plx-toggle="target: #offcanvas-reveal" class="plx-hidden@s").logon   
                i.fas.fa-bars(style="margin: 10px 10px 6px -5px;width: 100%;font-size: 24px;")
    if userinfo
        .login.plx-button(type="button" plx-toggle="target: #offcanvas-reveal")
            .bg-purple
            span.truncate(style="margin: 0 0 0 -15px;") #{userinfo.uname} 
            span.navnumbers ##{userinfo.discriminator}
            div(plx-img data-src=userinfo.pix alt="Avatar").hexagon.pinkord-placeholder.user-avatar
            span(style="font-size:1.2rem" class="plx-hidden@s").logon
                i.fas.fa-bars(style="margin: 10px 10px 6px -5px; width: 100%;font-size: 24px;")
                

#offcanvas-reveal(plx-offcanvas='mode: '+(!index?'reveal':'slide')+'; overlay: true; flip:true')
    .plx-offcanvas-bar.pom
        button.plx-offcanvas-close(type='button', plx-close='')       
        include user_sidebar
