.plx-button.plx-bg-card.plx-background-cover(
        plx-img="/backdrops/"+bg.code+".png"
        data-src="/backdrops/"+bg.code+".png"
        alt=`Background: ${bg.name}`
        data-height="100px"
        data-width="120px"
        type="button" 
        plx-toggle="target: #get-bg" 
        data-price="1000" 
        data-name=bg.name 
        data-code=bg.code 
        data-rarity=bg.rarity 
        data-artist=bg.artistName||bg.artistname 
        data-atlink=bg.artistLink||bg.artistlink 
        data-tags=bg.tag
        
    )

        .plx-rarity(class=bg.rarity)