include ../../templates
.nano: .nano-content.padded
  .relativ
    -
      let ii3 = {
              theme:'is-ruby',
              classes:'fas fa-save',
              colA: '#ccc',
              colB: '#aaa',
              caption: 'SAVE',
              id: 'savestk',
              disabled: true
              }
    .stkbutton
      +iconButton(ii3)
    .feat
      .title: b Featured Sticker
      .bgfit
          img.level-item(src="/build/stickers/"+user.modules.sticker+".png" style="margin: auto;height: 300px;").userstik#userstik
          -
            var groupBy = function(xs, key) {
                return xs.reduce(function(rv, x) {
                (rv[x[key]] = rv[x[key]] || []).push(x);
                return rv;
              }, {});
            };

      br
    .browse
      .title: b Sticker Collection
      .subtitle <a href="/stickers">Clicke here to check all stickers from every series. </a>
      -let stickerBase = STICKERBASE.filter(i=>i.type=='sticker'&&i.public==true);
      -let customs = ["323399715842424835"]
      -
        usershit.guilds.map(x=>x.id).forEach(gld=>{
          if(customs.includes(gld)){
            
            stickerBase=stickerBase.concat(STICKERBASE.filter(x=>x.type=='sticker'&&x.exclusive==gld))
          }          
        })
        
      //if userinfo.id == '88120564400553984'
        pre= usershit.guilds.map(x=>x.id)
        pre= customs
        pre= STICKERBASE
        
      //pre= stickerBase
      -let rate = {C:1,U:2,R:3,SR:4,UR:5}
      //.button#hideUnowned
        | Hide Unobtained
      //span &#x2003
      //.button#showUnowned
        | Show Unobtained
      
      .inv_box.stkInvent
          .title.is-4.b500.is-marginless Series
          if user.modules.stickerInventory
            -let base = stickerBase
            //.filter(st=>user.modules.stickerInventory.includes(st.id))
            -let cols = groupBy(base,'series')
            
            cols.sort()
            
            for series,name in cols
              br
              .title.b500.is-marginless= name
              .stkInvent.flexboxi
                for stk in series.filter(s=>user.modules.stickerInventory.includes(s.id))
                  -let ihave = s_inv //user.modules.stickerInventory.includes(stk.id)?"s_inv":"s_see"
                  .sticker_card(class=ihave)
                    .sticker_icon
                      a.stkpick: img(src="/build/stickers/"+stk.id+".png").is-vcentered
                      img.this_rare_s(src="/images/tiers/"+stk.rarity+".png").is-vcentered
                    .sticker_info
                      .sticker_name.truncate=    stk.name
                      .sticker_series.truncate=  stk.series
                      .sticker_rate
                        //p= i.rarity
                        //p= rate
                        //p= rate[i.rarity]
                        each i in [1, 2, 3, 4, 5]

                          if i <= rate[stk.rarity]
                            span.star <i class="fas fa-star"></i>  
                          else
                            span.nostar <i class="far fa-star"></i>
          else

