-let split               = server.splitLogs
-let generalLogsEnabled  = server.modules.LOGCHANNEL != undefined
-let advancedLogsEnabled = server.modules.ADVLOG && server.modules.ACTLOG && server.modules.MODLOG 
-let logging = server.logging


.message.is-small.fullheight.mobsave
  .message-header(style="z-index:9"): b=translation.website.advancedSets || translation.website.advanced || "Advanced Server Settings"
  .message-body.nano: .nano-content
    .container.is-fluid
        br
        br

        .box
          .level.is-marginless
            label.switch.level-left
              
              input(type="checkbox" data-type="logON" checked=logging).check.logstoggle#checklf
              span.slider
            p.subtitle.is-marginless.level-left: b=" "+(translation.website.logchans ||"Log Channels")
            .level-item
            .level-right
              .button.is-info.is-small#saveLogs=translation.website.save || "Save"
            span &#x2003
            .level-right
              .button.itm(data-target="logs").is-dark.is-small#cfgLogs=translation.website.configure || "Configure"
          -let logsEnabled =  logging?"":"display:none;"
          .columns.logset(style=logsEnabled)
            .column
              br


              p=translation.website.all_logs || "All Logs"

              .field.has-addons.level
                div.control.level-left: .select.is-small: select( disabled=generalLogsEnabled ).unadvanced#logcha
                  each chan in svchans
                    if chan.id == server.modules.LOGCHANNEL
                      option(id=chan.id selected)= chan.name
                    else
                      option(id=chan.id)= chan.name

              li.level
                  label.switch.level-left
                   
                    input(type="checkbox" data-type="logSPLIT" checked=split).check.advtog#splitchk
                    span.slider
                  span &#x2003
                  p.level-left.is-marginless= translation.website.split_logs ||  "Split Logs"
                  .level-item
              br
              br
              br
              br
              
             

            .column.advanced(style=logsEnabled2)
              p=translation.website.advanced || "Advanced"
              .field.has-addons.level
                div.control.level-left: .select.is-small: select( disabled=!split )#logchaAD.advanced
                  each chan in svchans
                    if chan.id == server.modules.ADVLOG
                      option(id=chan.id selected)= chan.name
                    else
                      option(id=chan.id)= chan.name


              p=translation.website.activity || "Activity"
              .field.has-addons.level
                div.control.level-left: .select.is-small: select( disabled=!split )#logchaAC.advanced
                  each chan in svchans
                    if chan.id == server.modules.ACTLOG
                      option(id=chan.id selected)= chan.name
                    else
                      option(id=chan.id)= chan.name


              p=translation.website.moderation || "Moderation"
              .field.has-addons.level
                div.control.level-left: .select.is-small: select( disabled=!split )#logchaMD.advanced
                  each chan in svchans
                    if chan.id == server.modules.MODLOG
                      option(id=chan.id selected)= chan.name
                    else
                      option(id=chan.id)= chan.name

        -var opt_none = translation.website.none ||"--NONE--"
        -var opt_mute = translation.website.mute ||"Mute"
        -var opt_kick = translation.website.kick ||"Kick"
        -var opt_ban = translation.website.ban   ||"Ban"


        .columns
            .column
              .box.generally-disabled
                p!= "<b>Spam-Buster: </b>"
                br
                .columns
                  .column
                    .level.is-marginless
                      span.level-left Anti-Flood
                      input.level-right(type="checkbox" checked=server.modules.ANTISPAM data-target="flood").disableCheck
                    .field.level.is-marginless
                      span Treshold
                      .control.level-right: input.thresflood.input.is-small(type="number" value=0 disabled=!server.modules.ANTISPAM)

                    .field.level.is-marginless
                      span.level-left=translation.website.actionTake || "Action to take"
                      div.control.level-right: .select.is-small: select( disabled=!server.modules.ANTISPAM).thresflood
                        option#none= opt_none
                        option#mute(selected)= opt_mute
                        option#kick= opt_kick
                        option#ban= opt_ban
                    hr
                    small: i Penalises users for sending messages too fast. Threshold is the amount of messages within 3 seconds
                  .column
                    .level.is-marginless
                      span.level-left Anti-Mention-Spam
                      input.level-right(type="checkbox" checked=server.modules.ANTISPAM data-target="mention").disableCheck
                    .field.level.is-marginless
                      span Treshold
                      .control.level-right: input.thresmention.input.is-small(type="number" value=0 disabled=!server.modules.ANTISPAM)

                    .field.level.is-marginless
                      span.level-left=translation.website.actionTake || "Action to take"
                      div.control.level-right: .select.is-small: select( disabled=!server.modules.ANTISPAM).thresmention
                        option#none= opt_none
                        option#mute(selected)= opt_mute
                        option#kick= opt_kick
                        option#ban= opt_ban
                    hr
                    small: i Penalises users for mentioning too much. Threshold is the amount of mentions (user or role) per message.
                  .column
                    .level.is-marginless
                      span.level-left Anti-Invite-Link
                      input.level-right(type="checkbox" checked=server.modules.ANTISPAM data-target="invite").disableCheck
                    .field.level.is-marginless
                      .control.level-right: .button.thresinvite.is-danger.is-small(style="pointer-events:none" disabled=!server.modules.ANTISPAM) Mod Bypass
                      span Ignore Mods
                      input.level-right(type="checkbox" checked=server.modules.ANTISPAM disabled=!server.modules.ANTISPAM).thresinvite

                    .field.level.is-marginless
                      span.level-left=translation.website.actionTake || "Action to take"
                      div.control.level-right: .select.is-small: select( disabled=!server.modules.ANTISPAM).thresinvite
                        option#none= opt_none
                        option#mute(selected)= opt_mute
                        option#kick= opt_kick
                        option#ban= opt_ban

                    hr
                    small: i Penalises users for posting invite links. Ignore Mods lets members of MODROLE and users with Admin permissions to bypass this.

        .level
          .level-item
          .level-right
            .button.is-success=translation.website.save || "Save"
            span &#x2003
            .button.is-danger.is-small=translation.website.reset || "Reset"
        hr
        .columns

            .column
              script.
                function nuke(serv){

                   swal({
                        title: "Are you F*ing sure?",
                        text: "You are about to nuke your server and reset everything. Are you sure?",
                        type: "error",
                        showCancelButton: true,
                        confirmButtonColor: "#d61c1c",
                        confirmButtonText: "No, take me out of here!",
                        cancelButtonColor: "#1c47d6",
                        cancelButtonText: "Yes, I'm sure",
                        //closeonconfirm: true,
                        //closeOnCancel: false

                      }).then(function () {},function(dismiss){
                           if (dismiss === 'cancel') {
                          swal({
                        title: "Really?",
                        text: "Data will be lost FOREVER and cannot be restored. Do you really want to do that?",

                        showCancelButton: true,
                        confirmButtonColor: "#d61c1c",
                        confirmButtonText: "Ok, better not!",
                        cancelButtonColor: "#1c47d6",
                        cancelButtonText: "Just nuke it already",
                        //closeonconfirm: true,
                        //closeoncancel: false,
                        imageUrl:"https://openclipart.org/image/2400px/svg_to_png/253954/radioactive-transparent.png"


                      }).then(function () {}, function (dismiss) {
                     

                          if (dismiss === 'cancel') {

                          var postage = $.post("/nuke", {
                                  server: serv
                                })
                                //==>
                                postage.done(function (res) {
                                  console.log(res)

                                  swal({
                                    title: res.t,
                                    text: res.m,
                                    type: res.s,
                                    confirmButtonColor: res.c,
                                    confirmButtonText: res.b,
                                    //closeonconfirm: true,
                                    imageUrl:"https://openclipart.org/image/2400px/svg_to_png/253954/radioactive-transparent.png"
                                    // showLoaderOnConfirm: true,
                                  })

                          })

                          
                            }
                          })
                        }
                      })


                }
              .message.is-small.is-danger
                .message-header
                  p=translation.website.dangerzone || "Danger Zone"
                .message-body
                  h1: b=translation.website.nukesv || "Nuke Server"
                  p=translation.website.nukedes || "This will wipe EVERY server-specific options and settings, achievements, bank items, cherry modules and all custom stuff and data will be lost forever, there's no way to revert this.\nOnly the server owner can use issue a nuke."
                  .level
                    .level-item
                    .level-right
                      a(onclick="javascript:nuke("+server.id+")" style="text-decoration:none").navbar-right.button.is-danger.has-addons
                        span.icon.is-pulled-left
                          i.fa &#x2622
                        //span.divider  &#x2004
                        div( style="border-left:1px solid #844;border-right:1px solid #eee; opacity:.15;height:28px")
                        span.divider  &#x2000
                        span.is-pulled-right=translation.website.send_nudes || "SEND NUKES"
