-
    let lngs = [
    ["en","English","GB"],
    ["pt-BR","Português Brasileiro","BR"],
    ["cz","Čeština"],
    ["pt-EU","Português Europeu","PT"],
    ["de","Deutsch","DE"],
    ["es","Español","ES"]
    ]
  
-let t=translation.website

.message.is-small.mobsave
  .message-header(style="z-index:9"): b Basic Server Settings
  .message-body
    
    
      .columns.level
        .column.is-2
          p!= "<b>Prefix: </b>"
          div.control.level-left
            input.input(size=3 width="64px" value=server.modules.PREFIX||"+").is-#prefix_select.b900
            p &#x2003 &#x2003 &#x2003 
        
        .column


                  
          p!= "<b>Server Language: </b>"
            -var lg = server.modules.LANGUAGE
            
            div.control.level-left: .select.is-small: select#lang
              each i in lngs
                option(selected=(lg==i[0]) id=i[0])= i[1]

          //each lang in botLangs



        .column

          p!= "<b>Moderation Role: </b>"

            div.control.level-left: .select.is-small: select#mod_role
              option= "--NONE--"
              each role in svroles
                if role[0] == modrole
                  option(id=role[1] selected)= modrole
                else
                  option(id=role[1] style="color:"+role[2]): b= role[0]


        .column

          p!= "<b>Mute Role: </b>"

            div.control.level-left: .select.is-small: select#mute_role
              option= "--NONE--"
              each role in svroles
                if role[1] == server.modules.MUTEROLE ||role[0] == "POLLUX-MUTE"
                  option(id=role[1] selected)= role[0]
                else
                  option(id=role[1] style="color:"+role[2]): b= role[0]


      .box
          .columns.is-marginless
            .column
              li.level 
                  p.subtitle.is-marginless= t.welMes
                  label.switch
                    -let V = server.modules.GREET.enabled
                    input(type="checkbox" data-type=".hi" checked=V).check#hi_check
                    span.slider
              
              .field
                .control: textarea(disabled=!V).hi#welc.textarea(rows="10" placeholder="Hey, %user% left the server!")= server.modules.GREET.text


              .columns
                .column
                  p: b= t.welChn
                  .level
                    div
                      div.control.level-left: .select.is-small: select(disabled=!V).hi#WCC
                        each chan in svchans
                          if chan.id == server.modules.GREET.channel
                            option(id=chan.id selected)= chan.name
                          else
                            option(id=chan.id)= chan.name
                      p= "Current: "+(svchans.find(x=>x.id==server.modules.GREET.channel)||{name:"none"}).name
                   

                .column
                      p: b= t.timeout
                      .field.has-addons.level.level-item.is-marginless
                          div.control.level-left
                            input(disabled=!V).hi.input.is-small(size=6 value=server.modules.FWELL.timer)#greethidel
                            span= t.milisseconds


            .column
              li.level
                  p.subtitle.is-marginless= t.byeMes
                  label.switch
                    -let B = server.modules.FWELL.enabled
                    input(type="checkbox" data-type=".bye" checked=B).check#bye_check
                    span.slider
              .field
                .control: textarea(disabled=!B).bye#byem.textarea(rows="10" placeholder="Hey, %user% left the server!")= server.modules.FWELL.text

              .columns
                .column
                  p: b= t.byeChn
                  .level
                      div
                        div.control.level-left: .select.is-small: select(disabled=!B).bye#BYC
                          each chan in svchans
                            if chan.id == server.modules.FWELL.channel
                              option(id=chan.id selected)= chan.name
                            else
                              option(id=chan.id)= chan.name                        
                        p= "Current: "+(svchans.find(x=>x.id==server.modules.FWELL.channel)||{name:"none"}).name

                .column
                  p: b= t.timeout
                  .field.has-addons.level.level-item.is-marginless
                      div.control.level-left
                        input(disabled=!B).bye.input.is-small(size=6 value=server.modules.FWELL.timer)#fwehidel
                        span= t.milisseconds

          small.weak: i!= "<b>Wildcards</b> %user% = Mentions user | %username% = Shows user's display name | %server% Shows Server name"
          
      .level.is-marginless
        .level-item
        .level-right
          .button.is-success#savebasic= t.save
          span &#x2000
          .button.is-danger.is-small= t.reset
      
  //pre=JSON.stringify(server.modules,null,4)
