link(rel='stylesheet' href='/css/profile.css')

script(src=INSTANCE_VUE_PATH)
script(src="https://twemoji.maxcdn.com/2/twemoji.min.js?12.0.4")
script(src='https://unpkg.com/@johmun/vue-tags-input/dist/vue-tags-input.js')
script(  src='https://unpkg.com/vue-select@3.11.0')




include templates/tags-input
style 
    include memberpick.css

br
.plx-grid.plx-width-5-6.plx-position-fixed.underbar
    .plx-width-1-2
        button#save-all.plx-button.plx-button-primary( xplx-sticky="cls-active:glued-totop ;offset:10; animation:true"  )
            i.fas.fa-save
            span &#x2003  
            span SAVE
    .plx-width-1-2
        button.plx-button.plx-button-secondary( plx-toggle="target: #options" class="plx-hidden@m" xplx-sticky="cls-active:glued-totop ;offset:10; animation:true;")
            | MENU   

br
br
style hr:not(.plx-divider-small):not(.plx-divider-icon){opacity:.1}
-incremental = 100
mixin section(title,sub,id,icon,helper,noside,color)
    section.plx-flex.plx-flex-wrap.plx-card.plx-card-default.plx-card-body(id=id style=`margin-bottom:45px; z-index:${incremental--}` plx-scrollspy="cls: plx-animation-slide-left-small; repeat: true;delay:200" )
        .plx-width-expand
            h3.title
                i.icon: div(style="opacity:.8; color: "+color class=icon.split('.').join(' '))
                span &#x2004 #{title}
            h5.subtitle!= sub
            //br
            block             
            br
        if(!noside)
            .plx-width-1-1(class="plx-width-1-5@l plx-width-2-5@xl")
                p.helpe!= helper.replace('\n','<br>')
br(class="plx-hidden@m")











h1#general.title General Options
h3.subtitle Server-wide settings, if no Channel-specific settings are present, these ones take place.
hr.plx-divider-small 







-
    helper=
        `I use 3 main prefixes: Local (+), Global (p!), and Universal (plx!)
        Local can be changed to anything you want, Global can only be turned on or off, and Universal cannot be touched as it is used as absolute fallback in case someone familiar with the me but unbeknownst your server setup can use my commands.   
        `
+section("Prefix","How to trigger my commands","prefix",".fas.fa-terminal",helper)
    .plx-flex(style="align-items:center").plx-grid
        .plx-flex-start.plx-width-1-1(class="plx-width-1-2@m")
            .short-input
                +pinkInput("server-prefix","Local Prefix for this Server","text",serverData.modules.PREFIX || "+","PREFIX") 
        .plx-flex-end.plx-width-1-1(class="plx-width-1-2@m")
            +pinkSwitch("global-prefix-toggle","Enable Global Prefix",serverData.globalPrefix||true)
            





-
    helper=
        `Global Language affects every channel that doesn't have a defined language, by default every channel will use the Global Language
        If you believe the translations are not quite right, or if there's a missing language you'd like to see, please <a href="https://translation.pollux.fun" target="blank">request access to translations</a> then join my Server and ask to become a translator.
        `
+section("Language","The language I'll speak on this server","language",".fas.fa-language",helper)
    div(style="transform:translateX(1px)")
        .control.level-left(style="margin-bottom: 80px;"): .select(style="width: 320px !important"): select#lang
            each L,i in langs
                if L.iso == serverData.modules.LANGUAGE
                    option(id=L.iso data-description=L.english value = L.iso data-imagesrc="/build/guessing/guessflags/"+L.flag2+".png" selected)= L.name
                else
                    option(id=L.iso data-description=L.english value = L.iso data-imagesrc="/build/guessing/guessflags/"+L.flag2+".png" )= L.name

        style: include  ddsl.css





-
    helper=
        `
        You can enable and disable Local and Global Levelups independently.
        By enabling <b>Global</b> LevelUps you are also enabling DM Notifications to tell users when they receive Level prizes (Lootboxes), this action can be customized per-channel. If the user levels up where they can see the leveling message, they'll receive a DM, otherwise they won't.
        <b>Local LevelUps</b> in the other hand are more discrete, they only tell the new level and any roles they might've unlocked. You can <a href="#customlocallv">customize Local LevelUp messages here</a>.
        Local LevelUps <b>does not award Lootboxes</b>.
        `
+section("Level Ups","Notify people about their Level going up","levelupmsgs",".far.fa-arrow-alt-circle-up",helper)
    .plx-flex(style="align-items:center").plx-grid
        .plx-flex-start.plx-width-1-1(class="plx-width-1-2@m")
            +pinkSwitch("levelup-local","Enable <b>Local</b> LevelUps",serverData.modules.LVUP_local)
        .plx-flex-end.plx-width-1-1(class="plx-width-1-2@m")
            +pinkSwitch("levelup-global","Enable <b>Global</b> LevelUps",serverData.modules.LVUP )
        p.plx-margin-remove-bottom Custom Local Level Up message
            small.help Use %lv% to display the level number.
        .plx-pink-input
            textarea#levelup-message(placeholder="You're now Level %lv% ! Congratulations!" name="levelup-message", cols="25", rows="4")= serverData.modules.LVUP_text ||""






-
    helper=
        `
       Lootboxes are my most precious gifts to award server activity. They contain lots of items to boost your profile and unlock more items for you to play with.
       Each message from a conversation including a set amount of members has a 0.025% chance of spawning a box.

       Be wary that <b>forcing drops or farming boxes is not allowed and it is bannable</b>. You're risking to lose all your progress and items regardless of they being acquired legitimately before you were caught. 
        `
+section("Lootbox Drops","Allow lootboxes to spawn from time to time","drops",".fa.fa-cube",helper)
     +pinkSwitch("loot-drops","Enable Lootbox Drops in all channels of this server",serverData.modules.DROPS )






-
    helper=
        `
       I am constantly being updated.
       Receive update notices right away by enabling this option.
       Servers with Beta Access will receive Beta notices via this feed.
        `
+section("Update Notices","Opt-in or out of Update Notifications.","notices",".fa.fa-exclamation-circle",helper)
     +pinkSwitch("update-alerts","Opt-in for Update Notices",serverData.modules.UPDATES || true)












br
hr.plx-divider-icon 
br
h1#housekeeping.title Housekeeping
h3.subtitle Essential settings to make sure everything works good in your server~  
hr.plx-divider-small 
br




-
    helper=
        `
       < NO DOCS >       

        `
+section("Administrative Roles","Roles used to define moderation functionalities in the server.","modroles",".fas.fa-shield",helper)
    h4.title 
        i: .fas.fa-unlock-alt
        | &#x2001 Moderation Role
    +roleSelect("modrole-select",roleInfo,serverData.modules.MODROLE)
    .help Users with this role can access this dashboard, as well as mute, ban, and kick members.
    h4.title
        i: .fas.fa-ban
        | &#x2001 Mute Role
    +roleSelect("muterole-select",roleInfo,serverData.modules.MUTEROLE)
    .help This role will be assigned to users targeted by the mute command






-
    helper=
        `
       Discord already introduces new members, but you can always make it better!
       Add a custom message to your new members, and optionally let me send a special image to introduce them~ 

       You can make even prettier welcome messages using my <a target="blank" href="/embedarchitect">Embed Architect Tool</a>, so you can incorporate embeds, images, user level, and much more!
        <b>Here's a cheatsheet of dynamic values you can add:</b>
        <table>
        <tr><th>Alias</th><th>Item</th></tr>
        <tr><td class="cheatsheet_comm"> %username% </td>  <td>  Username  </td> </tr>
        <tr><td class="cheatsheet_comm"> %tag% </td>  <td>  Username#0000  </td> </tr>
        <tr><td class="cheatsheet_comm"> %userid% </td>  <td>  User ID  </td> </tr>
        <tr><td class="cheatsheet_comm"> %user% / %mention% </td>  <td> @User  </td> </tr>
        <tr><td class="cheatsheet_comm"> %userBackground% </td>  <td>  Equipped Pollux Background  </td> </tr>
        <tr><td class="cheatsheet_comm"> %reputation% </td>  <td>  Public Reputation (Commend)  </td> </tr>
        <tr><td class="cheatsheet_comm"> %lvGlobal% </td>  <td>  User Global Level  </td> </tr>
        <tr><td class="cheatsheet_comm"> %pfLink% </td>  <td>  User Profile Link  </td> </tr>
        <tr><td class="cheatsheet_comm"> %server% </td>  <td> Server Name  </td> </tr>
        <tr><td class="cheatsheet_comm"> %membernumber% </td>  <td>  Server Member Count  </td> </tr>
        <tr><td class="cheatsheet_comm"> %serverIcon% </td>  <td>  Server Icon URL  </td> </tr>
        <tr><td class="cheatsheet_comm"> %userAvatar% </td>  <td>  User Avatar URL  </td> </tr>
        </table>
        <br>
        *If embed color is left blank, the Member's favcolor will be used
        `
style .cheatsheet_comm{font-family:Share Tech Mono, Consolas, monaco, monospace !important}
+section("Welcome & Farewell Messages","Greet new members as they join your server, or say goodbye to those leaving.","welcome",".fas.fa-comments",helper)
    .plx-grid
        .plx-width-1-1(class="plx-width-1-2@m")
            h4.title Welcome Message
            p.plx-margin-remove-bottom Channel
            +channelSelect("welcome-channel",channelInfo.filter(c=>c.type==0),serverData.modules.GREET.channel)
            p.plx-margin-remove-bottom Message
            .plx-pink-input
                textarea#welcome-message(name="welcome-message", cols="25", rows="4")= serverData.modules.GREET.text ||""
            +pinkSwitch("welcome-toggle","Enable welcome messages", serverData.modules.GREET.enabled === true)
            hr
            br

        .plx-width-1-1(class="plx-width-1-2@m")
            h4.title Farewell Message
            p.plx-margin-remove-bottom Channel
            +channelSelect("bye-channel",channelInfo.filter(c=>c.type==0),serverData.modules.FWELL.channel)
            p.plx-margin-remove-bottom Message
            .plx-pink-input
                textarea#bye-message(name="bye-message", cols="25", rows="4")= serverData.modules.FWELL.text ||""
            +pinkSwitch("bye-toggle","Enable goodbye messages",serverData.modules.FWELL.enabled === true)
            hr
            br

        .plx-width-1-1 
            +pinkSwitch("welcome-img","Use Welcome Image",serverData.imgwelcome || false)



+section("Global Command Switch ","   ","switches",".fas.fa-tasks",null,true)
    +pinkSwitch("respond-disabled","Respond to Disabled commands with a message",serverData.modules.respondDisabled || true)
    .help Otherwise, disabled commands will be ticked with a "X" reaction. <b>There's no "NO FEEDBACK" option.</b>
    ul(plx-accordion="multiple: true").categs-container
        each cat in commands.CATS
             li.categ(id=cat.consolidated)
                - let commandsFromThisCat= commands.CMS.collection.filter(c=>!c.hidden&&c.cat===cat.consolidated)
                - let code= !serverData.modules.DISABLED.includes(cat.consolidated) && !serverData.modules.DISABLED.every(disa=> commandsFromThisCat.some(cmd=> cmd.name === disa) )
                .plx-magic-input
                    .plx-pink-check
                        -let id= "global-cmd-cat-"+cat.consolidated
                        input.markall(data-cat=cat.consolidated type="checkbox" id=id name=id checked=code )
                        label(for=id)
                
                a.plx-accordion-title
                        h5.title= cat.name
                        .help= cat.description
                .plx-accordion-content
                    .container
                        each cmd in commandsFromThisCat
                            label.a-comand(class="cat_"+cat.consolidated)
                                input.command-toggle(type="checkbox" name=cmd.name checked=!serverData.modules.DISABLED.includes(cmd.name)&&!serverData.modules.DISABLED.includes(cmd.cat) )
                                span(plx-tooltip=cmd.desc)= cmd.name
                            
    button.plx-button.plx-button-primary#save-command-switch
            i.fas.fa-save
            span &#x2003  
            span SAVE










br
hr.plx-divider-icon 
br
h1#smartroles.title Smart Roles
h3.subtitle Let your Roles work for themselves, configure once and forget.
hr.plx-divider-small 
br
-
    helper=
        `
       Discord already introduces new members, but you can always make it better!
       Add a custom message to your new members, and optionally let me send a special image to introduce them~       

        `



+section("Reaction Roles","Let users pick a role by clicking a reaction","reactionroles",".far.fa-hand-point-up",helper,true)
    .plx-grid
        .plx-width-expand
            h4 This feature should be set up in Discord with the <code class="mistyblue">#{serverData.modules.PREFIX}reactionroles</code> command.
            h5 Check below the active Reaction Roles for this server
        .plx-width-1-1(class="plx-width-2-5@m")
            //p.helpe!= helper.replace('\n','<br>')
    include ../tools/twemoji
    include ../tools/invertcolor
    style .emoji{width:24px}
    style .emojirole{padding:.08rem .8rem; border-radius: 24px; margin:1rem}
    style .rearolecontainer{padding:1.5rem; border-radius: 8px; margin:1rem; border: solid 2px var(--accent-color); position:relative}
    .rearoles.plx-flex.plx-flex-wrap
        each rea in reactRoles
            - let channel = channelInfo.find(ch=>ch.id==rea.channel)
            if(channel)
                .rearolecontainer.plx-flex-none(id=rea.message)
                    button.del-rea-rol(plx-close data-channel=channel.id data-message=rea.message ).plx-close-large.plx-modal-close-default
                    p
 
                        span.title= "#"+ channel.name
                        br
                        b Message 
                        span.chanlink: a(href=`https://discordapp.com/channels/${serverInfo.id}/${channel.id}/${rea.message}` target='blank')= rea.message 
                    p
                        b Reactions
                    p
                        each r in rea.rolemoji
                            span 
                                if r.emoji.length > 5
                                    img(width="24px" src=`https://cdn.discordapp.com/emojis/${r.emoji.split(":").pop()}.${r.emoji.startsWith('a:')?"gif":"png"}`)
                                else
                                    -x= twemoji.parse(r.emoji)
                                    span!= x
    
                            -let role = roleInfo.find(ro=>r.role===ro.id)||{}
                            -let roleHexColor = "#"+(role.color||0xcccccc).toString(16);

                            span.emojirole(style=`color: ${invertcolor(roleHexColor,true)}AA; background-color: ${roleHexColor};`)= role.name
                            br
            else
                .rearolecontainer.plx-flex-none(id=rea.message)
                    button.del-rea-rol(plx-close data-channel=rea.channel data-message=rea.message ).plx-close-large.plx-modal-close-default
                    p Broken Entry 
                    p= rea.message
                    p= rea.channel







-
    helper=
        `
       Reward user activity with special roles each level! These are awarded automatically once the user arrives a certain level.
       To configure how fast your members will Level Up, check the UPFACTOR option~       

        `
style
    include admindashbulmaport.css
+section("Level Roles","Give members a special role when they reach a level","levelroles",".fas.fa-arrow-circle-up",helper,true)
    .plx-grid
        //.plx-width-expand
            //h4 This feature should be set up in Discord with the <code class="mistyblue">reactionroles</code> command.
            //h5 Check below the active Reaction Roles for this server


        .levroles.plx-width-1-1(class="plx-width-1-2@m")

            div
                form#new-lev-role.levelrole_item
                    input(name="level" type="number" placeholder="00").level
                    span &#x2003
                    .rolename
                        +roleSelect("levrole-select",roleInfo,null)
                    button(type="submit" formmethod="post" value="ADD").plx-button-secondary.plx-button
                        i.fas.fa-plus-square
                        span &#x2000
                        span NEW

            br
            br
            #levelroleslist
                each lvrl,i in serverData.modules.AUTOROLES.filter(x=>x)
                    -let thisRole = roleInfo.find(rl=> rl.id == lvrl[0])||{}
                    include templates/level_role_card

        .levroles_settings.plx-width-1-1(class="plx-width-1-2@m")
            p.helpe!= helper.replace('\n','<br>')
            br
            hr
            br

            +pinkSwitch("local-lvup-toggle","Enable Local Level Up Messages",serverData.modules.LVUP_local || true)
            br
            +pinkSwitch("rolestack-toggle","Keep All Roles",serverData.modules.autoRoleStack )
                span Keep All Roles
                .help Level Roles will stack as they're obtained, uncheck to keep only the newest.


-
    helper=
        `
       Let your users pick roles with a command. This one is faster and easier to setup than Reaction Roles, but might need some cooperation from your users to get them right.

        `

+section("Command Roles","Give members a special role when they type <code class='mistyblue'>"+serverData.modules.PREFIX+"roleme [SHORTCUT]</code>","selfroles",".fas.fa-angle-double-up",helper,true)
    .plx-grid
        //.plx-width-expand
            //h4 This feature should be set up in Discord with the <code class="mistyblue">reactionroles</code> command.
            //h5 Check below the active Reaction Roles for this server


        .selfrole.plx-width-1-1(class="plx-width-1-2@m")
           
            div 
                form#new-self-role.selfrole_item 
                    span #{serverData.modules.PREFIX}roleme 
                    input(name="short" type="text" placeholder="SHORTCUT"  ).level
                    span &#x2003
                    .rolename
                        +roleSelect("selfrole-select",roleInfo,null)
                    button(type="submit" formmethod="post" value="ADD").plx-button-secondary.plx-button
                        i.fas.fa-plus-square
                        span &#x2000
                        span NEW

            br
            br
            #selfroleslist
                each sfrl,i in serverData.modules.SELFROLES.filter(x=>x)
                    -let thisRole = roleInfo.find(rl=> rl.id == sfrl[0])||{}
                    
                    include templates/self_role_card

        .selfrole_settings.plx-width-1-1(class="plx-width-1-2@m")
            p.helpe!= helper.replace('\n','<br>')
            br
            hr
            br
 

br
hr.plx-divider-icon 
br

h1#channel-opts.title Channel Options
h3.subtitle Define precise settings for specific channels
hr.plx-divider-small 


 
    
 
+section( "Feature Debuffs",'Disable features in certain channels, this overrides Global settings', "channel-toggles",".fas.fa-toggle-off",null,true)
    .plx-width-expand
        .plx-grid.plx-flex.plx-flex-wrap
            .plx-width-1-1(class="plx-width-1-3@m")
                +channelInput("Applied Lootbox Repellent",'lootboxDrops'," fa fa-cube", (serverData.switches||{}).chLootboxOff )
                    p Do <b>not</b> drop Lootboxes at:
            .plx-width-1-1(class="plx-width-1-3@m")
                +channelInput("In space no one can hear you cheer",'levelUps'," far fa-arrow-alt-circle-up", (serverData.switches||{}).chLvlUpOff )
                    p Do <b>not</b> post Level Up messages at:
            .plx-width-1-1(class="plx-width-1-3@m")
                +channelInput("Law of Inherent EXP Bypass",'expBypass', " fas fa-medal", (serverData.switches||{}).chExpOff )
                    p  Do <b>not</b> award Local EXP at:
           

 
br
hr.plx-divider-icon 
br

h1#server-logs.title Server Logs
h3.subtitle Register all activity in your server
hr.plx-divider-small 

+section('','','','','','')
    p SERVER LOGS FEATURE IS TEMPORARILY UNAVAILABLE

 
br
hr.plx-divider-icon 
br

h1#local-economy.title Local Economy
h3.subtitle Unleash the trader within your members 
hr.plx-divider-small 

+section('','','','','','')
    p LOCAL ECONOMY IS NOT YET AVAILABLE


br
hr.plx-divider-icon 
br


h1#social.title Social
h3.subtitle Set up your ultimate community experience 
hr.plx-divider-small 

-
    helper=
        `---
        `
+section("Local Progression","Custom Level Up and Rankings exclusive to your server.","leaderboards",".fas.fa-trophy",helper,true)
    .plx-grid
        ul#progression_edit(plx-accordion='multiple:true; collapsible: true').plx-width-1-1(class="plx-width-1-2@m")
            li
                a.plx-container(href="#").plx-accordion-title
                    h2.plx-title Top 100 Members
                    h4.subtitle Check and quick-edit the top 100 members of your community
                    hr
                .plx-uncontainer.plx-accordion-content
                    #top100list
                        .waiting(v-if="top100.loading === true")
                            p Please wait...
                        .membersearch(v-if="!top100.loading")
                            .member( v-for="option in top100" @click="setMember({user:option,id:option.id,polluxData:option.polluxData},true)")
                                img(:src='`https://cdn.discordapp.com/avatars/${option.id}/${option.avatar}.png`')
                                .info
                                    .name
                                        .uname {{option.username}}
                                        .discr # {{option.discriminator}}                                       
                                    .alt-level(v-if=" levelFromXP(option.polluxData.exp,0,option.polluxData) != option.polluxData.level")
                                        .val {{levelFromXP(option.polluxData.exp,0,option.polluxData)}}
                                    .level
                                        i.fas.fa-medal
                                        .val {{option.polluxData.level}}
                                    .exp
                                        i.fas.fa-star
                                        .val {{option.polluxData.exp}}
                                        
                                
            li.plx-open
                a.plx-container(href="#").plx-accordion-title
                    h2.plx-title Edit a Member's data
                    h4.subtitle Edit data for a specific Member
                    hr
                .plx-uncontainer.plx-accordion-content


                    #individual_progress_edit
                        .membersearch
                            v-select( @input="setMember", label='id', :filterable='false',:clearable='false', :options='usersFromCurrentQuery', @search='onSearch')
                                template(slot='no-options')
                                    | type to search members...
                                template(slot='option' slot-scope='option')
                                    .member.onlist
                                        img(:src='`https://cdn.discordapp.com/avatars/${option.id}/${option.user.avatar}.png`')
                                        .info
                                            .name
                                                .uname {{option.user.username}}
                                                .discr # {{option.user.discriminator}}
                                                .nick {{option.nick?`(${option.nick})`:''}}
                                            .level
                                                i.fas.fa-medal
                                                .val {{option.polluxData.level}}
                                            
                                            .exp
                                                i.fas.fa-star
                                                .val {{option.polluxData.exp}}


                                template(slot='selected-option' slot-scope='option')
                                    | {{option.id}}
                            hr
                            .member.selected(v-if="!selectedMember.loading")
                                //p {{selectedMember.user.username}}
                                .row
                                    img(:src='`https://cdn.discordapp.com/avatars/${selectedMember.id}/${selectedMember.user.avatar}.png`')
                                    .info
                                        .name
                                            .uname {{selectedMember.user.username}}
                                            .discr # {{selectedMember.user.discriminator}}
                                            .nick(v-if="selectedMember.nick") {{selectedMember.nick?`(${selectedMember.nick})`:''}}
                                        .level
                                            i.fas.fa-medal
                                            .val {{selectedMember.polluxData.level}}
                                        .exp
                                            i.fas.fa-star
                                            .val {{selectedMember.polluxData.exp}}
                                .extras
                                    .since(v-if="selectedMember.joinedAt") Member since {{new Date(selectedMember.joinedAt).toDateString()}}
                                    .since(v-else) ---
                                    button#edit-prog.plx-button.plx-button-primary(@click="confirmEXPEdit()")
                                        i.fas.fa-edit
                                        .spacer &#x2003  
                                        span EDIT
                                    button#clear-prog.plx-button.plx-button-danger(@click="confirmEXPNuke()")
                                        i.fas.fa-eraser
                                        .spacer &#x2003  
                                        span CLEAR
            li
                a.plx-container(href="#").plx-accordion-title
                    h2.plx-title.plx-text-denger Danger Zone
                    h4.subtitle Be extra careful while fiddling around here
                    hr
                .plx-uncontainer.plx-accordion-content
                    button#clear-prog-all.plx-button.plx-button-danger(@click="confirmTotalMayhem()")
                        i.fas.fa-radiation-alt
                        .spacer &#x2003  
                        span CLEAR ALL
        
        .levroles_settings.plx-width-1-1(class="plx-width-1-2@m" style="--current-bg: #FFF")
                p.helpe!= helper.replace('\n','<br>')
                br
                hr
                br
                script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js")
                
                .plx-flex.plx-flex-wrap
                    div
                        canvas( height="320px" width="320px")#upchart
                    #progchart
                        div
                            h4: b Estimated Time
                            ul
                                li(v-for="item in updateChart()") {{item}}
                            .help Based on a 200 msg/day average
                        .plx-slider
                            hr
                            label(for="v1")
                                b Factor A: 
                                | ({{A}}) points
                            br
                            input#v1(@change="updateChart()" v-model='A' type='range' min=10 max=2500 style="width: 320px")
                            
                            br
                            label(for="v2")
                                b Factor B: 
                                | ({{B}}) points
                            br
                            input#v2(@change="updateChart()" v-model='B' type='range' min=1 max=25 style="width: 320px")
                 
          
                            hr
                        div.plx-flex.plx-flex-around
                            button#curve-default.plx-button.plx-button-small.plx-button-primary(@click="setTemplate('defaults',1)")

                                svg.svg-inline--fa.fa-tachometer.fa-w-18(aria-hidden='true' focusable='false' data-prefix='fas' data-icon='tachometer' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512')
                                    path(fill='currentColor' d='M288 32C128.94 32 0 160.94 0 320c0 52.8 14.25 102.26 39.06 144.8 5.61 9.62 16.3 15.2 27.44 15.2h443c11.14 0 21.83-5.58 27.44-15.2C561.75 422.26 576 372.8 576 320c0-159.06-128.94-288-288-288zm102.77 119.59l-61.33 184C343.13 347.33 352 364.54 352 384c0 11.72-3.38 22.55-8.88 32H232.88c-5.5-9.45-8.88-20.28-8.88-32 0-33.94 26.5-61.43 59.9-63.59l61.34-184.01c4.17-12.56 17.73-19.45 30.36-15.17 12.57 4.19 19.35 17.79 15.17 30.36z')
                                .spacer &#x2003  
                                span DEFAULT

                            .spacer &#x2003  
                            button#curve-default.plx-button.plx-button-small.plx-button-secondary(@click="setTemplate('fast',1)")
                                svg.svg-inline--fa.fa-tachometer-fastest.fa-w-18(aria-hidden='true' focusable='false' data-prefix='fas' data-icon='tachometer-fastest' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512')
                                    path(fill='currentColor' d='M288 32C128.94 32 0 160.94 0 320c0 52.8 14.25 102.26 39.06 144.8 5.61 9.62 16.3 15.2 27.44 15.2h443c11.14 0 21.83-5.58 27.44-15.2C561.75 422.26 576 372.8 576 320c0-159.06-128.94-288-288-288zm195.95 343.67l-133.93 22.32c-1.51 6.37-3.69 12.48-6.9 18.01H232.88c-5.5-9.45-8.88-20.28-8.88-32 0-35.35 28.65-64 64-64 23.06 0 43.1 12.31 54.37 30.61l133.68-22.28c13.09-2.17 25.45 6.64 27.62 19.72 2.19 13.07-6.65 25.45-19.72 27.62z')
                                .spacer &#x2003  
                                span FAST
                            .spacer &#x2003  
                            button#curve-default.plx-button.plx-button-small.plx-button-secondary(@click="setTemplate('slow',1)")
                                svg.svg-inline--fa.fa-tachometer-slowest.fa-w-18(aria-hidden='true' focusable='false' data-prefix='fas' data-icon='tachometer-slowest' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512')
                                    path(fill='currentColor' d='M288 32C128.94 32 0 160.94 0 320c0 52.8 14.25 102.26 39.06 144.8 5.61 9.62 16.3 15.2 27.44 15.2h443c11.14 0 21.83-5.58 27.44-15.2C561.75 422.26 576 372.8 576 320c0-159.06-128.94-288-288-288zm55.12 384H232.88c-3.21-5.52-5.39-11.63-6.9-18.01L92.05 375.67c-13.06-2.17-21.91-14.55-19.72-27.62 2.17-13.08 14.53-21.89 27.62-19.72l133.68 22.28C244.9 332.31 264.94 320 288 320c35.35 0 64 28.65 64 64 0 11.72-3.38 22.55-8.88 32z')
                                .spacer &#x2003  
                                span SLOW

                            .spacer &#x2003  
                            
                            button#curve-default.plx-button.plx-button-small.plx-button-danger(@click="setTemplate('reset',1)")
                                i.fas.fa-undo-alt
                                .spacer &#x2003  
                                span RESET

                    
                
                
        
    script const upfactorA = #{ ((serverData||{}).progression||{}).upfactorA || 280}, upfactorB = #{((serverData||{}).progression||{}).upfactorB || 9 }
    script(defer)
        include progression.js
     


br
hr.plx-divider-icon 
br

h1#content-creators.title Content Creators
h3.subtitle Useful tools for Streamers, Tubers, Bloggers, and whatnot.
hr.plx-divider-small 

mixin feedItem(item)
    .plx-flex.feed-item
        div.img-container
            img(src=item.thumb || "https://s3.us-east-2.amazonaws.com/upload-icon/uploads/icons/png/5461146321553771552-512.png" ).feed-icon
        .plx-flex.plx-flex-column
            h4.title= item.name || "Unknown Feed" 
            .plx-flex.plx-flex-column
                //- TODO implement proper deleted channel handling
                code.mistyblue(style='background-color:white; border: none;')= "#"+(channelInfo.find(c=>c.id == item.channel) || { name: 'deleted-channel' }).name
                p
                    b Last: 
                    if item.last.link
                        a(href=item.last.link): i= item.last.title
                    else
                        i= item.last.title
                


+section( "Twitch Alerts",' ', "twitch",".fab.fa-twitch",null,true,"#3C26A6")
    each item in feeds.filter(feed=> feed.type == 'twitch')
        +feedItem(item)
                    
                 
        

+section( "YouTube Alerts",' ', "youtube",".fab.fa-youtube",null,true,"#F00")
    each item in feeds.filter(feed=> feed.type == 'youtube')
        +feedItem(item)
+section( "RSS Feeds",' ', "rss",".fas.fa-rss-square",null,true,"FF3C00")
    each item in feeds.filter(feed=> feed.type == 'rss')
        +feedItem(item)
 

br
hr.plx-divider-icon 
br

style
    include admin.css

//pre= JSON.stringify(serverData,null,1)



script(src="/js/sweetalert.js")
script
    include adm_menus.js