//if userinfo
  if userinfo.id=='88120564400553984'
    -ongoingEvent = 'halloween18'
  
//if ongoingEvent
  style.
    .secondIcon {
        position: absolute;
        top: 140px;
        right: -15px; 
        height: 50px;
        z-index: 1000;
    }
  .box
    .level.is-mobile
      .level-right
        div
          .title: b!= "🎃 Event Medals".toUpperCase()
          .subtitle More info about events <a href="/events/halloween18"> HERE </a>.

      .level-left

        figure.image.is-128x128(style="height:64px")
          //img(src="/images/event.png" height="64px")  
    .has-text-centered.columns.is-multiline.is-mobile
      -var rarmult = {UR:280,SR:140,R:80,U:50,C:25}
      each medal in MEDALBASE.filter(md=>md.event==ongoingEvent)
        -let R = medal.rarity
        -let U=`/medals/${medal.icon}.png`   
        -let p4 = Math.ceil(rarmult[medal.rarity] * 2)
        
        .openiv.column.is-one-fifth-desktop.is-half-mobile.super-filter(PE=p4 code= medal.icon class=medal.category+" filter "+medal.tags): .box(class=R )
          //if medal.filter != "neutral"
            -let faction = medal.filter == "SFK" ? "icon_sfk" : "icon_flw" 
            img(src=`/build/event/flowersandsnowflakes/${faction}.png`).secondIcon
          img(src=`/images/tiers/${R}.png`).tier



          .level.is-marginless
            .level-item: .i64
              img(src=U class=R)
            if ["UR","SR"].includes(R) && R !="R"
              .shine-container
                .shine(class=R).spinShine
              // img.shine(src=`/images/shine.png`)
          .b-head
            p= medal.name
          
          p.b500.categ= medal.category
          .b-foot.level
            p.b500
              span: .image.is-16x16: img(src="/images/eventToken.png")
              span= gear.miliarize(p4)+" Event Tokens"
              
    hr
    .level.is-mobile
      .level-right
          div
            .title: b!= "Halloween 2017 Items".toUpperCase()
            .subtitle Missed last years event? You can still get some of its items!

      .level-left

          figure.image.is-128x128(style="height:64px")
            img(src="/images/halloween_2017.png" height="64px")  
    .has-text-centered.columns.is-multiline.is-mobile
      -var rarmult = {UR:280,SR:140,R:80,U:50,C:25}
      each medal in MEDALBASE.filter(md=>md.event=="halloween_2017")
        -let R = medal.rarity
        -let U=`/medals/${medal.icon}.png`   
        -let p4 = Math.ceil(rarmult[medal.rarity] * 2)
        
        .openiv.column.is-one-fifth-desktop.is-half-mobile.super-filter(PE=p4 code= medal.icon class=medal.category+" filter "+medal.tags): .box(class=R )
          //if medal.filter != "neutral"
            -let faction = medal.filter == "SFK" ? "icon_sfk" : "icon_flw" 
            img(src=`/build/event/flowersandsnowflakes/${faction}.png`).secondIcon
          img(src=`/images/tiers/${R}.png`).tier



          .level.is-marginless
            .level-item: .i64
              img(src=U class=R)
            if ["UR","SR"].includes(R) && R !="R"
              .shine-container
                .shine(class=R).spinShine
              // img.shine(src=`/images/shine.png`)
          .b-head
            p= medal.name
          
          p.b500.categ= medal.category
          .b-foot.level
            p.b500
              span: .image.is-16x16: img(src="/images/eventToken.png")
              span= p4? gear.miliarize(p4)+" Event Tokens" : "--NOT FOR SALE--"
              
    hr