extends layout

block nav
    -let rank = []
    -
      let count = 0
      for (i in data.get("277391723322408960").modules.LOCALRANK){
      
        let rae = data.get("277391723322408960").modules.LOCALRANK[i];
        if (i!="271394014358405121" || i!="354285599588483082"){
        
        count++
        rank.push({
        id:i,
        name: i+"#?",
        exp: rae.exp,
        lv: rae.level,
        rubine:0
          })
        };
        //if (count > 24) return false;
        //  else return true;
        }
    -

    -let sf= function(a,b){let x= b.exp; let y = a.exp; return x-y}

    -rank = rank.sort(sf)
    -let rankupdate = rank
    
    .hero.is-primary.is-bold
      include navbas
      .level
            .level-item

            .level-left
                div
                  p.title: b Leaderboards
            .level-item
                p.subtitle Global EXP Ranking
                
            .level-item
            .level-item
            
      br
                 

mixin rank(table,idd)
          table.ranktable(id=idd)
                thead.rhead
                  th(class="anim:position") 
                  th(class="anim:constant")
                  th(class="anim:id") 
                  th(class="anim:constant")
                  th(class="anim:update anim:constant") 
                //  th(class="anim:constant") 
                tbody
                  each guy, i in table
                      -if (i == 25)break;
                      -let rk = 0
                      - 
                          switch (i){
                            case 0:
                              rk= 1;
                              break;
                            case 1:
                              rk= 2;
                              break;
                            case 2:
                              rk= 3;
                              break;
                            default:
                              rk= 0;
                              break;
                            }
                      
                      if userinfo
                        -var thatsMe = userinfo.id
                      else 
                        -var thatsMe = null
                      -let ka
                      -thatsMe == guy.id ? ka="kali" : ka="";  
                      tr(class="num"+rk+" "+(ka) id="gee"+(i+1))
                        td.b900.position= i+1
                        -let him = bot.users.get(guy.id) || {avatarURL:"https://kyubey.info/images/default_avatar.png"}
                        
                        td: div.l100
                          .hexagon(style="background-image:url('"+him.avatarURL+"');")
                            .hexTop
                            .hexBottom
                        td.nae
                          p
                            span: b= him.username
                            span.discr= "#"+ him.discriminator ||"?"
                        td.lvl
                          .attop
                            span.b500 Level 
                            span= guy.lv
                            
                        td.exp
                          p
                            span= guy.exp
                            span.b500= "exp"
                      //  td.rubine
                          p= guy.rubine
                          

                        
block content
      .nano: .nano-content: .container#xd
        

        +rank(rank,"first")
                      


block scripts
  script(src="/js/tabkle.js")
  script.
        var anim= {
                  up: {
                      left: 0,
                      backgroundColor: "inherit !important"
                  },
                  down: {
                      left: 0,
                      backgroundColor: "inherit !important"
                  },
                  fresh: {
                      left: 0,
                      backgroundColor: "inherit !important"
                  },
                  drop: {
                      left: 0,
                      backgroundColor: "inherit !important"
                  }
              }

