mixin iconButton(i)
  -i = i || {}
  div.poisk
    a.button.has-addons(href=i.href class=i.theme id=i.id disabled=i.disabled)
      span.icon.is-pulled-left
        i(class=i.classes)
      span.divider  &#x2000
      div( style="border-left:1px solid "+i.colA+";border-right:1px solid "+i.colB+" ;height:20px;opacity:.3")
      span.divider  &#x2001
      span.is-pulled-right= i.caption





mixin checkLine1(condition,onoffid,helptex,hlclass,inverse)
  .level.is-mobile
        .level-left
          label.switch
            -let fullfilled = inverse? !condition : condition
            input(type="checkbox" checked=(fullfilled) id=onoffid+'_o' data-target=onoffid).switches_o
            span.slider.lite
        .level-left: p(id="c_"+onoffid)!= "&#x2003 "+(fullfilled?"ON":"OFF")
        .level-item
        p.help(class = hlclass )= helptex





mixin rolelist(id,whatcheck,namecond,helptex,hlclass)        
  div.control.level-left: .select: select(id=id)
    option= "--NONE--"
    if svroles
      each role in svroles
        if role.id == whatcheck || role.name == namecond
          option(id=role.id selected)= role.name
        else
          option(id=role.id style="color:"+role.color): b= role.name    
  .help(class = hlclass )= helptex



mixin featurebox(title,img,a)
  .featurebox
    ppp yea
  .divs

-
    var groupBy = function(xs, key) {
    return xs.reduce(function(rv, x) {
    (rv[x[key]] = rv[x[key]] || []).push(x);
    return rv;
    }, {});
    };
    
    function miliarize(numstring,strict,symbol){
      let sym = symbol||"." 
      if (!numstring)return 0 ;
        if (typeof numstring == "number"){
            numstring = numstring.toString()
        }
        if(numstring.length < 4)return numstring;

        var stashe = numstring.replace(/\B(?=(\d{3})+(?!\d))/g, sym).toString();

        if(strict==="ultra"){
            return stashe;
        }
        
        if(strict){

            //log(stashe)
            //log(typeof stashe)
            var stash = stashe.split(sym)
        switch(stash.length){
            case 1:
                return stash;
            case 2:
                if(stash[1]!="000") break;
                return stash[0]+"K";
            case 3:
                if(stash[2]!="000") break;
                return stash[0]+sym+stash[1][0]+stash[1][1]+"Mi";
            case 4:
                if(stash[3]!="000") break;
                return stash[0]+sym+stash[1][0]+stash[1][1]+"Bi";
             }

            return stashe;
        }        

        stash = stashe.split(sym)
        switch(stash.length){
            case 1:
                return stash.join(" ");
            case 2:
                if(stash[0].length<=1) break;
                return stash[0]+"K";
            case 3:
                return stash[0]+"Mi";
            case 4:
                return stash[0]+"Bi";
             }
         return stashe;
      }