
if entry.userdata
    -item = (fullbase||[]).find(itm=>itm.type == entry.item_type && itm.id == entry.itemid)
    -item = entry.itemdata
    -
        if(!item) {
            item = entry
            item.name = "Broken Item Entry"
            item.img = "/stickers/undefined.png"
            
            } 
    -currency_icon= entry.currency == "SPH"?"plx-sapphire":"plx-rubine"
    -username   = entry.userdata.meta.username//marketeers.find(mk=>mk.id==entry.author).meta.username
    -userdisc   = entry.userdata.meta.discriminator//marketeers.find(mk=>mk.id==entry.author).meta.discriminator
    -useravatar = entry.userdata.meta.avatar//marketeers.find(mk=>mk.id==entry.author).meta.avatar
    -item_pic = ""+item.img


    .market-entry(class=item.rarity, style=(entry.lock ? "display:none;" : '.'), data-itype=entry.item_type, data-rarity=item.rarity,  id=entry.id )
        //pre= JSON.stringify(entry)
        a.piece-one(href=`/shop/marketplace/entry/${entry.id}`) 
            .picture: div(plx-img style="background-image:url("+item_pic+")" )
            .name
                .feat-text: span= item.name
                .type= item.type
        .piece-two
            .price(plx-tooltip=entry.price)
                .amount= entry.price 
                | &#x2003
                span(class=currency_icon).icon32
                
        .piece-two.electric-bogaloo
            .author(plx-tooltip=username+"#"+userdisc)
                img.avatar(src=useravatar plx-img alt="Avatar").pinkord-placeholder
                span: a(href="/p/"+entry.author) 
                    .uname= username
                        span.discrim= "#"+userdisc
        .piece-three
            .date(data-ts=entry.timestamp||"1552665497119")
                div.d-date ---
                div.d-time ---
            .trade
                if entry.type == "sell"
                    
                    button.plx-button.plx-button-small.plx-button-primary(onclick="buyStoreItem('marketplace','"+entry.id+"','"+entry.currency+"', {type:'sell'} )")
                        | BUY
                if entry.type == "buy"
                    button.plx-button.plx-button-small.plx-button-secondary(onclick="buyStoreItem('marketplace','"+entry.id+"','"+entry.currency+"', {type:'buy'} )")
                        | SELL

                | &#x2002
                button.plx-button.plx-button-small.plx-button-default.generateLink(type='button')
                    i.fas.fa-link
                    span &#x200b
                div(plx-drop="mode: click" ).plx-width-large.dropshare
                    .plx-drop-grid.plx-card.plx-card-body.plx-card-default 
                        p
                            b Share this Listing
                            br
                            -let link=`${HOST}/shop/marketplace/entry/${entry.id}`
                            -let title= 'Pollux Marketplace Listing: '+item.name
                            include ../../tools/mixins
                            +share(link,title,{copy:true,id:entry.id})

