script(src="/js/sweetalert.js")
script(src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v1/v2/checkout/pagseguro.directpayment.js")
script(src="https://www.paypalobjects.com/api/v1/checkout.js")
script.     

      var namechanger = {
          title: 'Enter the name of your custom handle!',
          input: 'text',
          inputAttributes: {
            autocapitalize: 'off'
          },
          showCancelButton: true,
          confirmButtonText: 'Check',
          showLoaderOnConfirm: true,
          preConfirm: (login) => {
          return new Promise((resolve) => {
            $.post('/money?namecheck='+login, function(data){         
              if(data == "ok"){
                return resolve(login)
              }else{              
                resolve(swal.showValidationError("This handle is already taken!"))
              }
            })
          })
        },
         allowOutsideClick: () => !swal.isLoading()         
      } 
       namechange_res = function(result){
          if (result.value) {
            swal({
              title: result.value
            })
          }
        }

      //swal(namechanger).then(namechange_res)



    $(".handlechangepp").click(function() {
        let cart = {
          item:this.id,
          currency:$('#currency-select').find(':selected')[0].id,
          name: $(this).data('item'),
          description: $(this).data('dsc'),
          img: $(this).data('img'),
          price: $(this).data('price')
        }
    })


    $(".plx-buy-button").click(function() {
      let cart = {
          item:this.id,
          currency:$('#currency-select').find(':selected')[0].id,
          amt: (this.id == "sapphire"? $("#saphs").val():this.id == "jade"? $("#jads").val(): 1),
          name: $(this).data('item'),
          description: $(this).data('dsc'),
          img: $(this).data('img'),
          price: $(this).data('price')
        }
      if(cart.item == 'handle'){
        console.log(cart)
        swal(namechanger).then(result=>{
          if(result.value){            
            cart.handle = result.value;
            return paypalize(cart)            
          }
        })        
      }else{
        paypalize(cart)
      } 
  })



    function paypalize(cart)  {


      var logged_in = #{!userinfo};
      var generated_html = !logged_in ? `
      <div id='paypality'>

        <table>
          <tr>
            <td rowspan=6 width="200px" style="padding:28px">
              <img src="/images/${cart.img}.png">
            </td>
            <td>                
              <span class="litebox_title">  Item  </span>
            </td>              
          </tr>
          <tr>
            <td>                
              <span class="litebox_descr">  ${cart.name} ${cart.item=="sapphire"||cart.item=="jade"?" x "+cart.amt:""} </span><br>
            </td>              
          </tr>
        <tr>
            <td>                
        <span class="litebox_title">  Price </span>
            </td>              
        <tr>
        </tr>
            <td>                
        <span class="litebox_descr_price">  ${cart.currency=="BRL"?"R":""}$   ${((cart.currency=="BRL"?Number(cart.price)*4.23:Number(cart.price))*cart.amt).toFixed(2)}</span>
            <td>                
        </tr>
        <tr></tr>
        <tr >
            <td colspan=2 style="text-align:center">                
        <p class="litebox_discl"> This item will be automatically sent to your inventory on purchase. </p>
        <br>
            </td>              
        </tr>
        <tr> </tr>

        </table>

      </div>
      ` : "<div> Log in First</div>";

    swal({
        html: generated_html,
        cancelButtonText: "Ah, alrite...",
        showCancelButton: logged_in,
        showConfirmButton: false,
        animation: false,
        customClass: 'animated bounceInDown'
      });

      success_html="Your payment was processed and the items are available in your inventory now!<br>Thanks a lot for supporting!"
      fail_html="Oops... Something seem to have gone wrong."

      var successBox = {
        type:"success",
        title:"All set!",
        html: success_html,
        showCancelButton: false
      }
      var rejecBox = {
        html: fail_html,
        showCancelButton: true,
        cancelButtonText: "Nevermind...",
        confirmButtonText: "Try Again!",
        type: 'error'
      }
      var rejecBox_b ={
        type:"error",
        showCancelButton:false,
        confirmButtonText:"Okay, nevermind...",
        html: fail_html
      }

     paypal.Button.render({
      env: "production"//'production', // Or 'sandbox',
      //,commit: true, // Show a 'Pay Now' button

          ,client: {
          sandbox:    'AZjn2PyQsJ_wppkBVOiirPytTrwJ66rFUH0Vv96L_Qn_kr2cM7HpzSg4us03Ipl7JHnO56W20cyuV-Gw',
          production: 'AZb1lyrBGHUBQ-k-ucNnclxTOhxCQ7OWNMqhydTnhyApnPA2m9HyXOY9qKrPnFPo4w6rEHXCUHH8l2w9'
      },

    style: {
      color: 'blue',
      size: 'responsive'
    },

    payment: function(data, actions) {       
        return $.post("/money?paypal=payment",cart).then(function(res) {          
              return res;
          });         
    },      
    onAuthorize: function(data, actions) {
          console.log("AUTH")
          console.log(data)
      return actions.payment.get().then(function(data) {
        return actions.payment.execute().then(function(data) {
          console.log("EXEC")
          console.log(data)
          if (data == 'INSTRUMENT_DECLINED') {
            return swal(rejecBox).then((result) => {
              if (result.value) {
                actions.restart();
              } else {
                actions.close();
              }
            })
          }

          paypal.request.post("/money?paypal=onAuthorize", 
          {paymentID: data.paymentID,payerID:   data.payerID})
          .then(function() {swal(successBox);})

          var trans = data.transactions[0]
          var XXX = {
            id: data.id,
            ts: data.create_time,
            name: data.payer.payer_info.first_name+" "+ data.payer.payer_info.last_name,
            email: data.payer.payer_info.email,
            transaction:{
              amount: trans.amount.total+" "+trans.amount.currency
              ,items: trans.item_list
            }
          }
          $.post("/money?paypal=webhook",{payload:XXX,meta:cart})
        }).catch(e=> {
          rejecBox.type="warning"
          swal(rejecBox_b)
          console.log("ERROR WARNING CHT HOOK")
        })
      })
    },


      onCancel: function(data, actions) {
        rejecBox_b.html=data
        console.log("CANCEL")
        swal.close()
      },

      onError: function(err) {
        //alert('werr')
        console.log("ERRRR")
        console.log(err)
        rejecBox_b.type="error"
        rejecBox_b.html=err
        swal(rejecBox_b)
      }
      }, "#paypality");    
    }


 // 

    /*
    $.post('/money',function(data){
      PagSeguroDirectPayment.setSessionId(data);
    }).then(function(data){
      PagSeguroDirectPayment.onSenderHashReady(function(response){
      if(response.status == 'error') {
          console.log(response.message);
          return false;
      }
      var hash = response.senderHash;//Hash estará disponível nesta variável. 

    })





    }); 

    $('.tick').click(function(){
        console.log('pre alfa')

    PagSeguroDirectPayment.getPaymentMethods({
      amount: 500.00,
      success: function(response) {
        console.log('alfa')

      },
      error: function(response) {
        console.log(response)
          //tratamento do erro
      },
      complete: function(response) {
          //tratamento comum para todas chamadas
          //console.log(response)
      }
      });
    })*/
