-
  let save_globals_button = {
    theme:'is-ruby savglobals_button',
    classes:'fas fa-save',
    colA: '#ccc',
    colB: '#aaa',
    caption: 'SAVE',
    id: 'save_globals'
    }
    

mixin hibye(targ,h_b,holder)
  -let hi_o_by = server.modules[targ]
  -let G_on = hi_o_by.enabled
  
  .level
    .level-left
      label.switch
        input(type="checkbox" checked=G_on id=targ+"_enabled" data-target=".dis_"+targ).check_wilk
        span.slider.lite
    .level-left: p &#x2003 Enable #{h_b} Messages
    .level-item

  .field: .control: textarea(class="dis_"+targ disabled=!G_on rows="10" placeholder=holder id=targ+"_text").textarea= hi_o_by.text
  .columns.is-mobile
    .column
      p: b #{h_b} Channel
      .level
        div
          div.control.level-left: .select.is-small: select(class="dis_"+targ disabled=!G_on id=targ+"_channel")
            each chan in svChannels
              if chan.id == hi_o_by.channel
                option(id=chan.id selected)= chan.name
              else
                option(id=chan.id)= chan.name
          p.help= "Current: #"+(svChannels.find(x=>x.id==hi_o_by.channel)||{name:"none"}).name
    .column
      p: b Delete message after
      .level.is-marginless.is-mobile
          .control.level-item
            input(class="dis_"+targ disabled=!G_on size=6 value=hi_o_by.timer/1000 id=targ+"_hiDel").input.is-small
          .control.level-item
            span seconds
          .control.level-item
      p.help (0 to not delete it)
            

.nano: .nano-content.padded(style="padding-right:55px")
  .columns
    .column.is-10
      .title.is-2: b Global Options
      p.subtitle Server-wide settings, if no Channel-specific settings are present, these ones take place.
    .column.is-2
      +iconButton(save_globals_button)
  hr
  .columns
    .column.relativ.mob-subline
      .title
        i.icon: .fas.fa-terminal
        span &#x2004 Prefix
      p.subtitle How to trigger my commands
      .columns.is-marginless.is-mobile.level
        .column.is-3.level-item
          input.input.is-large(size=3 style="width:64px!important" value=server.modules.PREFIX||"+")#prefix_select.b900
        .column.is-9.level-item
          .level.is-mobile
            .level-item: span Enable Universal Prefix (p!)
            .level-item: label.switch
              input(type="checkbox" checked=server.globalPrefix||true).check#global_prefix
              span.slider.lite
      p.help The Universal Prefix is used when someone doesn't know your prefix of choice or is unfamiliarised with Pollux 
    
        
      
    
    .column.relativ.mob-subline
      .title
        i.icon: .fas.fa-language
        span &#x2004 Server Language
      p.subtitle The language I'll speak on this server
      br
      .control.level-left(style="margin-bottom: 80px;"): .select: select#lang
          each L,i in langs
            if L.iso == server.modules.LANGUAGE
              option(id=L.iso data-description=L.english value = L.iso data-imagesrc="/images/flags/"+L.flag+".png" selected)= L.name
          each L,i in langs
            //else
            if L.iso != server.modules.LANGUAGE
              option(id=L.iso data-description=L.english value = L.iso data-imagesrc="/images/flags/"+L.flag+".png")= L.name
    
      
      
    .column.relativ.mob-subline
      .title
        i.icon: .fas.fa-arrow-up
        span &#x2004 Upfactor
      p.subtitle How fast your members will levelup
      br
      input.input.is-medium(type="number" step="0.01" min=0.0000 max=0.99999 value=server.modules.UPFACTOR||0.472899 )#upfactor.b900
      p.help This one number will be used to determine Member Levels at this Server, following this equation:
        img(src='/images/equation.svg' style='opacity:.8')
      p.help If unsure, leave it 0.1
      
    
    
  hr.is-hidden-mobile
  br
  .columns.is-marginless
  
    .column
      .title
        i.icon: .far.fa-arrow-alt-circle-up  
        span &#x2004 Levelup Messages
      p.subtitle.is-6 Enable Leveling Up images in the entire server 
      .level.is-mobile
        .level-left
          label.switch
            input(type="checkbox" checked=server.modules.LVUP id='lvup_o' data-target='lvup').switches_o
            span.slider.lite
        .level-left: p#c_lvup &#x2003 #{server.modules.LVUP?"ON":"OFF"}
        .level-item
        p.help.is-danger ⚠ Turning this OFF <b>overrides</b> channel-specific options
      hr  
        
    .column
      .title
        i.icon: .fa.fa-cube
        span &#x2004 Lootbox Drops
      p.subtitle.is-6 Enable Lootbox drops at this server        
      .level.is-mobile
        .level-left
          label.switch
            input(type="checkbox" checked=server.modules.DROPS id='drops_o' data-target='drops').switches_o
            span.slider.lite
        .level-left: p#c_drops &#x2003 #{server.modules.DROPS?"ON":"OFF"}
        .level-item
        p.help.is-danger ⚠ Turning this OFF <b>overrides</b> channel-specific options
      hr
      
    .column
      .title
        i.icon: .fa.fa-exclamation-circle 
        span &#x2004 Update Notices
      p.subtitle.is-6 Opt-in or out of Bot Update notifications.
      .level.is-mobile
        .level-left
          label.switch
            input(type="checkbox" checked=server.modules.ANNOUNCE id='notices_o' data-target='notices').switches_o
            span.slider.lite
        .level-left: p#c_notices &#x2003 #{server.modules.ANNOUNCE?"ON":"OFF"}
        .level-item
      hr

  //WELCOME + BYE 
  .columns.is-marginless
    .column
      .title
        i.icon: .fas.fa-comments  
        span &#x2004 Welcome Message
      p.subtitle Greet your new members with a sassy custom message
      +hibye("GREET","Welcome","Welcome to the sever, %user%!")
      br
      
    .column
      .title
        i.icon: .far.fa-comments  
        span &#x2004 Farewell Message
      p.subtitle Let the shame consume those who leave this server
      +hibye("FWELL","Farewell","Hey, %username% left the server!")
      br
  small: i!= "<b>Wildcards</b> %user% = Mentions user | %username% = Shows user's display name | %server% Shows Server name"
  if server
    .columns.is-marginless

      .column.is-5
        .title
          i.icon: .far.fa-star
          span &#x2004 Welcome PictoPollux
        p.subtitle.is-6 <b>(Experimental Feature)</b> Enables a picture showing Pollux greeting your new users. English-Only
        .level.is-mobile
          .level-left
            label.switch
              input(type="checkbox" checked=server.imgwelcome id='pictopollux_o' data-target='lvup').switches_o
              span.slider.lite
          .level-left: p#c_lvup &#x2003 #{server.modules.LVUP?"ON":"OFF"}
          .level-item
            img(src="/images/demowelcome.png" height="250px")

  hr
  .title
    i.icon: .fas.fa-tasks 
    span &#x2004 Global Command Switch
  p.subtitle Disable chunks of the bot's feats you're most likely not using
  br
  
  .columns: .column.is-5
    .level.is-mobile
      .level-left: label.switch
        input(type="checkbox" checked=server.respondDisabled||true).check#relplydisabled
        span.slider.lite
      .level-left
        div
          p(style="text-align: left;") &#x2003 Respond to disabled commands
          p(style="text-align: left;").help &#x2003 When using disabled commands, reply with <i>"This command is disabled"</i> Message
      .level-item
  
  
  .columns.is-multiline.comandines
    //.generally-disabled.disabled(style='cursor:not-allowed')
    -let globDis = server.modules.DISABLED
    each cmds, cat in commands.CMS.tree
      -cat = cat.replace('!','')
      .column.is-4-desktop.comandine
        .message.is-light
          .message-header
            p= cat
            label.chkcmd
              input(type='checkbox' checked=true data-cat=cat).markall
              span.chk.plus
          .message-body 
            each cmd in cmds
              span.itemy
                span= cmd
                label.chkcmd
                  input(type='checkbox' class="cat "+cat checked=!globDis.includes(cmd) data-cmd=cmd)
                  span.chk
  hr
  .columns
    .column
      +iconButton(save_globals_button)
    .column
  br
  p
script(src='/js/ddsl.js')
script.

    
