.nano: .nano-content.padded
  .title.is-2: b Metadata
  p.subtitle Useless information you might need in really rare cases.
  .columns
    .column
      .title Roles
      table.table.is-narrow
        th Name
        th ID
        th Members
        th Color

        tbody
          each role in server.meta.roles
            tr
              td: b= role.name
              td= role.id
              td= role.members
              td
                .bol(style="background:"+role.color)

      .title Channels
      table.table.is-narrow
        th Name
        th ID
        tbody
          each c in server.meta.channels
            tr
              td
                span: b= "#"+c.name
                span= `  (${c.type})`
              td= c.id

    .column
      .title Pollux Meta
      -let xsa = server
      pre=JSON.stringify(xsa,null,3)