-let svroles = bot.server.roles.map(r=>{return{id:r.id,name:r.name,color:r.hexColor}})

-let selfroles = server.modules.SELFROLES||[]
-let autoroles = server.modules.AUTOROLES||[]

-let selfroles_mini = selfroles.map(r=>r[0])
-let autoroles_mini = autoroles.map(r=>r[0])
-let selfroles_mini_left = selfroles.map(r=>r[1])
-let autoroles_mini_left = autoroles.map(r=>r[1])
-
  let save_roles_button = {
    theme:'is-ruby savroles_button',
    classes:'fas fa-save',
    colA: '#ccc',
    colB: '#aaa',
    caption: 'SAVE',
    id: 'save_roles'
    }

#rolesroster.hidden
  .control.level-left: .select: select
    each role in svroles
        option(id=role.id style="color:"+role.color): b= role.name

.nano: .nano-content.padded
  .columns
    .column.is-10
      .title.is-2: b Special Roles
      p.subtitle Roles managed by Pollux at your Server
    .column.is-2
      +iconButton(save_roles_button)
  hr
  .columns
    .column
      .title
        i.icon: .fas.fa-unlock-alt
        span &#x2004 Administrative Role 
      p.subtitle This Role has elevated bot usage permissions.
        +rolelist('mod_role',server.modules.MODROLE)     
        
      hr
    .column
      .title
        i.icon: .fas.fa-ban
        span &#x2004 Mute Role
      p.subtitle Members from this Role cannot speak in channels.
        +rolelist('mute_role',server.modules.MUTEROLE, "POLLUX-MUTE")     
        
      hr
  .columns
    .column
      .title
        i.icon: .fas.fa-address-card 
        span &#x2004 Selfroles
      p.subtitle Roles that Members can add to themselves.
      .dv#self 
        .level.pshead
          .level-left
            span Role
          .level-item
          .level-right
            span Shorthand (what to type after 'p!roleme' to get it)
          .level-right
            p &#x2003
        each R in selfroles
          -let role= svroles.find(r=>R[0]==r.id);
          if role
            .level(id="self_role_"+R[0]).rolisting
              .level-left
                span(style="color:"+role.color)= "@"+role.name
              .level-item
              .level-right
                span(data-id = R[0]).editsfrole=  R[1]
              .level-right
                p &#x2003
              .level-right
                a(data-id = R[0]).button.is-danger.del-sfrole: span.icon: i.fa.fa-close.fa-lg
      p.b500 ADD NEW
      .field.has-addons
        .control: .select: select#new_self_role
          each role in svroles
              option(id=role.id data-color=role.color style="color:"+role.color): b= role.name
        .control: input.input(placeholder="command shorthand (optional)")#shorthand
        .control: a.button.is-success#save_new_sfrole: span.icon: i.fa.fa-plus.fa-lg

    //.generally-disabled.disabled(style='cursor:not-allowed')
    .column
      .title
        i.icon: .fas.fa-trophy 
        span &#x2004 Autoroles
      p.subtitle Roles automatically added to Members upon certain conditions.
      .dv#auto
        .level.pshead
          .level-left
            span Role
          .level-item
          .level-right
            span Level to Achieve it (0 to give upon join)
          .level-right
        each R in autoroles
          -let role= svroles.find(r=>R[0]==r.id) || {id:'?',name:"DELETED ROLE",color:"#f00"};
          .level(id="auto_role_"+R[0]).rolisting
            .level-left
              span(style="color:"+(role).color)= "@"+role.name
            .level-item
            .level-right
              span(data-id = R[0]).editatrole=  R[1]
            .level-right
              p &#x2003
            .level-right
              a(data-id = R[0]).button.is-danger.del-atrole: span.icon: i.fa.fa-close.fa-lg
      p.b500 ADD NEW
      .field.has-addons
        .control: .select: select#new_auto_role
          each role in svroles
              option(id=role.id data-color=role.color style="color:"+role.color): b= role.name
        .control: input.input(placeholder="Award Level")#trigger_aur
        .control: a.button.is-success#save_new_atrole: span.icon: i.fa.fa-plus.fa-lg
  hr
  +iconButton(save_roles_button)
  br
  p
  
script.
    var SERV = "#{server.id}";
    var selfroles = "#{selfroles_mini}".split(",").filter(arr=>arr!=="");
    var autoroles = "#{autoroles_mini}".split(",").filter(arr=>arr!=="");
    var selfroles_left = "#{selfroles_mini_left}".split(",").filter(arr=>arr!=="");
    var autoroles_left = "#{autoroles_mini_left}".split(",").filter(arr=>arr!=="");
    
    var selfroles_payload = selfroles.map(function(role,i){return [role,selfroles_left[i]]});
    var autoroles_payload = autoroles.map(function(role,i){return [role,autoroles_left[i]]});
    
script(src="/js/speciroles.js")
  
  
  
  
  