-var shards         = Array.from(new Set(statusDatabase.map(stt=> stt.shard )))
-shards.sort((a,b)=>a-b)

script var statusDatabase= !{JSON.stringify(statusDatabase)}
script var shards= !{JSON.stringify(shards)}
  
 
canvas#myChart(width="900px" height="200px")


script
    include graphs.js
  
-
    var names =
    [
        "Almond"
        ,"Biscuit"
        ,"Cookie"
        ,"Daifuku"
        ,"Eclair"
        ,"Flan"
        ,"Gummybear"
        ,"Hazelnut"
        ,"Ice Cream"
        ,"Jelly"
        ,"Kuzumochi"
        ,"Lemondrop"
        ,"Melonpan"
        ,"Namagashi"
        ,"Okoshi"
        ,"Pancake"
        ,"Quesadilla"
        ,"Raspberry"
        ,"Sugarplum"
        ,"Truffle"
        ,"Upside-down Cake"
        ,"Vanilla"
        ,"Waffle"
        ,"Xanax"
        ,"Yogurt"
    ]


.shards
    each shd in shards
        -
            let thisShard = statusDatabase.filter(x=>x.shard==shd).slice(-1)[0]
            let downtime = Date.now()-(60000)-thisShard.timestamp;
            thisShard.timestamp < Date.now() - (60000) ? thisShard.status=99 : null;
            let thisDataset = {
                label: 'Shard #'+shd,      
                backgroundColor:'transparent',     
                borderColor: "#"+(Math.floor(Math.random() * (1 - 0x000000 + 0xffffff) + 0x000000)).toString(16),
                data: statusDatabase.filter(tm=>tm.shard === shd).map(itm=>itm.api_ping).slice(-60),
            }
            function toHHMMSS(x) {
                let sec_num = parseInt(x, 10);
                let hours   = Math.floor(sec_num / 3600);
                let days   = Math.floor(hours / 24);
                let minutes = Math.floor((sec_num - (hours * 3600)) / 60);
                let seconds = sec_num - (hours * 3600) - (minutes * 60);
                if (hours   < 10) {hours   = "0"+hours;}
                if (minutes < 10) {minutes = "0"+minutes;}
                if (seconds < 10) {seconds = "0"+seconds;}
                let time    = (hours!="00"?hours+'hr ':'')+minutes+'min ';
                    days > 1 ? time = days+" days " : time = time
                return time;
            }
        .plx-inline
            .shardSquare( 
                x-plx-tooltip=(thisShard.api_ping)+"ms" 
                class=`status-${thisShard.status} ${ (thisShard.api_ping>500? thisShard.api_ping>1000? "hipinger": "hiping": "")}`
                type="button"
                )
                span= names[shd]
            div(plx-drop="pos:bottom-left")
                .plx-card.plx-card-body.plx-card-default.plx-padding-small
                    .help <b>Status:</b> #{ thisShard.status == 0 ? "UP" : thisShard.status == 99 ? "DOWN" : thisShard.status == 2 ? "RECON" : thisShard.status == 5 ? "DYING" : "UNKNOWN"  }
                    if downtime > 30000
                        .help <b>Downtime:</b> #{toHHMMSS(downtime/1000)}
                    else
                        .help <b>Uptime:</b> #{toHHMMSS(thisShard.uptime/1000)}
                    .help <b>Servers:</b> #{thisShard.servers + " "}
                    .help <b>Users:</b> #{thisShard.users   + " "}
                    .help <b>Latency:</b> #{thisShard.api_ping   + "ms"}
                    //.help <b>Last Heartbeat:</b> #{new Date(thisShard.timestamp) }


