// TODO[epic=flicky] Storefront/Bundles - Finish bundles subpage
-
    bundle = {      
      "name" : "Bowsette Deluxe Bundle", 
      "price" : 383021.0, 
      "id" : "bowsettebundle", 
      "type" : "bundle", 
      "items" : [
          {
              "id" : "bowsette1", 
              "type" : "background"
          }, 
          {
              "id" : "bowsette2", 
              "type" : "background"
          }, 
          {
              "id" : "bowsette3", 
              "type" : "background"
          }, 
          {
              "id" : "bowsette4", 
              "type" : "background"
          }, 
          {
              "id" : "bowsette5", 
              "type" : "background"
          }, 
          {
              "id" : "bowsette6", 
              "type" : "background"
          }, 
          {
              "id" : "bowsette7", 
              "type" : "background"
          }, 
          {
              "id" : "bowsette8", 
              "type" : "background"
          }, 
          {
              "id" : "bowsette9", 
              "type" : "background"
          }, 
          {
              "id" : "bowsette10", 
              "type" : "background"
          }, 
          {
              "id" : "bowsetteex1", 
              "type" : "background"
          }, 
          {
              "id" : "bowsetteex2", 
              "type" : "background"
          }, 
          {
              "id" : "bowsette", 
              "type" : "sticker"
          }
      ], 
      "meta" : {
          "legacy" : true
      }
    }




.plx-bundle-card.plx-box-shadow-medium
    .card-img.plx-cover-container
        img.plx-cover(
            src="https://beta.pollux.gg/images/bundles/bowsette_nbsp.png",
            plx-cover
        )
        canvas(height="300", width="300")
    .card-body 
        .card-title
            h1.title #{bundle.name}
            h3.subtitle Limited time bundle
            hr.plx-divider-small
        .description
            p Curabitur sodales, felis eget suscipit dictum, dui purus ultrices nibh, imperdiet tristique orci enim a mi. Sed in viverra dui. In lobortis a leo ac facilisis. Sed fringilla odio sapien, nec imperdiet augue condimentum id. Etiam condimentum pellentesque euismod.
            //p <b>Victory Day</b> is a holiday that commemorates the victory of the Soviet Union over Nazi Germany in the Great Patriotic War. It was first inaugurated in the 16 republics of the Soviet Union, following the signing of the German Instrument of Surrender late in the evening on 8 May 1945 (after midnight, thus on 9 May Moscow Time). The Soviet government announced the victory early on 9 May after the signing ceremony in Berlin. Though the official inauguration occurred in 1945 the holiday became a non-labour day only in 1965 and only in certain Soviet republics.
        .preview
            ul.plx-thumbnav(plx-lightbox)
                // TODO[epic=flicky] Storefront/Bundles - Convert this to Vue
                each item in bundle.items
                    - let gallery = item.type == 'background' ? 'backdrops' : item.type == 'medal' ? 'medals' : item.type == 'sticker' ? 'stickers' : item.type == 'item' ? 'items' : 'build';
                    - let imgsrc = 'http://pollux.fun/' + gallery + '/' + item.id + '.png';
                    li: a(href=imgsrc) 
                        .plx-background-cover(
                            plx-img,
                            style="width:50px;height:50px;display:block;",
                            data-src=imgsrc
                        )
        .bottom.plx-flex-between.plx-flex
            .content-description
                - backgrounds = bundle.items.filter((x) => x.type == 'background').length;
                - medals = bundle.items.filter((x) => x.type == 'medal').length;
                - stickers = bundle.items.filter((x) => x.type == 'sticker').length;
                - items = bundle.items.filter((x) => x.type == 'item').length;
                h5: b This bundle contains:
                ul
                    if backgrounds
                        li #{backgrounds} x Backgrounds
                    if medals
                        li #{medals} x Medals
                    if stickers
                        li #{stickers} x Stickers
                    if items
                        li #{items} x Inventory Items
            .pricing 
                ul.plx-list
                    li.cash.plx-flex
                        .plx-rubine.icon24
                        span x #{bundle.price}
                    li.cash.plx-flex
                        .plx-sapphire.icon24
                        span x #{Math.ceil(bundle.price/3000)}
        .buttons.plx-flex.plx-flex-right
            .plx-button.plx-button-primary BUTTON
            .divider &#x2003
            .plx-button.plx-button-secondary BUTTON
