ul.plx-flex.plx-flex-center 
    li( v-for="(entry,i) in market" :data-index='i' v-bind:style="{'animation-delay': timeFun(i) + 'ms'}" v-if="!entry.completed && entry.itemdata").plx-animation-slide-bottom-small
        .market-entry.raritybox(  v-for="item in [entry.itemdata]", v-if="!!item", :class="[item.type,'raritybox',item.rarity,(entry.lock ? 'plx-disabled' : '')].join(' ')")
           div(v-if='item && entry') 
            

            .body
                    .img(v-if='item.type == "background"').background
                        .bg-image( v-bind:style="{backgroundImage: `url('/backdrops/${item.code}.png')`}")
                        .artist-tag(v-if="item.artistName")
                            i.fas.fa-paint-brush
                            a(:href="item.artistLink" target="blank") {{item.artistName}}
                        .artist-tag(v-else).unkai
                            i.fas.fa-paint-brush
                            a(href="/contact?ref=artist_missing" target="blank") Not informed


                    .img(v-if='item.type == "medal"').medal
                        img(plx-img :src="`/medals/${item.icon}.png`")
                    .img(v-if='item.type == "sticker"').sticker
                        img(plx-img :src="`/stickers/${item.id}.png`")
                    .img(v-if='item.type == "boosterpack"').sticker
                        img(plx-img :src="`/build/boosters/showcase/${item.icon}.png`")
                    .img(v-if='item.type == "skin"').skin
                        //assuming it is always DECK for now
                        // PLEASE CHANGE THIS
                        .container
                            img(plx-img :src="`/build/cards/${item.id.split('_').join('/')}/${item.id.startsWith('tarot')? 'star':'HQ'}.png`")
                            img(plx-img :src="`/build/cards/${item.id.split('_').join('/')}/backface.png`")
                    .img(v-if='["item","junk","consumable","material","key"].includes(item.type)').item
                        img(plx-img :src="`/build/items/${item.id}.png`")
            .infobox
                .author.truncate(v-if="entry.userdata")
                    .avatar(v-bind:style="{'background-image': `url('https://cdn.discordapp.com/avatars/${entry.userdata.id}/${entry.userdata.avatar}.png')`}")
                    .tag
                        a(:href="`/profile/${entry.author}`" target="blank").username {{entry.userdata.username}}
                .author.truncate(v-else)
                    | Unknown seller

                    
                .button.market(:class="'store-'+entry.type", @click="setCurrentItem(entry)", plx-toggle="#modal-market")
                    i: div(:class="`plx-${entry.currency}`").icon24
                    .price  {{ miliarize(entry.price||"UNK",0,' ') }} 
                .title.truncate {{item.name}}
                .isnew(v-if="entry.timestamp > Date.now() - 7 * 24 * 1000 * 60 * 60")
                    +svgBadge("new")
                        | NEW