-res = intersection.slice((C-1)*max,C*max)



-let Apages = []
-
    if(L>=9){

      if(C<5)         /*1 2 3 4 5 - 9*/ Apages=[F,F+1,F+2,F+3,F+4,"E",L];
      if(C>4&&L>=9)   /*1 - 4 5 6 - 9*/ Apages=[F,"E",P,  C,  N,  "E",L];
      if(C>L-5)       /*1 - 5 6 7 8 9*/ Apages=[F,"E",L-4,L-3,L-2,L-1,L];

    }else{
      for(i=0;i<L;i++){
        Apages.push(i+1)
        }
      }
      

mixin paging()
  .level
    div
      if P>0
        a(index=P).pagination-previous.button.is-primary.pgi
          i.fa.fa-arrow-circle-left
          |  
      else
        a.pagination-previous.button.is-primary.pgi(disabled)
          i.fa.fa-arrow-circle-left
          |  
    .pagination.well-sm#pagination
      ul.pagination-list
      
        each i in Apages
          if i == "E"
            li: span.pagination-ellipsis &hellip;
          else if i == C
                a.pagination-link.is-current(index=i).pgi= i
          else
                a.pagination-link(index=i).pgi= i
    div
      if N<=L
        a(index=N).pagination-previous.button.is-primary.pgi
          i.fa.fa-arrow-circle-right
          |  
      else
        a.pagination-previous.button.is-primary.pgi(disabled)
          i.fa.fa-arrow-circle-right
          |  


-var price = {UR:32520,SR:15250,R:8200,U:3100,C:1850}
-var rarmult = {UR:250,SR:100,R:50,U:25,C:10,}
+paging
.box.has-text-centered
  
    each val in res
      -let p1 = val.event ? false : val.price||price[val.rarity]
      -let p2 = Math.floor(p1 * 18.874) || false;
      -let p3 = Math.ceil(p1 / 3000 || false)|| false;
      -let p4 = val.event ? rarmult[val.rarity] : false
      -let R=val.rarity
      -let C=val.code
      -let U="/backdrops/"+val.code+".png"
      -let POS = userdata ? userdata.modules.bgInventory : []
      -let possessClass = POS.includes(val.code) ? "ihavethis" : ""
      //if userdata.id == "88120564400553984"
        pre= POS
        pre= possessClass
        
      
      // #{possessClass}
      a.openiv(PR=p1 PJ=p2 PS=p3 PE=p4 code=C namae=val.name  uri=U class=(R +" "+ possessClass) tags=val.tags).evholder
        img(src="/backdrops/"+val.code+".png" class="round-5  bgr no-filter event "+ongoingEvent)
        img(src="/images/tiers/"+val.rarity+".png").rarEv
        // a(title=bg.code  href=`/backdrops/${bg.code}.png`  data-lightbox=bg.rarity price=(bg.price||price[bg.rarity]) style="position:relative" class=bg.tags+" "+bg.rarity tags=bg.tags).filter.super-filter.evholder
            img(src="/backdrops/"+bg.code+".png" class="round-5  bgr" )
            img(src="/images/tiers/"+bg.rarity+".png").rarEv

+paging

//script(src='/js/lightbox.js')
script.  
          $(".pgi").unbind();
              $(".pgi").click(function(){
            var rarity = ($("#filter-rar").find(":selected").text())
            var tags = ($("#filter-tag").val()).replace(/ +/g,'+')
            var max = Number($("#filter-max").find(":selected").text())
            var event
            //var event = ($("#filter-event").is(":checked"))

            //let query =JSON.parse('!{JSON.stringify(query)}');
            //let inquery ="!{fullquery}";
              let  query = `?${"tags="+tags||query.tags||""}${"&rarity="+rarity||query.rarity||""}${"&event="+"&"||event||query.event||""}${"&max="+max||query.max||""}`
            let index =$(this).attr('index')
                console.log(query)
            $.get(`/bgs_page/${index}${query}`,function (data) {
              $('#bgfilt').html(data);
            })
          })

script(src='/js/bgshop_operations.js')